.record-form {
  width: 560px;
  margin: 0 auto;

  > p {
    margin-bottom: 40px;
  }

  .error {
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 1.4;
  }
}

.content-c {
  h1 {
    margin: 50px auto 40px;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9c9c9c;
    margin-top: -25px;
  }
}

.label-search {
  margin: 70px auto 0;
}

.flag {
  margin: 0;
}

.form-control-wrap {
  margin-bottom: 8px;
}


validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  chosen {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
  }
  .phone-code {
    width: 30%;
    min-width: 30%;
    margin-right: 5px;
  }

  .control {
    width: 100%;
    margin: 15px 0;
  }
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn {
    margin: 0 5px;
  }

  .btn-success {
    width: 160px;
  }
}

.error {
  font-size: 12px;
  margin-top: 10px;
  display: none;
}

.register-success {
  p {
    font-size: 16px;
    color: #9c9c9c;
    line-height: 1.6;
    margin: 20px 0;
  }
  .btn-success {
    margin-right: 15px;
  }
}