<div class="relative">

    <div *ngIf="!congratulations" class="content-c">

        <div *ngIf="!showForm">

            <h1>Create New Registrant Record</h1>

            <p>
                Registrant Records are created using Email address as the primary key. Please enter <br/>
                the new Registrant’s Email ID below to validate that an account already does not exist.
            </p>

            <div class="form-label label-search" [ngClass]="{ 'label-error' : !notError }">
                <input class="form-control" placeholder="Enter Email ID" type="text" [(ngModel)]="email" (change)="notError = true">
                <button class="btn" (click)="checkEmail()"><img src="~Img/btn-geo.svg"></button>
                <div class="error-text error">This email is busy</div>
            </div>

        </div>

        <form *ngIf="showForm" [formGroup]="form" class="record-form" onsubmit="return false" (submit)="createUser()">

            <h1>Complete Registrant Record</h1>
            <p>Please complete the details below for this record:</p>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">First Name:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="firstName">
                </div>
                <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label"> Last Name:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="lastName">
                </div>
                <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label"></label>
                    <div class="control">
                        <checkbox formControlName="company">Registrant is a Company or legal entity</checkbox>
                    </div>
                </div>
                <validation-message [errors]="form?.controls?.company.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Company/Entity Name:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="companyName">
                </div>
                <validation-message [errors]="form?.controls?.companyName.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Email:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="email">
                </div>
                <validation-message [errors]="form?.controls?.email.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="password">
                </div>
                <validation-message [errors]="form?.controls?.password.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Business Phone:</label>
                    <div class="phone-code">
                        <chosen chosenClass="chosen-custom" formControlName="phoneCode">
                            <option value="null"> </option>
                            <option *ngFor="let CODE of CODES" [value]="CODE.code">
                                <p class="flag flag-{{ CODE.iso2.toLowerCase() }}"></p>
                                +{{ CODE.code }}
                            </option>
                        </chosen>
                    </div>
                    <div>
                        <input type="text" class="form-control form-control-custom" formControlName="phoneNum" maxlength="9">
                        <input type="hidden" formControlName="mobilePhone">
                    </div>
                </div>
                <validation-message [errors]="form?.controls?.mobilePhone.errors"></validation-message>
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">URL:</label>
                    <input type="text" class="form-control form-control-custom" formControlName="companyUrl" placeholder="http://">
                </div>
                <validation-message [errors]="form?.controls?.companyUrl.errors"></validation-message>
            </div>

            <div class="error">
                Important:  When you update an Email ID of a Customer, ALL Geomains registered by this Customer will
                show the updated Email ID. The Customer Number however remains the same.
            </div>

            <div class="form-footer">
                <button class="btn btn-big" (click)="resetScreen()">Discard</button>
                <button class="btn btn-success btn-big">Create</button>
            </div>

        </form>

    </div>

    <div class="congratulations shadowed" *ngIf="congratulations">
        <h1>Congratulations!</h1>
        <p>
            Account for {{ form.value.firstName }} {{ form.value.lastName }} was successfully registered<br/> and confirmation link sent to his/her email.
        </p>
        <div class="congratulations-btns">
            <a class="btn btn-warning btn-big" (click)="resetScreen()">Create New Registrant</a><br/>
            <a class="btn btn-success btn-big" [routerLink]="['/registrar', 'register', user?.id]">Register Geoname for {{ form.value.firstName }} {{ form.value.lastName }}</a>
        </div>
    </div>

    <loader #loader></loader>

</div>

<modal #modal>
    <div class="register-success">

        <h1>Message</h1>

        <p>
            User with this email already exists. <br/>
            Do you want to register new Geomain Name for him?
        </p>

        <a class="btn btn-big btn-success" (click)="toRegisterGeoname()">Yes</a>
        <a class="btn btn-big" (click)="modal.close()">No</a>
    </div>
</modal>