.wrapper {
  height: 100%;
  padding-top: 84px;
  position: relative;
  padding-bottom: 228px;
}

main {
  height: 100%;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 330px;
  margin: 0 auto;
  position: relative;

  h1 {
    margin-bottom: 45px;
  }
}

.form-control {
  margin-bottom: 10px;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.btn {
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  font-weight: 600;
  width: 160px;
  margin-right: 15px;
}