.radio {
  display: inline-block;
  user-select: none;
  cursor: pointer;

  input {
    display: none;

    &:checked + span {
      opacity: 1;

      &:before {
        background: #3d3d3d;
      }
    }
  }

  span {
    display: inline-block;
    position: relative;
    font-weight: 600;
    line-height: 1.71;
    color: #3d3d3d;
    padding-left: 24px;
    opacity: .5;
    min-width: 19px;
    min-height: 19px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      border: solid 2px #3d3d3d;
      background: #fff;
      box-shadow: 0 0 0 2px #fff inset;
    }
  }
}