.geopage-head {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 8;

  @media(max-width: 1024px) {
    flex-direction: column;

    > * {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

geomain-sec-name {
  display: block;
  width: 100%;
}