<div class="geopage-head">

    <geomain-sec-name *ngIf="!geonumber?.id" [geonumber]="geonumber"></geomain-sec-name>

    <geomain-name *ngIf="geonumber?.id" [geonumber]="geonumber"></geomain-name>

    <geomain-links *ngIf="geonumber?.id" [geonumber]="geonumber"></geomain-links>

    <geomain-drop *ngIf="geonumber?.id" [geonumber]="geonumber"></geomain-drop>

</div>