<modal #modal>
    <h1>Confirm</h1>
    <p>
        <ng-content></ng-content>
    </p>
    <a class="btn btn-big" (click)="modal.close()">Cancel</a>
    <a class="btn btn-big btn-danger" (click)="onSuccess.emit()">Confirm!</a>
</modal>