<h1>All Transactions in your Account</h1>

<div class="form-label label-search">
    <input type="text" class="form-control" placeholder="Search">
    <button class="btn"><img src="~Img/btn-geo.svg" alt=""></button>
</div>

<div class="table-responsive">
    <div class="custom-table" *ngIf="data?.length">
        <div class="table-row table-head">
            <div class="table-cell">Date Time</div>
            <div class="table-cell">Transaction ID</div>
            <div class="table-cell">CSR ID</div>
            <div class="table-cell">Customer Number</div>
            <div class="table-cell">Product<br/>Code</div>
            <div class="table-cell table-cell-green">Credit</div>
            <div class="table-cell table-cell-green">Debit</div>
            <div class="table-cell table-cell-green">Balance</div>
        </div>
        <div class="table-row table-body" *ngFor="let trans of data">
            <div class="table-cell">{{ trans.date | date : 'dd MMM yyyy H:mm:ss' }}</div>
            <div class="table-cell"><span>{{ trans.transactionId }}</span></div>
            <div class="table-cell">{{ trans.csrId }}</div>
            <div class="table-cell"></div>
            <div class="table-cell">{{ trans.transactionType }}</div>
            <div class="table-cell"><div *ngIf="trans.credit">${{ trans.credit }}</div><div *ngIf="!trans.credit">$0</div></div>
            <div class="table-cell"><div *ngIf="trans.debit">${{ trans.debit }}</div><div *ngIf="!trans.debit">$0</div></div>
            <div class="table-cell">${{ trans.balance }}</div>
        </div>
    </div>
</div>

<div class="pagination" *ngIf="data?.length">
    <pagination [current]="page" [total]="total" (onChangePage)="onChangePage($event)"></pagination>
</div>

<div class="message" *ngIf="!data?.length">Transaction is empty</div>

<loader #loader></loader>