h1 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 30px;
}

.custom-table {
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
}

.table-cell {
  width: 12.5%;
  padding-left: 5px;
  padding-right: 5px;
}

.table-body {
  .table-cell {
    font-size: 15px;
    text-align: center;
    color: #3d3d3d;

    span {
      font-weight: 600;
      color: #4385f5;
    }
  }
}

.message {
  font-size: 16px;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

.pagination {
  text-align: center;
  margin-top: 25px;
}

pagination {
  display: inline-block;
}