.social-feed {
  background: #fff;
  border-radius: 10px;
}

.social-feed-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 15px 25px;

  h2 {
    margin: 0;
  }
}

.social-feed-content {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > p {
    margin: 0;
    padding: 5px 25px 25px;
  }
}

.social-feed-item {
  display: flex;
  align-items: flex-start;
  border-top: 2px solid rgba(194, 194, 194, .2);
  padding: 11px 25px 15px 25px;
}

.social-feed-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;

  img {
    display: block;
    width: 28px;
    height: 28px;
  }
}

.social-feed-item-content {
  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: #9c9c9c;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #222222;
    margin-top: 6px;
  }
}