<div class="social-feed shadowed">
    <div class="social-feed-head">
        <h2>Social Feed</h2>
        <!--<a><img src="~Img/ic-edit.svg" alt=""></a>-->
    </div>
    <div class="social-feed-content">
        <p *ngIf="!GeomainService?.geomain?.messages?.data?.length">No social activity yet</p>
        <ul>
            <li *ngFor="let message of GeomainService?.geomain?.messages?.data">
                <div class="social-feed-item">
                    <!--<div class="social-feed-icon">-->
                        <!--<img src="~Img/ic-facebook.png" alt="">-->
                    <!--</div>-->
                    <div class="social-feed-item-content">
                        <span>{{ message.created | date : 'h:mm a, dd MMMM yyyy' }}</span>
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>