.custom-table {
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
}

.table-cell {
  padding: 0 25px;
  white-space: nowrap;
}

.table-head {
  .table-cell {
    &:first-of-type {
      background: #86c93c;
      border-top-right-radius: 0;
      box-shadow: -1px 0 0 0 #fff inset;
    }
  }
}

.table-body {
  .table-cell {
    font-size: 15px;
    text-align: center;
    color: #3d3d3d;

    &:first-of-type {
      background: #86c93c;
      color: #fff;
      box-shadow: 0 1px 0 0 #fff inset, 0 -1px 0 0 #d6d6d6;
      text-align: left;
      font-weight: 600;
      font-size: 15px;
    }
  }
}