<div class="relative">

    <div class="table-responsive">
        <div class="custom-table">
            <div class="table-row table-head">
                <div class="table-cell"></div>
                <div class="table-cell">Top Up Amount (US $)</div>
                <div class="table-cell">Personal</div>
                <div class="table-cell">Business</div>
                <div class="table-cell">Government</div>
                <div class="table-cell">With 2 characters</div>
                <div class="table-cell">With 3 characters</div>
                <div class="table-cell">With 4 characters</div>
                <div class="table-cell">With 5 characters</div>
                <div class="table-cell">Banr</div>
                <div class="table-cell">Video Link</div>
                <div class="table-cell">Video Embedded</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Product Code</div>
                <div class="table-cell"></div>
                <div class="table-cell">PGN</div>
                <div class="table-cell">BGN</div>
                <div class="table-cell">GGN</div>
                <div class="table-cell">SR2</div>
                <div class="table-cell">SR3</div>
                <div class="table-cell">SR4</div>
                <div class="table-cell">SR5</div>
                <div class="table-cell">BANR</div>
                <div class="table-cell">VLNK</div>
                <div class="table-cell">VEMB</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Base Price</div>
                <div class="table-cell">{{ plans?.BASE?.min }} - {{ plans?.BASE?.max }}</div>
                <div class="table-cell">{{ plans?.BASE?.products?.PGN?.price }} ({{ plans?.BASE?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.BGN?.price }} ({{ plans?.BASE?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.GGN?.price }} ({{ plans?.BASE?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.SR2?.price }} ({{ plans?.BASE?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.SR3?.price }} ({{ plans?.BASE?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.SR4?.price }} ({{ plans?.BASE?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.SR5?.price }} ({{ plans?.BASE?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.BANR?.price }} ({{ plans?.BASE?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.VLNK?.price }} ({{ plans?.BASE?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BASE?.products?.VEMB?.price }} ({{ plans?.BASE?.products?.VEMB?.discount }}%)</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Bronze</div>
                <div class="table-cell">{{ plans?.BRONZE?.min }} - {{ plans?.BRONZE?.max }}</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.PGN?.price }} ({{ plans?.BRONZE?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.BGN?.price }} ({{ plans?.BRONZE?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.GGN?.price }} ({{ plans?.BRONZE?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.SR2?.price }} ({{ plans?.BRONZE?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.SR3?.price }} ({{ plans?.BRONZE?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.SR4?.price }} ({{ plans?.BRONZE?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.SR5?.price }} ({{ plans?.BRONZE?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.BANR?.price }} ({{ plans?.BRONZE?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.VLNK?.price }} ({{ plans?.BRONZE?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.BRONZE?.products?.VEMB?.price }} ({{ plans?.BRONZE?.products?.VEMB?.discount }}%)</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Silver</div>
                <div class="table-cell">{{ plans?.SILVER?.min }} - {{ plans?.SILVER?.max }}</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.PGN?.price }} ({{ plans?.SILVER?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.BGN?.price }} ({{ plans?.SILVER?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.GGN?.price }} ({{ plans?.SILVER?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.SR2?.price }} ({{ plans?.SILVER?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.SR3?.price }} ({{ plans?.SILVER?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.SR4?.price }} ({{ plans?.SILVER?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.SR5?.price }} ({{ plans?.SILVER?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.BANR?.price }} ({{ plans?.SILVER?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.VLNK?.price }} ({{ plans?.SILVER?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.SILVER?.products?.VEMB?.price }} ({{ plans?.SILVER?.products?.VEMB?.discount }}%)</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Gold</div>
                <div class="table-cell">{{ plans?.GOLD?.min }} - {{ plans?.GOLD?.max }}</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.PGN?.price }} ({{ plans?.GOLD?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.BGN?.price }} ({{ plans?.GOLD?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.GGN?.price }} ({{ plans?.GOLD?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.SR2?.price }} ({{ plans?.GOLD?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.SR3?.price }} ({{ plans?.GOLD?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.SR4?.price }} ({{ plans?.GOLD?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.SR5?.price }} ({{ plans?.GOLD?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.BANR?.price }} ({{ plans?.GOLD?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.VLNK?.price }} ({{ plans?.GOLD?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.GOLD?.products?.VEMB?.price }} ({{ plans?.GOLD?.products?.VEMB?.discount }}%)</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Diamond</div>
                <div class="table-cell">{{ plans?.DIAMOND?.min }} - {{ plans?.DIAMOND?.max }}</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.PGN?.price }} ({{ plans?.DIAMOND?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.BGN?.price }} ({{ plans?.DIAMOND?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.GGN?.price }} ({{ plans?.DIAMOND?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.SR2?.price }} ({{ plans?.DIAMOND?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.SR3?.price }} ({{ plans?.DIAMOND?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.SR4?.price }} ({{ plans?.DIAMOND?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.SR5?.price }} ({{ plans?.DIAMOND?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.BANR?.price }} ({{ plans?.DIAMOND?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.VLNK?.price }} ({{ plans?.DIAMOND?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.DIAMOND?.products?.VEMB?.price }} ({{ plans?.DIAMOND?.products?.VEMB?.discount }}%)</div>
            </div>
            <div class="table-row table-body">
                <div class="table-cell">Platinum</div>
                <div class="table-cell">{{ plans?.PLATINUM?.min }} - {{ plans?.PLATINUM?.max }}</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.PGN?.price }} ({{ plans?.PLATINUM?.products?.PGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.BGN?.price }} ({{ plans?.PLATINUM?.products?.BGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.GGN?.price }} ({{ plans?.PLATINUM?.products?.GGN?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.SR2?.price }} ({{ plans?.PLATINUM?.products?.SR2?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.SR3?.price }} ({{ plans?.PLATINUM?.products?.SR3?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.SR4?.price }} ({{ plans?.PLATINUM?.products?.SR4?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.SR5?.price }} ({{ plans?.PLATINUM?.products?.SR5?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.BANR?.price }} ({{ plans?.PLATINUM?.products?.BANR?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.VLNK?.price }} ({{ plans?.PLATINUM?.products?.VLNK?.discount }}%)</div>
                <div class="table-cell">{{ plans?.PLATINUM?.products?.VEMB?.price }} ({{ plans?.PLATINUM?.products?.VEMB?.discount }}%)</div>
            </div>
        </div>
    </div>

    <loader #loader></loader>
</div>