<div class="{{chosenClass}}">
    <select [name]="name" #select class="form-control" [attr.data-placeholder]="placeholder" (change)="propagateChange($event.target.value)" [disabled]="disabled">
        <ng-content></ng-content>
    </select>
</div>
