.chosen-default,
.chosen-custom {
  .chosen-single {
    height: 44px !important;
    line-height: 44px !important;
    background: #fff !important;
    border-radius: 4px !important;
    box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2) !important;
    border: none !important;
    display: block !important;
    padding: 0 25px !important;
    font-size: 14px !important;
    color: #9c9c9c !important;
    font-weight: 400 !important;

    div {
      top: 11px !important;
      right: 14px !important;
      display: block !important;
      width: 11px !important;
      height: 23px !important;
    }

    .search-choice-close {
      display: none !important;
    }
  }

  //.chosen-search {
  //  display: none !important;
  //}

  .chosen-drop {
    border: none !important;
  }

  .chosen-container .chosen-results {
    padding-top: 5px !important;
  }
}

.chosen-custom {
  .chosen-single {
    box-shadow: none !important;
    border: solid 1px #ebeced !important;
    background: linear-gradient(to bottom, #ffffff, #f7f7f7), linear-gradient(#ffffff, #ffffff) !important;
  }
}