.dashboard-content {
  position: relative;
  z-index: 2;
  border-radius: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  padding: 45px 35px;
}

.balances {
  border-radius: 4px;
  border: solid 0.8px #e1e6eb;
  height: 72px;
  display: flex;

  @media(max-width: 1024px) {
    flex-direction: column;
    height: auto;
  }
}

.balance {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 23px;
  border-right: 1px solid #e1e6eb;

  &:last-of-type {
    border-right: none;
  }

  span {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #4385f5;
  }

  p {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #3d3d3d;
    white-space: nowrap;
  }

  @media(max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid #e1e6eb;
    height: 72px;

    &:last-of-type {
      border-bottom: none;
    }

    p {
      white-space: normal !important;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  div {
    &:first-of-type {
      width: 335px;
      max-width: 335px;
    }

    &:last-of-type {
      width: 575px;
    }
  }

  @media(max-width: 1024px) {
    flex-direction: column;

    div {
      width: 100% !important;
      max-width: 100% !important;

      &:first-of-type {
        margin-bottom: 15px;
      }
    }
  }
}