<div class="relative">

    <div class="dashboard-content">
        <div class="balances">
            <div class="balance">
                <span>{{ data?.countRegistrants }}</span>
                <p>Registrants</p>
            </div>
            <div class="balance">
                <span>{{ data?.countNumberGeomain }}</span>
                <p>Number of Geomains sold</p>
            </div>
            <div class="balance">
                <span>{{ data?.amountDebited }}</span>
                <p>Amount Debited for Geomains</p>
            </div>
            <div class="balance">
                <span>{{ data?.amountDebitedAddons }}</span>
                <p>Amount Debited for Add-on Services</p>
            </div>
        </div>

        <div class="flex graph-flex">
            <div>
                <chosen chosenClass="chosen-custom" [(ngModel)]="period" (change)="getData()">
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="all">All Time</option>
                </chosen>
            </div>
            <div>
                <canvas *ngIf="chartData" [data]="chartData" lineChart></canvas>
            </div>
        </div>
    </div>

    <loader #loader></loader>

</div>