<div class="footer">
    <div class="container">
        <div class="links">
            <div class="social-links">
                <ul>
                    <li>
                        <a href="http://www.mygeomain.com/geomaininc">
                            <img src="~Img/ic-soc-geo.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Geomain-1594574797247737/" target="_blank">
                            <img src="~Img/ic-soc-facebook.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/myGeomain">
                            <img src="~Img/ic-soc-twitter.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mygeomain/">
                            <img src="~Img/ic-soc-insta.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/13218134" target="_blank">
                            <img src="~Img/ic-soc-linkedin.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-links">
                <ul>
                    <li>
                        <a target="_blank" href="https://itunes.apple.com/ua/app/geomain-the-nextgen-address/id1375477836?mt=8">
                            <img src="~Img/app-store.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~Img/google-play.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<p>-->
            <!--Provision of this service incorporates Geomain-owned and developed Intellectual-->
            <!--Property – including but not limited to enforceable Copyrights,-->
            <!--Patents (issued & pending) & Trademarks-->
        <!--</p>-->

        <div class="copyright">
            &copy; 2017 All Rights Reserved. Geomain Inc.
        </div>
    </div>
</div>