.footer {
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-top: 16px;

  @media(max-width: 540px) {
    height: 170px;
  }

  p {
    line-height: 1.17;
    text-align: center;
    color: #9c9c9c;
    padding: 0 90px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 540px) {
    flex-direction: column;
  }
}

.social-links {

  @media(max-width: 540px) {
    margin-bottom: 15px;
  }

  ul {
    letter-spacing: normal;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    + li {
      margin-left: 14px;
    }
  }

  img {
    width: 36px;
    height: 36px;
    display: block;
  }

  a {
    &:hover {
      opacity: .8;
    }
  }
}

.app-links {
  ul {
    letter-spacing: normal;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    + li {
      margin-left: 14px;
    }
  }

  img {
    width: 116px;
    height: 36px;
    display: block;
  }
}

.copyright {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #222222;
  margin-top: 30px;

  @media(max-width: 540px) {
    margin-top: 15px;
  }
}