<h1>BULK REGISTRATIONS</h1>

<div class="content shadowed">

    <p>If you wish to Register more than 10 Geomain Names, you can opt to use our <span>FREE Bulk Registration</span> service... </p>

    <p>
        Please email us at <a href="mailto:bulk@geomain.org">bulk@geomain.org</a> from your Registered Account email ID) requesting Bulk Registration, or submit
        the Geomain Names via our <a href="javascript:void(0)">Support page</a>, specifying all  the Geomain names that you wish to Register.
    </p>

    <p class="text-uppercase">
        Please specify the following against each Geomain in the list:
    </p>

    <ul>
        <li>Registrant’s First Name</li>
        <li>Registrant’s Last Name</li>
        <li>Company Name (if Registrant is a company)</li>
        <li>Registrant’s Email ID</li>
        <li>Category of Geomain</li>
        <li>Term of Registration</li>
    </ul>

    <p>Once processed (subject to availability), we will debit your account and email you the Registration Confirmation</p>

    <a class="btn btn-big btn-success">Got it!</a>

</div>