h1 {
  text-transform: uppercase;
  margin: 45px 0 25px;
}

.content {
  background: #fff;
  border-radius: 10px;
  padding: 15px 35px 40px;
}

p {
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3d3d3d;

  span,
  &.text-uppercase {
    font-weight: 500;
  }

  a {
    color: #4385f5;
    font-weight: 500;
  }
}

ul {
  li {
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: 0.2px;
    color: #3d3d3d;
  }
}