<agm-map (mapReady)="mapReady($event)" #map [latitude]="GeomainService?.geomain?.lat" [longitude]="GeomainService?.geomain?.lon" [zoom]="15">
    <agm-marker
            *ngIf="GeomainService?.geomain?.lat && GeomainService?.geomain?.lon"
            [latitude]="GeomainService?.geomain?.lat"
            [longitude]="GeomainService?.geomain?.lon"
            iconUrl="{{ Helpers.loadImage('ic-geo-pin.png') }}">
    </agm-marker>
</agm-map>

<error #error title="''" error="Unfortunatelly, there are is no straight route to this location"></error>