.container {
  padding-top: 55px;
  padding-bottom: 55px;

  @media(max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

registrar-header {
  display: block;
  margin-bottom: 20px;
}