h1 {
  text-align: center;
  margin: 45px 0 30px;
}

.dpp-sequrity {
  padding: 25px 30px 20px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 768px) {
    flex-direction: column;

    .dpp-switch {
      margin-top: 20px;
      padding: 0;
    }
  }

  h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: 0.3px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 0;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #9c9c9c;
    margin-bottom: 0;
  }
}

.dpp-switch {
  padding: 0 25px 0 80px;
}

.seq-container {
  border-radius: 10px;
  background: #fff;

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #9c9c9c;
  }

}

.seq-head {
  border-bottom: solid 1px rgba(151,151,151,.5);
  padding: 35px 30px 25px;

  h2 {
    text-transform: uppercase;
    font-size: 23px;
  }

  p {
    margin-bottom: 0;
  }
}

.seq-body {
  display: flex;
  justify-content: space-between;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.seq-content {
  width: 490px;
  padding: 35px 30px;
  min-height: 360px;

  @media(max-width: 768px) {
    width: 100%;
  }
}

.sequrity-approve {

  display: flex;
  justify-content: center;

  h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: 0.3px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }
}

.sequrity-method {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 35px 0;
  }

  p {
    margin-top: 0;
  }
}

.email-form {
  text-align: center;

  p {
    margin: 20px 0 40px;
  }

  .form-control {
    height: 50px;
    width: 320px;
    margin-bottom: 10px;
  }

  .btn {
    display: block;
    width: 160px;
    margin: 36px auto 0;
  }

  .forgot-pass {
    margin-top: 20px;

    a {
      font-size: 13px;
      font-weight: bold;
      line-height: 1.85;
      letter-spacing: 0.3px;
      text-align: center;
      color: #9c9c9c;
    }
  }
}

.pin-input {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  padding: 14px;

  input {
    width: 24px;
    height: 32px;
    text-align: center;
    border: none;
    background: #fff;
    border-bottom: 2px solid rgba(173, 177, 184, 0.56);
    font-size: 30px;
  }
}

.register-success {
  padding-bottom: 30px;

  h1 {
    text-transform: none;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9c9c9c;
  }
}