<h1>Security</h1>

<div class="dpp-sequrity shadowed">
    <div>
        <h2>Secure your whois information with dpp</h2>
        <p>
            Privacy Protect is a feature which when activated prevents anyone from viewing your Geomain’s WHOIS record.
            Your Geomain comes with free DPP or Dynamic Privacy Protect, that you can enable or disable at any time.
            When this button is switched off, anyone can view the following information in your WHOIS record:
        </p>
    </div>
    <div class="dpp-switch">
        <label class="switch">
            <input type="checkbox" (change)="updateDpp($event.target.checked)" [(ngModel)]="GeomainService.geomain.privacyProtect">
            <span></span>
        </label>
    </div>
</div>

<div class="seq-container shadowed">

    <div class="seq-head">
        <h2>Secure your geomain page</h2>
        <p>
            We care about your privacy. You can restrict access to your Geomain page to only those people who know
            your Email ID, Phone Number or with whom you share a 4 digit PIN (Personal Identification Number)
            that you choose:
        </p>
    </div>

    <div class="seq-body">
        <div class="seq-content sequrity-method">
            <p>Please choose what do you need.</p>
            <ul>
                <li>
                    <label class="custom-radio" (click)="selectMethod(); disableSecutity()">
                        <input type="radio" name="sequrity-method" [checked]="method == 'DISABLED'">
                        <span>Allow anyone  to access my page</span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio" (click)="selectMethod('PIN')">
                        <input type="radio" name="sequrity-method" [checked]="method == 'PIN'">
                        <span>Protect my page with a <br/>PIN code</span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio" (click)="selectMethod('EMAIL')">
                        <input type="radio" name="sequrity-method" [checked]="method == 'EMAIL'">
                        <span>Allow access to anyone who <br/>knows this email</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="seq-content sequrity-approve" *ngIf="method != 'DISABLED'">
            <div *ngIf="method == 'EMAIL'">
                <h2>Email access setup</h2>
                <form class="email-form" [formGroup]="emailForm" (submit)="saveEmail()" onsubmit="return false">
                    <p>Please enter the email to gain an access</p>
                    <input formControlName="email" type="text" name="email" placeholder="Email" class="form-control">
                    <button class="btn btn-success btn-big">Save</button>
                    <!--<div class="forgot-pass">-->
                    <!--<a href="javascript:void(0)">Forgot Email?</a>-->
                    <!--</div>-->
                </form>
            </div>
            <div *ngIf="method == 'PIN'">
                <h2>Create your PIN</h2>
                <form class="email-form" [formGroup]="pinForm" (submit)="savePin()" onsubmit="return false">
                    <p>Please enter new PIN</p>
                    <div class="pin">
                        <label class="pin-input">
                            <input formControlName="one" #one maxlength="1" (focus)="select(one)" (input)="focusElem(two)">
                        </label>
                        <label class="pin-input">
                            <input formControlName="two" #two maxlength="1" (focus)="select(two)" (input)="focusElem(three)">
                        </label>
                        <label class="pin-input">
                            <input formControlName="three" #three maxlength="1" (focus)="select(three)" (input)="focusElem(four)">
                        </label>
                        <label class="pin-input">
                            <input formControlName="four" #four maxlength="1" (focus)="select(four)">
                        </label>
                    </div>
                    <button class="btn btn-success btn-big">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<loader #loader></loader>

<modal #modalPin>
    <div class="register-success">
        <h1>Success</h1>
        <p>
            Your new PIN is now active. <br/>
            Please use this same PIN to validate your Geomain and/or share this <br/>with people whom you wish to allow access to your page.
        </p>
        <a class="btn btn-big btn-success" (click)="modalPin.close()">Got it!</a>
    </div>
</modal>
<modal #modalEmail>
    <div class="register-success">
        <h1>Success</h1>
        <p>
            Your new Email is now active. <br/>
            Please use this same Email to validate your Geomain and/or share this <br/>with people whom you wish to allow access to your page.
        </p>
        <a class="btn btn-big btn-success" (click)="modalEmail.close()">Got it!</a>
    </div>
</modal>

<error #error [error]="serverError"></error>