.geopage-drop {
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: #fff;
  cursor: pointer;

  a {
    height: 100%;
    padding: 19px 0 19px 13px;
  }

  .drop-title,
  .drop-selected {
    color: #222222;
  }
}

.geopage-drop-warning,
.geopage-drop-success,
.geopage-drop-danger {
  .drop-title,
  .drop-selected {
    color: #fff;
  }
}

.geopage-drop-success {
  background: #86c93c;
}

.geopage-drop-warning {
  background: #f7d96a;
}

.geopage-drop-danger {
  background: #ff0200;
}

.drop-title {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 1.2;
}

.drop-selected {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.drop-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  z-index: 99;
  top: 100%;
  right: 0;
  left: auto;
  width: 320px;
  background: #fff;
  border-radius: 10px;
  min-width: 100%;
  overflow: hidden;
  margin-top: 5px;

  @media(max-width: 768px) {
    width: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.graph {
  .dropdown-menu {
    width: 280px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    > span {
      font-weight: 600;
      width: 35px;
    }

    > div {
      width: 115px;
      text-align: right;
    }
  }


  .show-list {
    li {
      > div {
        width: 85px;
      }
    }
  }

  .form-control {
    width: 50px;
    padding: 0;
    text-align: center;
  }
}