<div class="drop-container dropdown" dropdown *ngIf="geonumber?.category != GEONUMBER_CATEGORY.BUSINESS">

    <div dropdown-open class="geopage-drop shadowed {{ VISITOR_POLICY[geonumber?.visitorPolicy]?.clas }}">
        <div>
            <div class="drop-title">{{ VISITOR_POLICY[geonumber?.visitorPolicy]?.name }}</div>
        </div>
        <a *ngIf="AuthorizationService?.user?.id == geonumber?.owner?.id"><img src="~Img/ic-arrow-white.svg" alt=""></a>
    </div>

    <div class="dropdown-menu shadowed" *ngIf="AuthorizationService?.user?.id == geonumber?.owner?.id">
        <ul>
            <li (click)="changeCategory(VISITOR_POLICY.IVO.value)">{{ VISITOR_POLICY.IVO.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FWA.value)">{{ VISITOR_POLICY.FWA.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FWWE.value)">{{ VISITOR_POLICY.FWWE.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FWW.value)">{{ VISITOR_POLICY.FWW.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FRWA.value)">{{ VISITOR_POLICY.FRWA.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FRWWE.value)">{{ VISITOR_POLICY.FRWWE.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FRWW.value)">{{ VISITOR_POLICY.FRWW.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FFWA.value)">{{ VISITOR_POLICY.FFWA.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FFWWE.value)">{{ VISITOR_POLICY.FFWWE.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.FFWW.value)">{{ VISITOR_POLICY.FFWW.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.NVP.value)">{{ VISITOR_POLICY.NVP.name }}</li>
            <li (click)="changeCategory(VISITOR_POLICY.EO.value)">{{ VISITOR_POLICY.EO.name }}</li>
        </ul>
    </div>

</div>

<div class="drop-container dropdown graph" dropdown *ngIf="geonumber?.category == GEONUMBER_CATEGORY.BUSINESS">
    <div dropdown-open class="geopage-drop shadowed geopage-drop-success">
        <div>
            <div class="drop-title">Business Hours</div>
        </div>
        <a><img src="~Img/ic-arrow-white.svg" alt=""></a>
    </div>

    <div class="dropdown-menu shadowed" dropdown-not-closable-zone *ngIf="graphic">
        <ul class="show-list" *ngIf="AuthorizationService.user?.id != geonumber.ownerId">
            <li>
                <span>MON</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.MO.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>TUE</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.TU.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>WED</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.WE.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>THU</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.TH.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>FRI</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.FR.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>SAT</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.SA.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
            <li>
                <span>SUN</span>
                <label class="switch">
                    <input type="checkbox" disabled [checked]="graphic.SU.enabled">
                    <span></span>
                </label>
                <div>
                    {{ graphic.MO.timeFrom }} - {{ graphic.MO.timeTo }}
                </div>
            </li>
        </ul>
        <ul class="edit-list" *ngIf="AuthorizationService.user?.id == geonumber.ownerId">
            <li>
                <span>MON</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.MO.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.MO.timeFrom" (change)="graphic.MO.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.MO.timeTo" (change)="graphic.MO.timeTo = $event">
                </div>
            </li>
            <li>
                <span>TUE</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.TU.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.TU.timeFrom" (change)="graphic.TU.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.TU.timeTo" (change)="graphic.TU.timeTo = $event">
                </div>
            </li>
            <li>
                <span>WED</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.WE.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.WE.timeFrom" (change)="graphic.WE.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.WE.timeTo" (change)="graphic.WE.timeTo = $event">
                </div>
            </li>
            <li>
                <span>THU</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.TH.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.TH.timeFrom" (change)="graphic.TH.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.TH.timeTo" (change)="graphic.TH.timeTo = $event">
                </div>
            </li>
            <li>
                <span>FRI</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.FR.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.FR.timeFrom" (change)="graphic.FR.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.FR.timeTo" (change)="graphic.FR.timeTo = $event">
                </div>
            </li>
            <li>
                <span>SAT</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.SA.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.SA.timeFrom" (change)="graphic.SA.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.SA.timeTo" (change)="graphic.SA.timeTo = $event">
                </div>
            </li>
            <li>
                <span>SUN</span>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="graphic.SU.enabled">
                    <span></span>
                </label>
                <div>
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.SU.timeFrom" (change)="graphic.SU.timeFrom = $event">
                    -
                    <input type="text" class="form-control" inputmask [options]="{alias : 'hh:mm'}" [value]="graphic.SU.timeTo" (change)="graphic.SU.timeTo = $event">
                </div>
            </li>
        </ul>
    </div>

</div>