<div class="relative">

    <h1 class="first">Manage Registrants & Geomains</h1>
    <!--<p class="sub-title">A simple way to create new registrant record</p>-->

    <div class="text-center center-btn">
        <button class="btn btn-warning  " routerLink="registrar-create">Create new Registrant Record</button>
    </div>

    <div class="search-form">

        <chosen placeholder="Select type:" [(ngModel)]="type">
            <option [value]="SEARCH_TYPES.RE">Registrant Email</option>
            <option [value]="SEARCH_TYPES.CN">Customer Number</option>
            <option [value]="SEARCH_TYPES.GN">Geomain</option>
            <option [value]="SEARCH_TYPES.CI">CSR ID</option>
        </chosen>

        <span>is</span>

        <input type="text" class="form-control" [(ngModel)]="search">

        <button class="btn btn-success" (click)="find()">Search</button>

    </div>

    <div *ngIf="data?.length">
        <div class="table-descr" *ngIf="findedType == SEARCH_TYPES.RE || findedType == SEARCH_TYPES.CN">
            <p>Click on a Name to view/edit a Record.</p>
            <span>Showing {{ data?.length }} of {{ data?.length }} Record(s)</span>
        </div>
        <div class="table-descr" *ngIf="findedType == SEARCH_TYPES.GN">
            <p>Click on a Geomain Name or Customer Number to view/edit a Record.</p>
            <span>Showing {{ data?.length }} of {{ data?.length }} Record(s)</span>
        </div>
        <div class="custom-table" *ngIf="findedType == SEARCH_TYPES.GN">
            <div class="table-row table-head">
                <div class="table-cell">Category</div>
                <div class="table-cell">CsrId</div>
                <div class="table-cell">Customer Number</div>
                <div class="table-cell">Email</div>
                <div class="table-cell">Expiry Date</div>
                <div class="table-cell">Geomain Name</div>
                <div class="table-cell">Geomain Number</div>
                <div class="table-cell">Premium</div>
                <div class="table-cell">Status</div>
            </div>
            <div class="table-row table-body" *ngFor="let geomain of data">
                <div class="table-cell">{{ geomain.category }}</div>
                <div class="table-cell">{{ geomain.csrId }}</div>
                <div class="table-cell">{{ geomain.customerNumber }}</div>
                <div class="table-cell">{{ geomain.email }}</div>
                <div class="table-cell">{{ geomain.expiryDate }}</div>
                <div class="table-cell"><a [routerLink]="geomain.geoName">{{ geomain.geoName }}</a></div>
                <div class="table-cell"><a [routerLink]="geomain.geoNumber">{{ geomain.geoNumber }}</a></div>
                <div class="table-cell">
                    <span *ngIf="geomain.premium">Yes</span>
                    <span *ngIf="!geomain.premium">No</span>
                </div>
                <div class="table-cell">{{ geomain.status }}</div>
            </div>
        </div>
        <div class="custom-table" *ngIf="findedType == SEARCH_TYPES.RE || findedType == SEARCH_TYPES.CN">
            <div class="table-row table-head">
                <div class="table-cell">Customer Number</div>
                <div class="table-cell">Name</div>
                <div class="table-cell">Email</div>
                <div class="table-cell">Registered</div>
            </div>
            <div class="table-row table-body" *ngFor="let user of data">
                <div class="table-cell">{{ user.customerNumber }}</div>
                <div class="table-cell"><a [routerLink]="['registrar-record', user.id]">{{ user.firstName +' '+ user.lastName }}</a></div>
                <div class="table-cell"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                <div class="table-cell">{{ user.registrationDate }}</div>
            </div>
        </div>
        <div class="custom-table" *ngIf="findedType == SEARCH_TYPES.CI">
            <div class="table-row table-head">
                <div class="table-cell">CsrId</div>
                <div class="table-cell">Name</div>
                <div class="table-cell">Email</div>
            </div>
            <div class="table-row table-body" *ngFor="let user of data">
                <div class="table-cell">{{ user.csrId }}</div>
                <div class="table-cell">{{ user.name }}</div>
                <div class="table-cell">{{ user.email }}</div>
            </div>
        </div>
    </div>

    <div class="empty-err shadowed" *ngIf="!data?.length">
        Enter your search query to see Records
    </div>

    <loader #loader></loader>

</div>