.first {
  margin-top: 45px;

  @media(max-width: 1024px) {
    margin-top: 15px;
  }
}

.sub-title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    width: 266px;
  }

  chosen,
  .form-control {
    width: 336px;
  }
}

.table-descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 5px;

  p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #3d3d3d;
  }

  span {
    font-size: 13px;
    text-align: right;
    color: #9c9c9c;
  }
}

.custom-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
  background: #fff;

  .table-head {
    background: #f8f8f8;
  }

  .table-cell {
    width: 72px;
    padding: 0 5px;
    word-break: break-all;
  }

  .table-body {
    text-align: center;

    .table-cell {
      padding: 40px 5px;
      font-size: 17px;
      line-height: 1.2;
    }

    a {
      font-weight: 600;
      text-align: center;
      color: #4385f5;

      &.email {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

.center-btn {
  margin-top: 40px;
  margin-bottom: 45px;

  @media(max-width: 1024px) {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.empty-err {
  border-radius: 10px;
  background: #fff;
  padding: 70px 10px;
  font-size: 17px;
  text-align: center;
  color: #9c9c9c;
  margin-top: 70px;
}