@header_height : 84px;

.header {
  height: @header_height;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .container {
    height: @header_height;
    display: flex;
    align-items: center;
  }
}

.menu {
  width: 51px;
  position: relative;

  &.open {
    .menu-btn {
      span {

        background: transparent;

        &:before {
          top: 0;
          transform: rotate(-45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.menu-btn {
  display: block;
  width: 51px;
  height: 84px;
  padding: 34px 13px 33px;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    margin: 7px 0;
    position: relative;

    &:before, &:after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
    }

    &:before {
      top: -7px;
    }

    &:after {
      bottom: -7px;
    }
  }
}

.navigation {
  position: absolute;
  z-index: 99;
  width: 228px;
  top: 100%;
  margin-top: 12px;
  background: #fff;
  border-radius: 4px;
  //box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);

  &:before {
    content: "";
    display: block;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 13px;
    bottom: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(151, 151, 151, .15);
    }

    &.hide-on-mobile {
      display: none;
      @media(max-width: 540px) {
        display: block;
      }
    }
  }

  a {
    font-size: 14px;
    font-weight: 600;
    line-height: 2.57;
    letter-spacing: 0.3px;
    text-decoration: none;
    padding: 0 24px;
    text-align: left;
    color: #3d3d3d;
    display: block;

    &:hover {
      background: rgba(151, 151, 151, .05);
    }
  }
}

.logo {
  width: 100%;
  padding-left: 33px;

  a {
    text-decoration: none;
    display: flex;
    position: relative;
    width: 295px;
    white-space: nowrap;
    top: 2px;


  }

  img {
    width: 164px;
  }

  span {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.18;
    letter-spacing: 0.2px;
    color: #c2c2c2;
    position: relative;
    top: 3px;
    margin-left: 9px;
  }

  @media(max-width: 768px) {
    padding-left: 10px;

    a {
      width: 165px;
    }

    span {
      display: none;
    }
  }
}

.header-btns {
  white-space: nowrap;

  .btn + .btn {
    margin-left: 21px;

    @media(max-width: 768px) {
      margin-left: 5px;
    }
  }

  @media(max-width: 540px) {
    display: none;
  }
}

.user-avatar {
  display: block;
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 3px 8px 0 rgba(45, 55, 73, 0.12);
  border: solid 3px #ffffff;
  background-color: #f3f3f3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


}

.user-avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-left: 8px;
  }
}

.profile-menu {
  margin-top: 5px;
  width: 300px;
  left: auto;
  right: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 9px 0 rgba(20, 28, 41, 0.11), 0 4px 9px 0 rgba(20, 28, 41, 0.11) !important;
  overflow: hidden;
}

.profile-info {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-info {
  margin-left: 20px;
  span {
    display: block;
  }
}

.user-name {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.2px;
  color: #222222;
}

.profile-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #66718d;
}

.logout {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  display: block;
  height: 56px;
  line-height: 56px;
  background-color: #f7f8fa;
  text-align: center;
  color: #3d3d3d;
  box-shadow: inset 0 1px 3px 0 rgba(152, 159, 175, 0.13);
  cursor: pointer;
}