<div class="header">
    <div class="container">

        <div class="dropdown menu" dropdown>

            <a dropdown-open href="javascript:void(0)" class="menu-btn">
                <span></span>
            </a>
            
            <nav class="navigation dropdown-menu">
                <ul>
                    <li class="hide-on-mobile" *ngIf="!AuthorizationService.isAuthenticated" (click)="nawShowed = false"><a [routerLink]="['/auth', 'login']">Sign in</a></li>
                    <li (click)="nawShowed = false"><a [routerLink]="['']">Home</a></li>
                    <!--<li (click)="nawShowed = false"><a [routerLink]="['/register']">Get Geomain Number</a></li>-->
                    <li (click)="nawShowed = false"><a [routerLink]="['/geomain-name']">Get Geomain Name</a></li>
                    <li (click)="nawShowed = false"><a [routerLink]="['/who-is']">WhoIs?</a></li>
                    <li (click)="nawShowed = false" *ngIf="!AuthorizationService.isAuthenticated"><a [routerLink]="['/auth', 'registrar-login']">Registrars</a></li>
                    <li (click)="nawShowed = false"><a [routerLink]="['/business-sol']">Business Solutions</a></li>
                    <li (click)="nawShowed = false"><a [routerLink]="['/faq']">FAQs</a></li>
                    <li (click)="nawShowed = false"><a [routerLink]="['/support']">Support</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="logo">
            <a [routerLink]="['/']">
                <img src="~Img/logo.svg" width="291" alt="">
                <span>The New Address</span>
            </a>
        </div>

        <div class="header-btns" *ngIf="showButtons && !AuthorizationService.isAuthenticated">
            <a [routerLink]="['/auth', 'login']" class="btn">Sign in</a>
            <!--<a [routerLink]="['/register']" class="btn btn-primary">Get my Geomain</a>-->
        </div>

        <div class="dropdown" dropdown *ngIf="AuthorizationService.isAuthenticated">
            <div dropdown-open class="user-avatar-container">
                <a class="user-avatar" [ngStyle]="{ 'background-image' : 'url('+AuthorizationService?.user?.photoLink+')'}"></a>
                <img src="~Img/ic-arrow-grey.svg" alt="">
            </div>
            <div class="dropdown-menu profile-menu">
                <a *ngIf="!AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/profile']" class="profile-info">
                    <div class="user-avatar" [ngStyle]="{ 'background-image' : 'url('+AuthorizationService?.user?.photoLink+')'}"></div>
                    <div class="user-info">
                        <span class="user-name">{{ AuthorizationService?.user?.fullName }}</span>
                        <span class="profile-link">User Profile</span>
                    </div>
                </a>
                <a *ngIf="AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/registrar', 'dashboard']" class="profile-info">
                    <div class="user-avatar" [ngStyle]="{ 'background-image' : 'url('+AuthorizationService?.user?.photoLink+')'}"></div>
                    <div class="user-info">
                        <span class="user-name">{{ AuthorizationService?.user?.fullName }}</span>
                        <span class="profile-link">User Profile</span>
                    </div>
                </a>

                <a (click)="logout()" class="logout">Log out</a>
            </div>
        </div>

    </div>
</div>