.container {
  margin-bottom: 100px;

  @media(max-width: 768px) {
    margin-bottom: 50px;
  }
}

.wrapper {
  min-height: 100%;
  padding-top: 84px;
  position: relative;
  padding-bottom: 128px;

  @media(max-width: 540px) {
    padding-bottom: 170px;
  }
}

main {
  min-height: 100%;
  width: 100%;
}