<div class="wrapper">

    <header></header>

    <main>

        <div class="container" style="padding-top: 1px">

            <ul class="breadcrumbs">
                <li><a [routerLink]="['']">Home</a></li>
                <li><span>-></span></li>
                <li><span>Support</span></li>
            </ul>

            <support (onSuccess)="modal.open()" (onError)="error.open()">Support</support>

        </div>

    </main>

    <footer></footer>

</div>

<modal #modal [options]="modalOptions">
    <div class="register-success">
        <h1>Success</h1>
        <p>Your Support Request has been submitted.</p>
        <a class="btn btn-big btn-success" (click)="closeModal()">Got it!</a>
    </div>
</modal>

<error #error title="Error" error="An error occurred while sending"></error>