<h1>Upload your Embedded Video files to show on your Geomain Page</h1>
<p>
    Upload up to five Embedded Video Ads and select which of
    these 5 Videos you wish to show at any time. <br/>If more then
    one Embedded Video is selected, then these Videos
    will show randomly to your Page Visitors.
</p>

<div class="bunners-container">
    <h2>Your Video</h2>
    <div class="bunners-content">
        <ul>
            <li *ngFor="let video of videos">
                <div class="upload-item">
                    <!--<checkbox [center]="true">-->
                        <div class="upload-bg">
                            <video src="{{ video.url }}"></video>
                            <!--<img src="~Img/content/bitmap.jpg" alt="">-->
                            <img src="~Img/ic-play.png" alt="" class="play">
                        </div>
                    <!--</checkbox>-->
                    <!--<span>Main side banner.jpg</span>-->
                </div>
                <a class="remove" (click)="selectVideo(video)">
                    <img src="~Img/ic-del.svg" alt="">
                </a>
            </li>
            <li class="upload">
                <form #fileForm>
                    <a href="">Upload video</a>
                    <input type="file" name="file" (change)="uploadVideo(fileForm)">
                    <input type="hidden" name="geoname" [value]="GeomainService?.geomain?.name">
                </form>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <a class="btn btn-success" [routerLink]="['home']">Provision</a>
    </div>
</div>
<loader #loader></loader>
<error #error [error]="serverError"></error>
<confirm #confirm (onSuccess)="removeVideo()">
    Do you really want to delete this video?
</confirm>