<label class="checkbox" [ngClass]="{'check-center' : center}">
    <input type="checkbox" [name]="name" [checked]="checked" (change)="propagateChange($event.target.checked)">
    <span><ng-content></ng-content></span>
</label>
