<div class="relative">

    <div class="dashboard-content">

        <h1>Buy page Advertising for MYGEOMAIN</h1>

        <form [formGroup]="form" (submit)="submit()">

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Buy this Page Advertising subscription:</label>
                    <chosen chosenClass="chosen-custom" formControlName="type">
                        <option value="BANR">Banner Ads</option>
                        <option value="VLNK">Video Ads</option>
                        <option value="VEMB">Vemb Ads</option>
                    </chosen>
                </div>
                <!--<validation-message [errors]="form?.controls?.registrant.errors"></validation-message>-->
            </div>

            <div class="form-control-wrap">
                <div class="form-group">
                    <label class="form-label">Subscription validity:</label>
                    <chosen chosenClass="chosen-custom" formControlName="months">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </chosen>
                    <p>Months</p>
                </div>
                <!--<validation-message [errors]="form?.controls?.registrant.errors"></validation-message>-->
            </div>

            <p class="price">Total charge: <span>US${{ price }}</span></p>

            <p class="descr">Your Registrar Account will instantly be debited for this amount.</p>

            <button class="btn btn-success btn-big">Next</button>

        </form>

    </div>

</div>