.dashboard-content {
  position: relative;
  z-index: 2;
  border-radius: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  padding: 45px 35px;
  
  h1 {
    text-align: left;
    margin-bottom: 40px;
  }

  .form-control-wrap {
    margin-bottom: 15px;
  }

  .form-group {
     > * {
       display: inline-block;
       vertical-align: middle;
     }

    p {
      font-size: 17px;
      margin-left: 5px;
    }
  }

  .form-label {
    margin-right: 5px;
  }

  .price {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-top: 55px;

    span {
      color: #f40300;
    }
  }

  .descr {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #9c9c9c;
  }

  .btn {
    margin-top: 35px;
  }
}