<div class="container">

    <ul class="breadcrumbs">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><span>-></span></li>
        <li><a [routerLink]="['/auth', 'login']">Login</a></li>
        <li><span>-></span></li>
        <li><span>Forgot password</span></li>
    </ul>

    <div class="shadowed">
        <h1>Forgot your password</h1>
        <p>Please enter your email address to retrieve your password. We will email you a link.</p>
        <form class="forgot-form" [formGroup]="form" onsubmit="return false">

            <input type="text" class="form-control" formControlName="email" placeholder="Email">
            <button class="btn btn-success btn-big" (click)="submit()">Send</button>

        </form>
    </div>

    <loader #loader></loader>

    <error #error error="User not found"></error>

</div>

<modal #modal>
    <div class="register-success">
        <h1>Success</h1>
        <p>Password recovery link sent to your e-mail</p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>