<div class="container">

    <h1>My Profile</h1>

    <div class="profile-container shadowed">

        <div class="profile-head avatar-container">

            <div class="profile-avatar">

                <div class="avatar" *ngIf="AuthorizationService?.user?.photoLink">
                    <div [ngStyle]="{
                        'background-image' : 'url('+AuthorizationService?.user?.photoLink+')'
                    }"></div>
                    <button class="remove-avatar" (click)="removeAvatar()">
                        <img src="~Img/ic-del.svg" alt="">
                    </button>
                </div>

                <form #fileForm class="upload" *ngIf="!AuthorizationService?.user?.photoLink">
                    <img src="~Img/ic-photo.svg" alt="">
                    <span>Upload photo</span>
                    <input type="file" name="file" (change)="uploadAvatar(fileForm)">
                </form>

            </div>

            <div class="edit-form">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label class="form-label">First Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="firstName">
                        <!--<a class="form-control-btn">-->
                            <!--<img src="~Img/ic-edit.svg" alt="">-->
                        <!--</a>-->
                    </div>
                    <div class="form-group">
                        <label class="form-label">Last Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="lastName">
                        <!--<a class="form-control-btn">-->
                            <!--<img src="~Img/ic-edit.svg" alt="">-->
                        <!--</a>-->
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control form-control-custom" disabled formControlName="email">
                        <!--<a class="form-control-btn">-->
                            <!--<img src="~Img/ic-edit.svg" alt="">-->
                        <!--</a>-->
                    </div>
                    <div class="form-group">
                        <label class="form-label">Current password:</label>
                        <input type="password" class="form-control form-control-custom" formControlName="password">
                        <!--<a class="form-control-btn">-->
                        <!--<img src="~Img/ic-edit.svg" alt="">-->
                        <!--</a>-->
                    </div>
                    <div class="form-group">
                        <label class="form-label">New password:</label>
                        <input type="password" class="form-control form-control-custom" formControlName="newPass">
                        <!--<a class="form-control-btn">-->
                        <!--<img src="~Img/ic-edit.svg" alt="">-->
                        <!--</a>-->
                    </div>
                </form>
            </div>

            <div class="save-form">
                <button class="btn btn-big btn-success" (click)="update()">Update</button>
                <!--<button class="btn btn-big btn-primary" [routerLink]="['/register']">Get my Geomain Number</button>-->
            </div>

        </div>

        <profile-geomain></profile-geomain>

    </div>
</div>

<loader #loader></loader>

<error #errorModal [error]="serverError"></error>