.container {
  margin-bottom: 50px;
}

h1 {
  margin: 65px auto 45px;

  @media(max-width: 768px) {
    margin: 35px auto 25px;
  }
}

.profile-container {
  background: #fff;
  border-radius: 10px;
  padding: 56px 45px 60px;

  @media(max-width: 640px) {
    padding: 30px 25px 40px;
  }
}

.text-center {
  text-align: center;
}

.profile-head {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;

  .form-label {
    width: 108px;
    min-width: 108px;
    max-width: 108px;
  }

  .form-control {
    width: 360px;
  }

  @media(max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;

    .form-label {
      margin-bottom: 5px;
    }

    .form-control {
      width: 100%;
    }
  }
}

.edit-form {
  @media (max-width: 1024px) {
    margin-right: 40px;
  }

  @media (max-width: 991px) {
    margin-right: 0;
    width: 100%;
    margin-top: 15px;
  }
}

.save-form {
  margin-left: 20px;

  @media(max-width: 1024px) {
    margin-left: 0;
  }

  .btn {
    height: 44px;
    line-height: 44px;
  }
}