.geopage-content {
  display: flex;
  justify-content: space-between;

  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.geopage-content-left {
  width: 560px;
  margin-right: 20px;

  @media(max-width: 991px) {
    width: 100%;
  }
}

.geopage-map {
  width: 420px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

  @media(max-width: 991px) {
    width: 100%;
    margin-top: 25px;
  }
}

.sebm-google-map-container {
  height: 100%;
}

.m-b-25 {
  margin-bottom: 25px;
  display: block;
}