<div class="geopage-content">
    <div class="geopage-content-left">
        <geomain-timeline class="m-b-25" *ngIf="GeomainService.geomain?.owner?.id == AuthorizationService.user?.id"></geomain-timeline>
        <geomain-social-feed></geomain-social-feed>
    </div>

    <div class="geopage-map">
        <agm-map [latitude]="GeomainService?.geomain?.lat" [longitude]="GeomainService?.geomain?.lon" [zoom]="15">
            <agm-marker
                    *ngIf="GeomainService?.geomain?.lat && GeomainService?.geomain?.lon"
                    [latitude]="GeomainService?.geomain?.lat"
                    [longitude]="GeomainService?.geomain?.lon"
                    iconUrl="{{ Helpers.loadImage('ic-geo-pin.png') }}">
            </agm-marker>
        </agm-map>
    </div>
</div>