<h1>Navigating is now as easy as scanning a qr code</h1>
<!--<p>Please download the Geomain App for turn-by-turn voice navigation on your GPS-enabled device</p>-->
<div class="content shadowed">
    <img [src]="GeomainService?.geomain?.qrCodeLink" alt="">
    <div class="coordinates">
        <div class="gps-icon">
            <img src="~Img/ic-gps.svg" alt="">GPS
        </div>
        <div>{{ GeomainService?.geomain?.lat }}</div>
        <div>{{ GeomainService?.geomain?.lon }}</div>
    </div>
</div>