.content {
  margin: 40px auto 0;
  background: #fff;
  max-width: 520px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 90px 0;

  > img {
    max-width: 100%;
  }

  @media(max-width: 540px) {
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
  }

}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
}

.coordinates {
  margin-left: 30px;

  @media(max-width: 540px) {
    margin-left: 0;
  }

  div {
    &:not(.gps-icon) {
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0;
    }
  }
}

.gps-icon {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.3px;
  color: #3d3d3d;

  img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 9px;
  }
}