<div class="geopage-links shadowed">
    <ul>
        <li>
            <a [routerLink]="['/', geonumber.name || geonumber.number, 'home']" routerLinkActive="active">
                <div>
                    <svg width="22px" height="22px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g id="favicon" transform="translate(-6.000000, -2.000000)" fill="#9c9c9c">
                            <path d="M10.3636364,2 L33.6363636,2 C36.0463334,2 38,3.95366658 38,6.36363643 L38,29.6363636 C38,32.0463334 36.0463334,34 33.6363636,34 L10.3636364,34 C7.95366658,34 6,32.0463334 6,29.6363636 L6,6.36363643 L6,6.36363643 C6,3.95366658 7.95366658,2 10.3636364,2 L10.3636364,2 Z M13.2727273,6.36363636 L22.5818182,18 L13.2727273,29.6363636 L22.5818182,29.6363636 L31.8909091,18 L22.5818182,6.36363636 L13.2727273,6.36363636 Z" id="geo_favicon_big"></path>
                        </g>
                    </svg>
                </div>
                <span>Home</span>
            </a>
        </li>
        <li class="disabled-link" *ngIf="geonumber?.category == GEONUMBER_CATEGORY.BUSINESS">
            <a>
                <div>
                    <svg width="22px" height="22px" viewBox="0 0 22 22">
                        <g transform="translate(-18.000000, -13.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g transform="translate(18.000000, 13.000000)">
                                <path d="M5.97824219,4.41485657 L5.02175781,4.41485657 C4.06767969,4.41485657 3.26609766,5.05552988 2.98473828,5.93399602 C1.2931875,6.22744622 0,7.72901195 0,9.5366494 C0,11.3442869 1.2931875,12.8458526 2.98473828,13.1393028 C3.26609766,14.0177689 4.06767969,14.6584422 5.02175781,14.6584422 L5.97828516,14.6584422 C6.84565234,14.6584422 7.72784375,14.7006454 8.60870312,14.7772072 L8.60870312,4.29609163 C7.72784375,4.37260956 6.84565234,4.41485657 5.97824219,4.41485657 Z M2.86958203,11.6063586 C2.03448437,11.3043625 1.4348125,10.4905378 1.4348125,9.53660558 C1.4348125,8.58267331 2.03448437,7.76884861 2.86958203,7.46680876 L2.86958203,11.6063586 Z M9.76133984,19.456239 C9.97669922,20.7736096 8.97978125,21.975239 7.66897656,21.975239 C6.61533984,21.975239 5.72279297,21.2059402 5.54717969,20.1460398 L4.87862891,16.1143865 C4.92649609,16.1163147 4.97346094,16.1217928 5.02175781,16.1217928 L5.97824219,16.1217928 C7.05637109,16.1217928 8.15744531,16.1897211 9.24739063,16.3117729 L9.76133984,19.456239 Z M20.5652305,0.0247609562 C21.3576602,0.0247609562 22,0.679940239 22,1.48815538 L22,17.5851434 C22,18.3933586 21.3576602,19.0484502 20.5652305,19.0484502 C19.7728008,19.0484502 19.1304609,18.3933147 19.1304609,17.5850996 L19.1304609,1.48811155 C19.1304609,0.679896414 19.7728008,0.0247609562 20.5652305,0.0247609562 Z M10.0434727,4.13639442 C13.4728516,3.68149402 15.2127422,2.98362948 17.6956484,2.11524303 L17.6956484,16.958012 C15.1944805,16.0831394 13.4586719,15.3899203 10.0434727,14.9368606 L10.0434727,4.13639442 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>Ads</span>
            </a>
        </li>
        <!--<li *ngIf="AS.isAuthenticated">-->
            <!--<a [routerLink]="['coordinates']" routerLinkActive="active">-->
            <!--<a>-->
                <!--<div>-->
                    <!--<svg width="24px" height="24px" viewBox="0 0 24 24">-->
                        <!--<g id="ads-active" transform="translate(-77.000000, -12.000000)" fill-rule="nonzero" fill="#9c9c9c">-->
                            <!--<g id="ic_ads_coordinates" transform="translate(77.000000, 12.000000)">-->
                                <!--<path d="M22.074,11.0408182 C21.6256364,6.19445455 17.7526364,2.32581818 12.9032727,1.88645455 L12.9032727,0 L11.0604545,0 L11.0604545,1.88672727 C6.21081818,2.32581818 2.33781818,6.19472727 1.89,11.0408182 L0,11.0408182 L0,12.8836364 L1.887,12.8836364 C2.31845455,17.7485455 6.19881818,21.6346364 11.0604545,22.0748182 L11.0604545,23.9615455 L12.9032727,23.9615455 L12.9032727,22.0748182 C17.7649091,21.6349091 21.6452727,17.7488182 22.0767273,12.8836364 L23.9615455,12.8836364 L23.9615455,11.0408182 L22.074,11.0408182 Z M12.9032727,20.2216364 L12.9032727,18.4330909 L11.0604545,18.4330909 L11.0604545,20.2216364 C7.21554545,19.7945455 4.15690909,16.7304545 3.73854545,12.8836364 L5.52927273,12.8836364 L5.52927273,11.0408182 L3.74318182,11.0408182 C4.17709091,7.21145455 7.22781818,4.16536364 11.0601818,3.73963636 L11.0601818,5.52981818 L12.9027273,5.52981818 L12.9027273,3.73963636 C16.7353636,4.16509091 19.7860909,7.21118182 20.22,11.0408182 L18.432,11.0408182 L18.432,12.8836364 L20.2246364,12.8836364 C19.8068182,16.7304545 16.7479091,19.7945455 12.9032727,20.2216364 Z M11.982,9.19827273 C10.4560909,9.19827273 9.21790909,10.4345455 9.21790909,11.9612727 C9.21790909,13.4882727 10.4560909,14.7264545 11.982,14.7264545 C13.5079091,14.7264545 14.7458182,13.4882727 14.7458182,11.9612727 C14.7458182,10.4345455 13.5073636,9.19827273 11.982,9.19827273 Z" id="Shape"></path>-->
                            <!--</g>-->
                        <!--</g>-->
                    <!--</svg>-->
                <!--</div>-->
                <!--<span>Coordinates</span>-->
            <!--</a>-->
        <!--</li>-->
        <li class="disabled-link" *ngIf="AS.isAuthenticated">
            <!--<a [routerLink]="['geomarket']" routerLinkActive="active">-->
            <a>
                <div>
                    <svg width="24px" height="22px" viewBox="0 0 24 22">
                        <g id="ads-active" transform="translate(-155.000000, -12.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_geomarket" transform="translate(155.000000, 12.000000)">
                                <path d="M1.62628337,17.6338056 L1.62628337,21.5207133 C1.62628337,21.7571791 1.81848049,21.954234 2.05995893,21.954234 L5.0661191,21.954234 C5.3026694,21.954234 5.49979466,21.7621055 5.49979466,21.5207133 L5.49979466,14.6829087 L3.31663244,16.8652916 C2.85338809,17.3234442 2.26201232,17.5894683 1.62628337,17.6338056 Z" id="Shape"></path>
                                <path d="M6.99794661,14.633645 L6.99794661,21.5207133 C6.99794661,21.7571791 7.19014374,21.954234 7.43162218,21.954234 L10.4377823,21.954234 C10.6743326,21.954234 10.8714579,21.7621055 10.8714579,21.5207133 L10.8714579,17.466309 C10.1864476,17.4515299 9.54579055,17.1805794 9.06283368,16.6977949 L6.99794661,14.633645 Z" id="Shape"></path>
                                <path d="M12.3696099,17.0377146 L12.3696099,21.5207133 C12.3696099,21.7571791 12.561807,21.954234 12.8032854,21.954234 L15.8094456,21.954234 C16.0459959,21.954234 16.2431211,21.7621055 16.2431211,21.5207133 L16.2431211,13.2493344 L12.7983573,16.6928685 C12.6652977,16.8258806 12.5223819,16.9391871 12.3696099,17.0377146 Z" id="Shape"></path>
                                <path d="M21.3240246,8.16531834 L17.7412731,11.7467909 L17.7412731,21.5207133 C17.7412731,21.7571791 17.9334702,21.954234 18.1749487,21.954234 L21.1811088,21.954234 C21.4176591,21.954234 21.6147844,21.7621055 21.6147844,21.5207133 L21.6147844,8.43626881 C21.5162218,8.35252048 21.4422998,8.2786249 21.3880903,8.22936118 L21.3240246,8.16531834 Z" id="Shape"></path>
                                <path d="M23.7831622,1.820151 C23.6402464,1.66743347 23.4234086,1.58861151 23.1474333,1.58861151 C23.1227926,1.58861151 23.0932238,1.58861151 23.0685832,1.58861151 C21.6689938,1.65265435 20.2743326,1.72162356 18.8747433,1.7856664 C18.6874743,1.79551914 18.4312115,1.80537189 18.2291581,2.00735315 C18.1650924,2.07139598 18.1158111,2.14529157 18.076386,2.23396627 C17.8694045,2.68226613 18.1601643,2.97292209 18.298152,3.11086051 L18.6480493,3.4655593 C18.8895277,3.71187791 19.1359343,3.95819652 19.3823409,4.19958876 L10.9256674,12.6581697 L7.12607803,8.85993681 C6.89938398,8.63332369 6.59383984,8.50523802 6.26858316,8.50523802 C5.94332649,8.50523802 5.64271047,8.63332369 5.41601643,8.85993681 L0.354825462,13.9143946 C-0.118275154,14.3873264 -0.118275154,15.1509141 0.354825462,15.6238458 L0.581519507,15.8504589 C0.808213552,16.077072 1.1137577,16.2051577 1.43901437,16.2051577 C1.76427105,16.2051577 2.06488706,16.077072 2.29158111,15.8504589 L6.26858316,11.8748766 L10.0681725,15.6731095 C10.2948665,15.8997226 10.6004107,16.0278083 10.9256674,16.0278083 C11.250924,16.0278083 11.55154,15.8997226 11.7831622,15.6731095 L21.3240246,6.13565301 L22.4032854,7.20960214 C22.5314168,7.33768782 22.7088296,7.51503722 22.9798768,7.51503722 C23.0932238,7.51503722 23.2065708,7.48547898 23.324846,7.42143614 C23.4036961,7.3770988 23.4726899,7.32783507 23.5318275,7.26871861 C23.7437372,7.05688461 23.7831622,6.78593414 23.7930185,6.57410013 C23.8324435,5.66764766 23.8767967,4.76119518 23.9211499,3.84981633 L23.9852156,2.48521124 C24,2.19948166 23.9359343,1.97779491 23.7831622,1.820151 Z" id="Shape"></path>
                                <path d="M14.4059083,6.08710916 C14.4059083,7.11107992 13.7116267,7.98552827 12.4244698,8.20414035 L12.4244698,9.3894922 L11.3145229,9.3894922 L11.3145229,8.29591618 C10.5635141,8.26137135 9.83609976,8.04275926 9.41039421,7.80094542 L9.74573773,6.45472807 C10.2161223,6.71922807 10.8772711,6.9615575 11.6056895,6.9615575 C12.255794,6.9615575 12.6920418,6.6970575 12.6920418,6.24849025 C12.6920418,5.81126608 12.3331038,5.53490741 11.4927369,5.24669006 C10.2949381,4.83215205 9.47766372,4.25777973 9.47766372,3.14151754 C9.47766372,2.11754678 10.1709413,1.32353119 11.3692422,1.09306043 L11.3692422,0 L12.4681448,0 L12.4681448,1.01211209 C13.2076074,1.03582943 13.7116267,1.20752242 14.1036975,1.39262086 L13.76735,2.6924347 C13.4867257,2.55373977 12.9601158,2.28872417 12.1538858,2.28872417 C11.4264714,2.28872417 11.1905261,2.62282943 11.1905261,2.94507602 C11.1905261,3.31269493 11.583099,3.56688304 12.5464586,3.92264327 C13.8792985,4.40627096 14.4054063,5.03890546 14.4059083,6.08710916 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>GeoMarket</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['map']" routerLinkActive="active">
                <div>
                    <svg width="16px" height="22px" viewBox="0 0 16 22">
                        <g id="ads-active" transform="translate(-218.000000, -13.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_map" transform="translate(218.000000, 13.000000)">
                                <path d="M13.5138462,2.2468 C12.0278974,0.798 10.0521026,0 7.95076923,0 C5.84902564,0 3.87364103,0.798 2.38769231,2.2468 C-0.36225641,4.9276 -0.704,9.9716 1.64758974,13.0276 L7.95076923,21.9028 L14.2445128,13.04 C16.6055385,9.9716 16.2637949,4.9276 13.5138462,2.2468 Z M8.02338462,10.4 C6.44020513,10.4 5.15158974,9.1436 5.15158974,7.6 C5.15158974,6.0564 6.44020513,4.8 8.02338462,4.8 C9.6065641,4.8 10.8951795,6.0564 10.8951795,7.6 C10.8951795,9.1436 9.6065641,10.4 8.02338462,10.4 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>Map</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['navigate']" routerLinkActive="active">
                <div>
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="ads-active" transform="translate(-269.000000, -13.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_navigation" transform="translate(269.000000, 13.000000)">
                                <path d="M10,0 C4.486,0 0,4.486 0,10 C0,15.514 4.486,20 10,20 C15.514,20 20,15.514 20,10 C20,4.486 15.514,0 10,0 Z M15.2353333,4.81466667 L9.47166667,16.442 C9.415,16.557 9.298,16.6273333 9.173,16.6273333 C9.15433333,16.6273333 9.13566667,16.6256667 9.11666667,16.6223333 C8.97133333,16.5976667 8.85966667,16.48 8.842,16.334 L8.239,11.3506667 L2.96166667,10.466 C2.817,10.442 2.70533333,10.3263333 2.68633333,10.1813333 C2.66733333,10.0363333 2.74466667,9.89566667 2.87766667,9.83433333 L14.798,4.36366667 C14.9256667,4.30466667 15.078,4.33333333 15.1763333,4.43466667 C15.2746667,4.536 15.2983333,4.688 15.2353333,4.81466667 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>Navigate</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['qr']" routerLinkActive="active">
                <div>
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="ads-active" transform="translate(-333.000000, -13.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_qr" transform="translate(333.000000, 13.000000)">
                                <rect id="Rectangle-path" x="3" y="3" width="1" height="1"></rect>
                                <path d="M13.0848943,0 L13.0848943,2.80152713 L11,2.80152713 L11,4.14578832 L13.0848943,4.14578832 L13.0848943,5.603014 L11,5.603014 L11,6.94727519 L13.0848943,6.94727519 L13.7122179,6.94727519 L15.863992,6.94727519 L15.863992,9 L17.2020285,9 L17.2020285,6.94727519 L20,6.94727519 L20,0 L13.0848943,0 Z M18.6619634,5.603014 L14.4229308,5.603014 L14.4229308,1.3442612 L18.6619634,1.3442612 L18.6619634,5.603014 Z" id="Shape"></path>
                                <rect id="Rectangle-path" x="16" y="3" width="1" height="1"></rect>
                                <rect id="Rectangle-path" x="3" y="16" width="1" height="1"></rect>
                                <rect id="Rectangle-path" x="16" y="16" width="1" height="1"></rect>
                                <path d="M6.94724412,2.80152713 L6.94724412,0 L0,0 L0,6.94727519 L2.8015146,6.94727519 L2.8015146,9 L4.14576978,9 L4.14576978,6.94727519 L6.94728437,6.94727519 L6.94728437,4.14578832 L9,4.14578832 L9,2.80152713 L6.94724412,2.80152713 Z M5.60298893,5.603014 L1.34425518,5.603014 L1.34425518,1.3442612 L5.60298893,1.3442612 L5.60298893,5.603014 Z" id="Shape"></path>
                                <rect id="Rectangle-path" x="9" y="12" width="2" height="1"></rect>
                                <path d="M7.74915089,14.1482036 L7.74915089,16.1339168 L6.46451226,16.1339168 L6.46451226,13.5214011 L3.85769942,13.5214011 L3.85769942,12.2535675 L5.83910644,12.2535675 L5.83910644,11 L2.60685031,11 L2.60685031,13.5214011 L0,13.5214011 L0,20 L6.46451226,20 L6.46451226,17.3874843 L9,17.3874843 L9,14.1482036 L7.74915089,14.1482036 Z M5.21366315,18.7464325 L1.25084911,18.7464325 L1.25084911,14.7750062 L5.21366315,14.7750062 L5.21366315,18.7464325 Z" id="Shape"></path>
                                <path d="M17.3956683,13.0364339 L17.3956683,11 L16.1502157,11 L16.1502157,13.0364339 L13.5633773,13.0364339 L13.5633773,15.8445304 L11,15.8445304 L11,19.3263135 L12.2454526,19.3263135 L12.2454526,17.1919438 L13.5633773,17.1919438 L13.5633773,20 L20,20 L20,13.0364339 L17.3956683,13.0364339 Z M18.7545474,18.6525866 L14.8088299,18.6525866 L14.8088299,14.3838473 L18.7545474,14.3838473 L18.7545474,18.6525866 Z" id="Shape"></path>
                                <polygon id="Shape" points="7.81279924 6 7.81279924 7.81279924 6 7.81279924 6 9 9 9 9 6"></polygon>
                                <polygon id="Shape" points="11 8 11 11 12.1871793 11 12.1871793 9.18720076 14 9.18720076 14 8"></polygon>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>QR Code</span>
            </a>
        </li>
        <li *ngIf="AS.user && AS.user?.id == geonumber?.owner?.id">
            <a [routerLink]="['security']" routerLinkActive="active">
                <div>
                    <svg width="16px" height="22px" viewBox="0 0 16 22">
                        <g id="ads-active" transform="translate(-398.000000, -12.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_security" transform="translate(398.000000, 12.000000)">
                                <path d="M14.6,7.68421053 L4.36,7.68421053 L4.36,5.5 C4.36,3.42499474 5.992904,1.73684211 8,1.73684211 C10.007096,1.73684211 11.64,3.42499474 11.64,5.5 L11.64,7.97368421 C11.64,8.45328421 12.016096,8.84210526 12.48,8.84210526 C12.943904,8.84210526 13.32,8.45328421 13.32,7.97368421 L13.32,5.5 C13.32,2.4673 10.933448,0 8,0 C5.066552,0 2.68,2.4673 2.68,5.5 L2.68,7.68421053 L1.4,7.68421053 C0.626808,7.68421053 0,8.33222632 0,9.13157895 L0,20.5526316 C0,21.3519842 0.626808,22 1.4,22 L14.6,22 C15.373192,22 16,21.3519842 16,20.5526316 L16,9.13157895 C16,8.33222632 15.373192,7.68421053 14.6,7.68421053 Z M6.32,13.1842105 C6.32,12.2249526 7.072136,11.4473684 8,11.4473684 C8.927808,11.4473684 9.68,12.2249526 9.68,13.1842105 C9.68,13.8270158 9.34204,14.3877842 8.84,14.6881421 L8.84,17.2368421 L7.16,17.2368421 L7.16,14.6881421 C6.65796,14.3877842 6.32,13.8270158 6.32,13.1842105 Z" id="XMLID_31_"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>Security</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['share']" routerLinkActive="active">
                <div>
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="ads-active" transform="translate(-451.000000, -13.000000)" fill-rule="nonzero" fill="#9c9c9c">
                            <g id="ic_ads_share" transform="translate(451.000000, 13.000000)">
                                <path d="M16.4620408,12.8946939 C15.4918367,12.8946939 14.6191837,13.3028571 13.9995918,13.955102 L6.76,10.4097959 C6.78489796,10.2440816 6.80204082,10.075102 6.80204082,9.90122449 C6.80204082,9.7322449 6.78571429,9.56734694 6.76204082,9.40530612 L13.9910204,5.89959184 C14.6110204,6.55632653 15.4873469,6.96857143 16.4620408,6.96857143 C18.3408163,6.96857143 19.8632653,5.44571429 19.8632653,3.56734694 C19.8632653,1.68857143 18.3408163,0.166122449 16.4620408,0.166122449 C14.5832653,0.166122449 13.0608163,1.68857143 13.0608163,3.56734694 C13.0608163,3.73632653 13.0771429,3.90081633 13.1008163,4.06326531 L5.87265306,7.56897959 C5.25265306,6.9122449 4.37632653,6.5 3.40163265,6.5 C1.52244898,6.5 0,8.02285714 0,9.90122449 C0,11.78 1.52244898,13.302449 3.40122449,13.302449 C4.37142857,13.302449 5.24408163,12.8942857 5.86367347,12.2428571 L13.1028571,15.7877551 C13.077551,15.9534694 13.0604082,16.122449 13.0604082,16.2959184 C13.0604082,18.175102 14.5828571,19.6971429 16.4616327,19.6971429 C18.3404082,19.6971429 19.8628571,18.175102 19.8628571,16.2959184 C19.8632653,14.4171429 18.3408163,12.8946939 16.4620408,12.8946939 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <span>Share</span>
            </a>
        </li>
        <li *ngIf="geonumber?.category == GEONUMBER_CATEGORY.BUSINESS">
            <a [routerLink]="['url']" routerLinkActive="active">
                <div>
                    <svg width="20px" height="20px" x="0px" y="0px" viewBox="0 0 512 512">
                        <g>
                            <path d="M437.019,74.981C388.668,26.628,324.38,0,256,0S123.332,26.628,74.981,74.981C26.629,123.333,0,187.621,0,256s26.628,132.668,74.981,181.019C123.333,485.371,187.62,512,256,512c68.38,0,132.668-26.628,181.019-74.981C485.371,388.667,512,324.379,512,256S485.372,123.332,437.019,74.981z M177.821,45.387c-10.394,13.577-19.688,29.843-27.623,48.313c-9.8-5.233-19.232-11.209-28.215-17.892C138.921,63.179,157.695,52.882,177.821,45.387z M97.736,96.718c13.013,10.244,26.91,19.158,41.497,26.635c-10.832,34.321-17.506,74.072-18.821,116.973H31.903C35.778,184.368,60.229,133.986,97.736,96.718z M31.903,271.673h88.509c1.313,42.901,7.988,82.654,18.821,116.973c-14.587,7.477-28.483,16.391-41.497,26.635C60.229,378.014,35.778,327.632,31.903,271.673z M121.982,436.192c8.983-6.683,18.415-12.658,28.215-17.892c7.935,18.47,17.229,34.736,27.623,48.313C157.694,459.118,138.92,448.822,121.982,436.192z M240.327,477.845c-20.152-7.145-39.687-27.74-55.276-58.918c-2.166-4.333-4.231-8.819-6.199-13.434c19.665-7.188,40.345-11.635,61.476-13.108V477.845z M240.327,360.983c-24.804,1.516-49.088,6.618-72.148,15.037c-9.536-31.325-15.173-66.922-16.405-104.346h88.553V360.983z M240.327,240.327h-88.552c1.232-37.424,6.868-73.021,16.405-104.346c23.059,8.418,47.343,13.52,72.147,15.036V240.327z M240.327,119.615c-21.131-1.472-41.811-5.92-61.476-13.107c1.969-4.616,4.033-9.102,6.199-13.435c15.589-31.178,35.124-51.773,55.276-58.918V119.615z M480.097,240.327h-88.509c-1.313-42.901-7.988-82.654-18.821-116.973c14.587-7.477,28.483-16.391,41.496-26.635C451.77,133.986,476.222,184.368,480.097,240.327z M390.018,75.809c-8.983,6.683-18.415,12.658-28.215,17.892c-7.935-18.471-17.229-34.737-27.623-48.313C354.306,52.883,373.079,63.179,390.018,75.809z M271.673,34.155c20.152,7.145,39.687,27.74,55.276,58.918c2.166,4.333,4.231,8.819,6.199,13.434c-19.665,7.187-40.346,11.635-61.476,13.107V34.155z M271.673,151.017c24.805-1.516,49.088-6.618,72.148-15.037c9.536,31.325,15.173,66.922,16.405,104.346h-88.553V151.017z M271.673,271.673h88.552c-1.232,37.424-6.868,73.021-16.405,104.346c-23.059-8.418-47.342-13.521-72.147-15.036V271.673z M326.95,418.928c-15.589,31.178-35.124,51.773-55.276,58.918v-85.46c21.131,1.472,41.811,5.92,61.476,13.107C331.18,410.109,329.116,414.595,326.95,418.928z M334.179,466.613c10.394-13.577,19.688-29.843,27.623-48.313c9.8,5.234,19.232,11.209,28.215,17.892C373.08,448.822,354.306,459.118,334.179,466.613z M414.264,415.282c-13.013-10.244-26.91-19.158-41.496-26.635c10.832-34.321,17.506-74.072,18.821-116.973h88.509C476.222,327.632,451.77,378.014,414.264,415.282z"/>
                        </g>
                    </svg>
                </div>
                <span>Url</span>
            </a>
        </li>
    </ul>
</div>