.geopage-links {
  background: #fff;
  border-radius: 10px;
  padding: 0 15px;

  @media(max-width: 480px) {
    overflow: scroll;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 56px;
  }

  li {
    margin: 0 10px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    &:not(.disabled-link) {
      a {
        cursor: pointer;

        svg {
          > g {
            fill : #9c9c9c;
          }
        }

        &.active,
        &:hover {
          span {
            color: #ff0200;
          }

          svg {
            > g {
              fill : #FF0200;
            }
          }
        }
      }
    }

    &.disabled-link {
      a {
        opacity: .6;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #222222;
    margin-top: 5px;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  div {
    height: 23px;
  }
}