.sign-up-form {
  max-width: 560px;
  margin: 50px auto;

  @media(max-width: 768px) {
    margin-bottom: 0;
  }
}

.form-control-wrap {
  margin-bottom: 8px;
}

.first {
  margin-top: 45px;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
}

validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .form-label {
     width: 200px;
     min-width: 200px;
     max-width: 200px;
   }

   chosen {
     display: block;
     width: 100%;
   }

   div {
     width: 100%;
   }

   .phone-code {
     width: 30%;
     min-width: 30%;
     margin-right: 5px;
   }

  @media(max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .form-label {
      margin-bottom: 5px;
    }
  }
 }

.double {
  display: flex;
  align-items: center;

  div {
    width: 55%;
  }

  .phone-code {
    width: 45%;
    min-width: 45%;
    margin-right: 5px;
  }
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn {
    margin: 0 5px;
  }

  .btn-success {
    width: 160px;
  }
}