<div class="relative">

    <h1 class="first">Transfer-In Completed for Sally Porter</h1>
    <p>Notification of successful Geomain transfer was emailed to the Registrant</p>

    <form [formGroup]="form" class="sign-up-form" onsubmit="return false">

        <h1>Registrant Record</h1>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Customer number:</label>
                <input type="text" class="form-control form-control-custom" formControlName="number">
            </div>
            <validation-message [errors]="form?.controls?.number.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registrant:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registrant">
            </div>
            <validation-message [errors]="form?.controls?.registrant.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registered by:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registered">
            </div>
            <validation-message [errors]="form?.controls?.registered.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control form-control-custom" formControlName="email">
            </div>
            <validation-message [errors]="form?.controls?.email.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Phone:</label>
                <div class="double">
                    <div class="phone-code">
                        <chosen chosenClass="chosen-custom" formControlName="phoneCode">
                            <option value="null"> </option>
                            <option *ngFor="let CODE of CODES" [value]="CODE.code">
                                <p class="flag flag-{{ CODE.iso2.toLowerCase() }}"></p>
                                +{{ CODE.code }}
                            </option>
                        </chosen>
                    </div>
                    <div>
                        <input type="text" class="form-control form-control-custom" formControlName="phoneNum" maxlength="9">
                        <input type="hidden" formControlName="phone">
                    </div>
                </div>
            </div>
            <validation-message [errors]="form?.controls?.phone.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">URL:</label>
                <input type="text" class="form-control form-control-custom" formControlName="url" placeholder="http://">
            </div>
            <validation-message [errors]="form?.controls?.url.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Geomains owned:</label>
                <chosen chosenClass="chosen-custom" formControlName="owned">
                    <option value="null"> </option>
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                    <option value="Mrs">Mrs</option>
                </chosen>
            </div>
            <validation-message [errors]="form?.controls?.owned.errors"></validation-message>
        </div>

        <div class="form-footer">
            <button class="btn btn-big">Cancel</button>
            <button class="btn btn-success btn-big">Submit</button>
        </div>

        <loader #loader></loader>

    </form>

    <loader #loader></loader>

</div>