<div class="container">

    <ul class="breadcrumbs">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><span>-></span></li>
        <li><a [routerLink]="['/auth', 'login']">Login</a></li>
        <li><span>-></span></li>
        <li><span>Change password</span></li>
    </ul>

    <div class="shadowed">
        <h1>Change your password</h1>
        <p>Please enter new password.</p>
        <form class="forgot-form" [formGroup]="form" onsubmit="return false">

            <input type="password" class="form-control" formControlName="password" placeholder="New Password">
            <button class="btn btn-success btn-big" (click)="submit()">Send</button>

        </form>
    </div>

    <loader #loader></loader>

    <error #error [error]="serverError"></error>

</div>

<modal #modal [options]="modalOptions">
    <div class="register-success">
        <h1>Success</h1>
        <p>Your password changed</p>
        <a class="btn btn-big btn-success" (click)="closeModal()">Got it!</a>
    </div>
</modal>