.shadowed {
  padding: 40px 50px 70px;
  background: #fff;
  border-radius: 10px;

  h1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 3.12;
  letter-spacing: -0.1px;
  color: #9c9c9c;
  margin-bottom: 35px;
}

.forgot-form {
  width: 560px;

  .btn {
    width: 160px;
  }
}

.form-control {
  border: solid 1px rgba(151, 151, 151, 0.1);
  width: 320px;
  display: block;
  margin-bottom: 30px;
}