<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">

<main class="main">

    <div class="header container flex a-i-center j-c-space-between">

        <div class="flex a-i-center">
            <div class="logo">
                <a routerLink="/">
                    <img [src]="Helpers.loadImage('logo-2.svg')" alt="">
                </a>
            </div>

            <div class="navigation">

                <ul class="flex a-i-center">
                    <li class="dropdown sub-navigation" dropdown>
                        <a dropdown-open>Explore</a>

                        <ul class="dropdown-content">

                            <li class="show-on-mobile" *ngIf="!AuthorizationService.isAuthenticated"><a [routerLink]="['/auth', 'login']">Log in</a></li>
                            <!--<li class="show-on-mobile" *ngIf="!AuthorizationService.isAuthenticated"><a [routerLink]="[ '/register' ]" class="btn">SIGN UP</a></li>-->
                            <!--<li class="show-on-mobile" *ngIf="!AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/profile']"><a>Profile settings</a></li>-->
                            <li class="show-on-mobile" *ngIf="AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/registrar', 'dashboard']"><a>Profile settings</a></li>
                            <!--<li class="show-on-mobile"><a [routerLink]="['/register']">Get Geomain Number</a></li>-->
                            <li><a [routerLink]="['/geomain-name']">Get GeoName</a></li>
                            <li><a [routerLink]="['/who-is']">WhoIs?</a></li>
                            <li *ngIf="!AuthorizationService.isAuthenticated"><a [routerLink]="['/auth', 'registrar-login']">Registrars</a></li>
                            <li><a [routerLink]="['/business-sol']">Business Solutions</a></li>
                            <li><a [routerLink]="['/faq']">Faq</a></li>
                            <li><a [routerLink]="['/support']">Support</a></li>
                            <li *ngIf="AuthorizationService.isAuthenticated" class="show-on-mobile"><a (click)="logout()">Log out</a></li>
                        </ul>
                    </li>

                    <!--<li class="hide-on-mobile"><a [routerLink]="[ '/register' ]">Get geomain number</a></li>-->
                    <!--<li class="hide-on-mobile"><a [routerLink]="[ '/geomain-name' ]">Get geomain name</a></li>-->
                    <!--<li class="hide-on-mobile"><a [routerLink]="[ '/faq' ]">Faq</a></li>-->
                </ul>

            </div>
        </div>

        <div class="head-search hide-on-mobile">
            <form (submit)="runSearch()" onsubmit="return false">
                <div class="search-content">
                    <div>
                        <input #search (keyup)="serverError = false" type="text" class="search-input" placeholder="Search a GeoName or GeoNumber">
                        <a target="_blank" href="https://itunes.apple.com/ua/app/geomain-the-nextgen-address/id1375477836?mt=8"
                           class="search-error" [ngClass]="{'showed-error' : serverError}">
                            <img src="" alt=""> <span>Yes! This GeoName is available. Get it for free with the app</span>
                        </a>
                    </div>
                    <button class="search-button">
                        <img [src]="Helpers.loadImage('logo-big.svg')" alt="">
                    </button>
                </div>
            </form>
        </div>

        <div class="auth-links hide-on-mobile" *ngIf="!AuthorizationService.isAuthenticated">
            <a [routerLink]="[ '/auth', 'login' ]" class="btn btn-link">Log in</a>
            <!--<a [routerLink]="[ '/register' ]" class="btn">SIGN UP</a>-->
        </div>

        <div class="p-drop hide-on-mobile" dropdown *ngIf="AuthorizationService.isAuthenticated">
            <div dropdown-open class="user-avatar-container">
                <a class="user-avatar" [ngStyle]="{ 'background-image' : 'url('+AuthorizationService?.user?.photoLink+')'}"></a>
                <img [src]="Helpers.loadImage('ic-arrow-grey.svg')" alt="">
            </div>
            <ul class="dropdown-content">
                <li *ngIf="!AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/profile']"><a>Profile settings</a></li>
                <li *ngIf="AuthorizationService.fromRoles([USER_ROLE.ROLE_REGISTRAR])" [routerLink]="['/registrar', 'dashboard']"><a>Profile settings</a></li>
                <li><a (click)="logout()">Log out</a></li>
            </ul>
        </div>

    </div>

    <div class="container-relative">
        <div class="container">

            <div class="home-slider" slick [options]="options">
                <div class="slide slide-1"></div>
                <div class="slide slide-2"></div>
                <div class="slide slide-3"></div>
                <div class="slide slide-4"></div>
                <div class="slide slide-5"></div>
            </div>

            <div class="home-container">
                <div>
                    <!--<div class="home-title">-->
                        <!--The new <span>Address</span> for people, <br/>places & things-->
                    <!--</div>-->

                    <form (submit)="runSearch()" onsubmit="return false">
                        <div class="search-content">
                            <div>
                                <input #search (keyup)="serverError = false" type="text" class="search-input" placeholder="Search a GeoName or GeoNumber">
                                <a target="_blank" href="https://itunes.apple.com/ua/app/geomain-the-nextgen-address/id1375477836?mt=8"
                                   class="search-error" [ngClass]="{'showed-error' : serverError}">
                                    <img src="" alt=""> <span>Yes! This GeoName is available. Get it for free with the app</span>
                                </a>
                            </div>
                            <button class="search-button">
                                <img [src]="Helpers.loadImage('logo-big.svg')" alt="">
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <loader #loader></loader>

        </div>
    </div>

    <div class="footer">
        <div class="container flex a-i-center j-c-space-between">
            <!---->
            <div class="explore-foot">
                <a routerLink="/">About</a>
                <a routerLink="/">Legal</a>
                <a routerLink="/privacy-policy">Privacy</a>
            </div>
            <div class="apps">
                <a target="_blank" href="https://itunes.apple.com/ua/app/geomain-the-nextgen-address/id1375477836?mt=8"><img [src]="Helpers.loadImage('newImages/ios.svg')" alt=""></a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.geomain.main"><img [src]="Helpers.loadImage('newImages/android.svg')" alt=""></a>
            </div>
            <div class="copyright">&copy; 2019 <a href="http://www.geomain.org/">Geomain Inc.</a> All rights reserved</div>
            <div class="social-links">
                <ul class="flex a-i-center">
                    <li><a><img [src]="Helpers.loadImage('newImages/geo.svg')" alt=""></a></li>
                    <li><a><img [src]="Helpers.loadImage('newImages/facebook.svg')" alt=""></a></li>
                    <li><a><img [src]="Helpers.loadImage('newImages/twitter.svg')" alt=""></a></li>
                    <li><a><img [src]="Helpers.loadImage('newImages/instagram.svg')" alt=""></a></li>
                    <li><a><img [src]="Helpers.loadImage('newImages/linked-in.svg')" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>


</main>