.main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 100;
}

.head-search {
  width: 100%;
  padding: 0 15px;
}

.container {
  width: 100%;
  max-width: 1265px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  height: 96px;
  max-height: 96px;
  position: relative;
  z-index: 100;
}

.logo {
  width: 120px;
  margin-right: 35px;

  a {
    display: block;
    text-decoration: none;
  }

  img {
    display: block;
  }
}

.navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul {
    > li {
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  a {
    display: flex;
    height: 42px;
    align-items: center;
    padding-right: 33px;
    text-decoration: none;
    color: #000;
  }
}

.sub-navigation {
  margin-right: 33px;

  > a {
    border-right: 1px solid #dbdbdb;
    padding-right: 20px !important;
  }

}

.user-avatar {
  display: block;
  width: 37px;
  min-width: 37px;
  max-width: 37px;
  height: 37px;
  border-radius: 100%;
  background-color: #f3f3f3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-left: 8px;
  }
}


.p-drop.open {
  position: relative;

  .dropdown-content {
    display: block !important;
    margin-top: 25px !important;
    left: auto !important;
    right: 0 !important;
  }
}



.home-container {
  min-height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
    margin-top: -100px;

    @media(max-height: 500px) {
      margin-top: 0;
    }
  }
}

.home-title {
  font-size: 43px;
  font-weight: 900;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;
  max-width: 600px;
  margin: 0 auto 40px;
  position: relative;
  z-index: 2;

  span {
    color: #ff5f70;
  }
}


.search-content {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.search-input {
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.05);
  width: 100%;
  padding: 0 33px;
  font-size: 15px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  img {
    width: 50px;
    height: 50px;
  }
}


.footer {
  height: 60px;
  background: rgba(231, 227, 235, 0.16);

  .container {
    height: 60px;
  }
}

.social-links {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-left: 20px;
  }

  img {
    display: block;
  }
}

.search-error {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 50px;
  opacity: 0;
  border-radius: 5px;
  background-color: #3d3d3d;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: .3s;

  &.showed-error {
    opacity: 0.93;
    height: 56px;
    top: 100%;
    box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2), 0 -4px 0 0 #3d3d3d;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }
}







//-----------------------------
.flex {
  display: flex !important;
}

.i-flex {
  display: inline-flex !important;
}

/**
Flex direction
*/

.f-d-row {
  flex-direction: row;
}
.f-d-column {
  flex-direction: column;
}


/**
Flex wrap
 */

.f-w-wrap {
  flex-wrap: wrap;
}

.f-w-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.f-w-nowrap {
  flex-wrap: nowrap;
}


/**
Justify content
 */
.j-c-space-between {
  justify-content: space-between;
}

.j-c-space-around {
  justify-content: space-around;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.j-c-center {
  justify-content: center;
}

/**
Align items
 */
.a-i-center {
  align-items: center;
}

.a-i-flex-start {
  align-items: flex-start;
}

.a-i-flex-end {
  align-items: flex-end;
}

.a-i-stretch {
  align-items: stretch;
}


/**
Flex items
 */
.flex-greed(@list, @type){

  .flex-greed-loop(@i: length(@list)) when(@i > 0){

    .flex-greed-loop(@i - 1);
    @size: extract(@list, @i);
    &-@{size}{ @{type}: @size; }

  }

  .flex-greed-loop();

}

.flex-item {
  flex: 1 1 auto;;
  max-width: 100%;

  // Fix for Slick Slider in Mozilla Firefox
  // target element - parent flex container of slider

  min-height: 0;
  min-width: 0;
}

.flex-item {
  max-width: 100%;
  @greedList: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  .flex-greed(@greedList, flex);
}

//-------------------------------------------------
.help-size(@list, @type){
  .margin-loop(@i: length(@list)) when(@i > 0){
    .margin-loop(@i - 1);
    @size: extract(@list, @i);
    &-@{size}{   @{type}:         unit(@size, px) !important;}
    &-r-@{size}{ @{type}-right:   unit(@size, px) !important;}
    &-l-@{size}{ @{type}-left:    unit(@size, px) !important;}
    &-t-@{size}{ @{type}-top:     unit(@size, px) !important;}
    &-b-@{size}{ @{type}-bottom:  unit(@size, px) !important;}
  }
  .margin-loop();
}


.m {
  @marginList: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, -5, -10, -15, -20, -25, -30, -35, -40, -45, -50;
  .help-size(@marginList, margin);
}

.p {
  @marginList: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50,;
  .help-size(@marginList, padding);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.fw600 {
  font-weight: 600 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.img-responsive {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

pre {
  white-space: normal;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 10px;
}

//--------------------------------
.btn {
  padding: 0 30px;
  height: 50px;
  border-radius: 5px;
  background-color: #177ef3;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.03);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: lighten(#177ef3, 3%);
  }

  &:active {
    background: darken(#177ef3, 3%);
  }

  &.btn-link {
    background: transparent;
    color: #000;
    font-weight: 400;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: #177ef3;
    }

    &:active {
      background: transparent;
    }
  }
}


//-----------------------------------------
.dropdown {
  position: relative;
  > a {
    position: relative;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;

    &:after {
      position: relative;
      top: 2px;
      margin-left: 11px;
      border: 2px solid transparent;
      border-top: 3px solid #000;
      content: "";
    }
  }

  &.open {
    .dropdown-content {
      display: block;
    }

    > a {
      &:after {
        border: 2px solid transparent;
        border-bottom: 3px solid #000;
        top: 0;
      }
    }
  }

  //&:hover {
  //  .dropdown-content {
  //    display: block;
  //  }
  //
  //  > a {
  //    &:after {
  //      border: 2px solid transparent;
  //      border-bottom: 3px solid #000;
  //      top: 0;
  //    }
  //  }
  //}
}

.dropdown-content {
  display: none;
  top: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 12px 30px 0 rgba(28, 36, 78, 0.05);
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: flex;
    height: 42px;
    align-items: center;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 45px;

    &:hover {
      background: rgba(231, 227, 235, 0.6);
    }
  }
}




//-------------------------------------------
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-weight: 600;
  line-height: 1;
  margin: 10px 0;
}


.h1, h1 {
  font-size: 20px;
  margin: 15px 0;
}

.h2, h2 {
  font-size: 14px;
}

.h3, h3 {
  font-size: 13px;
}

.h4, h4 {
  font-size: 12px;
}

.h5, h5 {
  font-size: 11px;
}

.h6, h6 {
  font-size: 10px;
}

p {
  margin: 10px 0;
  font-size: 12px;
  letter-spacing: .2px;
}

.show-on-mobile {
  display: none;
}

.copyright {
  a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
  }
}


.explore-foot {
  white-space: nowrap;
  a {
    text-decoration: none;
    color: #000;
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media(max-width: 991px) {
  .show-on-mobile {
    display: block !important;
  }

  //.home-container {
  //  display: flex;
  //}

  .hide-on-mobile {
    display: none !important;
  }

  .header {
    > .flex {
      width: 100%;
      justify-content: space-between;
    }
  }

  .sub-navigation {
    margin-right: 0;
  }

  .dropdown-content {
    left: auto;
    right: 0;
  }
}

@media(max-width: 768px) {
  .footer {
    height: 200px;
    .container {
      height: 200px;
      flex-direction: column;
      padding: 10px 0;
      text-align: center;

      > div {
        padding: 7px 0;
      }
    }
  }

  .home-title {
    font-size: 26px;

    > div {
      margin-top: -50px;
    }
  }


  .explore-foot {
    .dropdown {
      > a {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.container-relative {
  flex: 100;
  position: relative;
  display: flex;
}

.home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}