.login-form {
  width: 330px;
  position: relative;

  h1 {
    margin-bottom: 45px;
  }

}

.form-control {
  margin-bottom: 10px;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  .btn {
    margin-right: 15px;
  }
}

a {
  text-decoration: none;
  color: #4385f5;
}

.btn {
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  font-weight: 600;
  width: 160px;

  @media(max-width: 480px) {
    width: 120px;
  }
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;

  @media(max-width: 800px) {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.content {
  background: #fff;
  border-radius: 10px;
  max-width: 490px;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-of-type {
    margin-left: 15px;

    @media(max-width: 800px) {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  @media(max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.signup-now {
  text-align: center;
}