<div class="container">
    <div class="content-container">

        <div class="content shadowed">
            <form [formGroup]="form" class="login-form" (submit)="login()" onsubmit="return false">

                <h1>Registrar log in</h1>

                <input type="text" formControlName="username" placeholder="Email" class="form-control">

                <div class="yey-container">
                    <input #password type="password" formControlName="password" placeholder="Password" class="form-control">
                    <a class="yey" href="javascript:void(0)" (click)="Helpers.togglePass(password)"><img src="~Img/yey.svg" alt=""></a>
                </div>

                <div class="error" *ngIf="error">Invalid credentials</div>

                <div class="login-form-footer">
                    <div>
                        <checkbox formControlName="rememberMe">Remember Me</checkbox>
                    </div>
                    <div>
                        <button class="btn">Next</button>
                    </div>
                </div>

                <loader #loader></loader>

            </form>
        </div>
        <div class="content shadowed">
            <div class="signup-now">
                <h1>Registrar SignUp</h1>
                <a [routerLink]="['/auth', 'registrar-signup']" class="btn btn-success">Sign Up now</a>
            </div>
        </div>

    </div>
</div>