.panel-heading {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7), linear-gradient(#ffffff, #ffffff);
  border: solid 1px #ebeced;
  min-height: 44px;
  padding:  10px 24px 9px;
  cursor: pointer;

  .panel-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3d3d3d;
    position: relative;
    margin: 0;
  }

  .caret {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
    display: block;
    width: 7px;
    height: 6px;
    background: url("~Img/ic-arrow-grey.svg") no-repeat center center;
    transform: rotate(180deg);
  }
}

.dropup {
  .caret {
    transform: rotate(0);
  }
}