.btn {
  border: none;
  background: #e7e7e7;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 37px;
  color: #535353;
  text-decoration: none;
  padding: 0 17px;
  border-radius: 18px;
  display: inline-block;
  min-width: 108px;
  text-align: center;
  cursor: pointer;

  &:active {
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.1) inset;
    background: darken(#e7e7e7, 7%);
  }

  &:hover {
    background: darken(#e7e7e7, 3%);
  }

  &.btn-big {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
  }

  &.btn-default {
    background: #bfbfbf;
    color: #fff;

    &:active {
      background: darken(#bfbfbf, 7%);
    }

    &:hover {
      background: darken(#bfbfbf, 3%);
    }
  }

  &.btn-primary {
    background: #4385f5;
    color: #fff;

    &:active {
      background: darken(#4385f5, 7%);
    }

    &:hover {
      background: darken(#4385f5, 3%);
    }
  }

  &.btn-success {
    background: #86c93c;
    color: #fff;

    &:active {
      background: darken(#86c93c, 7%);
    }

    &:hover {
      background: darken(#86c93c, 3%);
    }
  }

  &.btn-danger {
    background: #ff0200;
    color: #fff;

    &:active {
      background: darken(#ff0200, 7%);
    }

    &:hover {
      background: darken(#ff0200, 3%);
    }
  }

  &.btn-warning {
    background: #f19744;
    color: #fff;

    &:active {
      background: darken(#f19744, 7%);
    }

    &:hover {
      background: darken(#f19744, 3%);
    }
  }
}