@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneuecyr-roman.otf") format('opentype');

  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneuecyr-medium.otf") format('opentype');

  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneuecyr-bold.otf") format('opentype');

  font-weight: 600;
}