.form-label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #9c9c9c;
}

.upload-file-input,
.form-control {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  border: none;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 500;
  resize: none;

  &-custom {
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #ebeced;
    box-shadow: none;
    font-size: 15px;
    font-weight: 600;
    color: #4b4b4d;
  }

  &:disabled {
    opacity: .5;
    background: #f5f5f5;
  }

  &::-moz-placeholder {
    font-weight: 500;
    color: #9c9c9c;
  }

  &:-moz-placeholder {
    font-weight: 500;
    color: #9c9c9c;
  }

  &:-ms-input-placeholder {
    font-weight: 500;
    color: #9c9c9c;
  }

  &::-webkit-input-placeholder {
    font-weight: 500;
    color: #9c9c9c;
  }
}

.form-control-btn {
  display: block;
  padding: 8px 14px;
  position: absolute;
  bottom: 0;
  right: 0;
}

textarea.form-control {
  height: 155px;
  &::-moz-placeholder {
    font-style: italic;
  }

  &:-moz-placeholder {
    font-style: italic;
  }

  &:-ms-input-placeholder {
    font-style: italic;
  }

  &::-webkit-input-placeholder {
    font-style: italic;
  }
}

.upload-file-input {
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7), linear-gradient(#ffffff, #ffffff) !important;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-image: linear-gradient(to top, #ffffff, #f7f7f7), linear-gradient(#ffffff, #ffffff) !important;
  }

  span {
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    font-weight: 600;
    color: #4b4b4d;
    padding: 0 30px;
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.checkbox {
  display: inline-block;
  user-select: none;
  cursor: pointer;

  input {
    display: none;

    &:checked + span {
      &:before {
        background: url("./../img/ic-check.svg") no-repeat 0 2px;
      }
    }
  }

  > span {
    display: inline-block;
    position: relative;
    font-weight: 600;
    line-height: 1.71;
    color: #3d3d3d;
    padding-left: 24px;
    min-width: 19px;
    min-height: 19px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: solid 1.5px #3d3d3d;
    }
  }

  &.check-center {
    > span {
      &:before {
        top: 50%;
        margin-top: -8px;
      }
    }
  }
}

.label-search {
  width: 100%;
  max-width: 320px;
  position: relative;

  .form-control {
    height: 50px;
    box-shadow: 0 2px 6px 0 rgba(184, 184, 184, 0.5);
  }

  .btn {
    height: 48px;
    width: 48px;
    min-width: 50px;
    padding: 0;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    right: 1px;
  }
}



.switch {
  width: 64px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;

  input {
    display: none;

    &:checked + span {
      background: #86c93c;
      padding-left: 32px;
    }
  }

  span {
    background: #cecece;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px;
    transition: .2s;

    &:before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      position: relative;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      background: #fff;
    }
  }
}

.label-error {
  .form-control {
    border: 1px solid #ff0202;
    color: #ff0202;
  }

  .error-text {
    display: block !important;
  }
}

.custom-radio {

  cursor: pointer;

  input {
    display: none;

    &:checked {
      & + span {
        &:before {
          background: #86c93c;
        }
      }
    }
  }

  span {
    display: block;
    position: relative;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.2px;
    color: #3d3d3d;
    padding-left: 55px;

    &:before {
      box-sizing: border-box;
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      margin-top: -18px;
      top: 50%;
      left: 0;
      box-shadow: 0 0 0 2px rgba(0,0,0,.2);
      border: 3px solid #fff;
      border-radius: 100%;
    }
  }
}


.radio-image {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;

  input {
    display: none;

    &:checked + div {
      border-color: #ff0200;
      box-shadow: 0 0 0 1px #ff0200 inset;

      &:after {
        display: block;
      }
    }
  }

  div {
    width: 240px;
    height: 84px;
    border-radius: 10px;
    border: solid 1px #c2c2c2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 100px;
      border: solid 1px #9c9c9c;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 24px;
    }

    &:after {
      content: "";
      display: none;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #86c93c;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 27px;
    }
  }

  span {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #3d3d3d;
    margin-top: 10px;
  }
}

.search-geomain {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;

  > div {
    position: relative;
    width: 100%;
    z-index: 5;
  }

  input {
    height: 50px;
    border: none;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #9c9c9c;
    padding: 0 20px;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }

  button {
    height: 50px;
    text-align: center;
    width: 144px;
    border-radius: 4px;
    background-color: #ff0200;
    color: #fff;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: darken(#ff0200, 3%);
    }

    &:active {
      background-color: darken(#ff0200, 7%);
      box-shadow: 1px 1px 5px 0 rgba(0,0,0,.1) inset;
    }
  }
}