* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;

  -webkit-font-smoothing: antialiased;

  &:active, &:focus {
    outline: none;
  }
}

body {
  font-family: "Helvetica Neue";
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  min-width: 320px;


  font-size: 14px;
  font-weight: 400;

}

.container {
  width: 100%;
  max-width: 1020px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: 0.3px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;

  span {
    text-transform: none;
  }
}

h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.2px;
  color: #222222;
}

.remodal-wrapper {
  background-color: rgba(194, 194, 194, 0.3) !important;
}

.modal.remodal {
  min-width: 1000px;
}

.relative {
  position: relative;
}


.error {
  text-align: center;
  color: red;
  font-size: 14px;
  margin: 15px 0 0;
}

.shadowed {
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
}

.copy-text {
  height: 36px;
  line-height: 36px;
  border-radius: 10px;
  background: #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  color: #3d3d3d;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background: darken(#e6e6e6, 2%);
  }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 13px;
    height: 16px;
    border-radius: 2px;
    background: #e6e6e6;
    border: 1px solid #3d3d3d;
    box-shadow: 2px -2px 0 0 #e6e6e6, 3px -3px 0 0 #3d3d3d;
  }
}

table {
  border-collapse: collapse;
}

.coming-soon {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    z-index: 8;
    content: "";
  }

  &:after {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    content: "COMING SOON";
    font-weight: 600;
    font-size: 45px;
    margin-top: -25px;
    opacity: .5;
    z-index: 9;
  }
}

.breadcrumbs {
  list-style: none;
  height: 56px;
  line-height: 56px;
  padding: 0;
  margin: 20px 0 35px;

  @media(max-width: 768px) {
    margin: 10px 0;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }

  a, span {
    font-size: 15px;
    font-weight: 500;
    line-height: 3.73;
    letter-spacing: -0.1px;
    color: #9c9c9c;
    text-decoration: none;
  }

  a {
    cursor: pointer;
  }
}

.yey-container {
  position: relative;

  .yey {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

    img {
      display: block;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.congratulations {
  border-radius: 10px;
  padding: 85px 70px;
  min-height: 100px;
  background-color: #fff;
  background-image: url("../img/congratulations.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  h1 {
    margin-top: 0 !important;
    text-transform: uppercase !important;
    text-align: left !important;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.2px;
    color: #9c9c9c;
  }

  .congratulations-btns {
    margin-top: 95px;

    .btn {
      display: inline-block;
    }

    .btn-warning {
      margin-bottom: 25px;
    }
  }
}



.active-result {
  p {
    margin: 0 !important;
  }
}

.chosen-single {
  span {
    white-space: nowrap;
    p {
      margin: 0;
    }
  }
}

.hidden {
  display: none !important;
}

.modal.remodal {
  min-width: 300px !important;
}

.panel-heading .caret {
  transform: rotate(0) !important;
}

.dropup .caret {
  transform: rotate(180deg) !important;
}
.dropdown .dropdown-menu {
  z-index: 100;
}

.home-slider {

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slide {
    height: 100%;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    li {
      margin: 0 7px;
    }

    button {
      border: none;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    .slick-active {
      button {
        background: lighten(gray, 10%);
        box-shadow: 0 0 0 1px #fff;
      }
    }
  }

  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-1 {
    background-image: url("../img/new-slides/slide1.jpg");
  }

  .slide-2 {
    background-image: url("../img/new-slides/slide2.jpg");
  }

  .slide-3 {
    background-image: url("../img/new-slides/slide3.jpg");
  }

  .slide-4 {
    background-image: url("../img/new-slides/slide4.jpg");
  }

  .slide-5 {
    background-image: url("../img/new-slides/slide5.jpg");
  }
}