.avatar-container {
  .upload {
    width: 160px;
    height: 160px;
    border-radius: 7px;
    background-color: #f8f8f8;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 9;
      cursor: pointer;
    }

    &:hover {
      background-color: darken(#f8f8f8, 1%);
    }

    &:active {
      background-color: darken(#f8f8f8, 2%);
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,.05) inset;
    }

    img {
      display: block;
      margin: 30px auto 10px;
    }

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      letter-spacing: 0.2px;
      text-align: center;
      color: #ff0200;
      display: block;
    }
  }

  .avatar {
    div {
      width: 160px;
      height: 160px;
      border-radius: 7px;
      overflow: hidden;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .remove-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(45, 55, 73, 0.12);
    border: 1px solid #ffffff;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba(45, 55, 73, 0.2);
    }

    &:active {
      box-shadow: 0 1px 3px 0 rgba(45, 55, 73, 0.02);
    }

  }

  .profile-avatar {
    margin-right: 50px;
    position: relative;
  }
}