.custom-table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 55px;
}

.table-head {
  .table-cell {
    height: 60px;
    background: #4385f5;
    border-radius: 8px 8px 0 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    box-shadow: 1px 0 0 0 #fff inset, -1px 0 0 0 #fff inset;
  }

  .table-cell-green {
    background: #86c93c !important;
  }
}

.table-row {
  &:not(.table-head) {
    &:nth-of-type(odd) {
      .table-cell {
        background: #edeff0;
      }
    }
    .table-cell {
      border: 1px solid #d6d6d6;
      border-top: none;
      border-bottom: none;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.table-responsive {
  overflow: auto;
  max-width: 100%;
}