.header-links {
  padding: 14px 8px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);

  @media(max-width: 1024px) {
    overflow: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      flex: 1;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #3d3d3d;

    svg {
      margin-right: 10px;
    }
  }

  .active {
    a {
      box-shadow: 0 4px 6px 0 rgba(63, 63, 76, 0.04);
      border: solid 1px #f0f1f2;
      color: #ff0200;
    }

    .fill {
      fill : #ff0200;
    }

    .stroke {
      stroke : #ff0200;
    }
  }
}