.container {
  padding-bottom: 50px;
}

.content {
  background: #fff;
  border-radius: 10px;
  padding: 40px 45px 80px;

  @media(max-width: 768px) {
    padding: 30px 20px 50px;
  }
}

h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
}

h2 {
  color: #ff0200;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: 0.2px;
  margin-top: 40px;
  margin-bottom: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #3d3d3d;
  padding: 0 5px;

  a {
    font-weight: 500;
    color: #4385f5;
  }
}