<div class="container">

    <ul class="breadcrumbs">
        <li><a [routerLink]="['']">Home</a></li>
        <li><span>-></span></li>
        <li><span>Business Solutions</span></li>
    </ul>

    <div class="content shadowed">

        <h1>Business Solutions</h1>

        <h2>Geomain actively supports the adoption of the Geomains by businesses everywhere.</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>	Enhance your Brand value by branding your Address </accordion-heading>
                <p>
                    Get a Geomain name to match your Business name, example: a business called “Sam’s Pizza”
                    can buy a Geomain name: “SamsPizza”. Your customers can enter this name in our App and
                    can navigate to you. Having a good Geomain name is a sign of prestige for any business,
                    so <a href="http://www.geomain.org/registrars">get yours today</a> before it’s taken!
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>	Adopt Geomain in your forms</accordion-heading>
                <p>
                    Many businesses retain a record of their customers’ addresses, but (beyond mailing needs
                    and compliance with any regulatory requirements that may exist), the fact is that there
                    is very little utility (if any) of actually holding customer addresses at all. Typically
                    addresses can take up 5-7 lines or fields of text. Geomain replaces this with a single
                    line/field of text. This makes it very easy - and hence more likely - for customers to
                    complete a form that requires an Address. If your business manages a large volume of records,
                    then adopting Geomains can also save you thousands of dollars on your IT storage,
                    security and processing costs. Unlike the conventional addressing system which is
                    plagued with data entry integrity issues, Geomain is capable of 100% accuracy when
                    matching or searching addresses since every Geomain is a single unique string.
                </p>
                <p>
                    We also offer real time address validation (via User-defined PIN),
                    adding an extra seamless layer of security for enterprise customers like Banks etc.
                    helping them to further reduce fraud. If you would like to integrate with
                    our API, please email us at <a href="mailto:partner@geomain.org">partner@geomain.org</a>.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>	Geospatial & Logistics Applications </accordion-heading>
                <p>
                    Geomain allows for efficient, rapid and high accuracy processing and mapping of location data.
                    If you would like to work with us, please email us at  <a href="mailto:partner@geomain.org">partner@geomain.org</a>.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>	Other Applications</accordion-heading>
                <p>
                    With the advent of Geomains, it is now possible to build thousands of application and services
                    around Geomains. We are as excited as you are with the possibilities that now exist. If you
                    would like to use Geomains for your application, project, app or business, we will be delighted
                    to support you. Please feel free to get in touch with us at <a href="mailto:partner@geomain.org">partner@geomain.org</a>.
                </p>
            </accordion-group>
        </accordion>


    </div>
</div>