h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: left;
  color: #9c9c9c;
}

.profile-head {
  display: flex;
}

form {
  margin-top: 35px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;

  .form-label {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
  }

  .form-control {
    width: 360px;
  }

  @media(max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;

    .form-label {
      width: 100%;
      margin-bottom: 10px;
    }

    .yey-container,
    .form-control {
      width: 100% !important;
    }
  }
}

.btn {
  margin-top: 60px;

  @media(max-width: 640px) {
    margin-top: 25px;
  }
}

.btn-success {
  width: 160px;
  margin-left: 5px;
}


.modal-success {
  p {
    margin-bottom: 0;
    text-align: center;
    margin-top: 50px;
  }

  .btn {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}