<div class="relative">

    <h1>Change Password</h1>
    <p>Change your Password to the Geomain Support Module</p>

    <form [formGroup]="form">

        <div class="form-group">
            <label class="form-label">Current Password:</label>
            <input type="password" formControlName="currentPassword" class="form-control form-control-custom">
        </div>

        <div class="form-group">
            <label class="form-label">New Password:</label>
            <div class="yey-container">
                <input #password type="password" formControlName="newPassword" class="form-control form-control-custom">
                <a class="yey" href="javascript:void(0)" (click)="Helpers.togglePass(password)"><img src="~Img/yey.svg" alt=""></a>
            </div>
        </div>

    </form>

    <!--<button class="btn btn-default btn-big">Cancel</button>-->
    <button class="btn btn-success btn-big" (click)="change()">Save</button>

    <loader #loader></loader>
</div>

<modal #modal>
    <div class="modal-success">
        <p>Your password is changed</p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Ok</a>
    </div>
</modal>

<error #error [error]="serverError"></error>