<h1>Payment information</h1>

<form [formGroup]="form" onsubmit="return false" (submit)="create()">

    <label class="radio-image">
        <input type="radio" value="BANK" formControlName="paymentType" checked>
        <div>
            <img src="~Img/ic-bank.svg" alt="">
            <span>Bank Transfer</span>
        </div>
    </label>
    <label class="radio-image">
        <input type="radio" value="PAY_PAL" formControlName="paymentType">
        <div>
            <img src="~Img/ic-paypal.svg" alt="">
            <span>PayPal</span>
        </div>
    </label>

    <div class="form-three">
        <div class="form-group">
            <label class="form-label">Bank code (SWIFT/BIC):</label>
            <input type="text" class="form-control form-control-custom" formControlName="swiftcode">
            <validation-message [errors]="form?.controls?.swiftcode.errors"></validation-message>
        </div>
        <div class="form-group">
            <label class="form-label">IBAN:</label>
            <input type="text" class="form-control form-control-custom" formControlName="iban">
            <!--<validation-message [errors]="form?.controls?.firstName.errors"></validation-message>-->
        </div>
        <div class="form-group">
            <label class="form-label">Account Name:</label>
            <input type="text" class="form-control form-control-custom" formControlName="bankAccountNumber">
            <validation-message [errors]="form?.controls?.bankAccountNumber.errors"></validation-message>
        </div>
    </div>
    <div class="form-two">
        <div class="form-group">
            <label class="form-label">City:</label>
            <input type="text" class="form-control form-control-custom" formControlName="city">
            <validation-message [errors]="form?.controls?.city.errors"></validation-message>
        </div>
        <div class="form-group">
            <label class="form-label">Address:</label>
            <input type="text" class="form-control form-control-custom" formControlName="address">
            <!--<validation-message [errors]="form?.controls?.firstName.errors"></validation-message>-->
        </div>
    </div>

    <button class="btn btn-success btn-big">Payment</button>
</form>

<loader #loader></loader>

<error #errorModal [title]="'Payment error'" [error]="error"></error>

<modal #modal>
    <div class="register-success">
        <h1>Success</h1>
        <p>Payment method successfully created</p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Ok!</a>
    </div>
</modal>