h1 {
  text-align: left;
  margin: 65px auto 45px;

  @media(max-width: 991px) {
    margin: 15px auto 25px;
  }
}

.container {
  margin-bottom: 50px;
}

.profile-container {
  background: #fff;
  border-radius: 10px;
  padding: 56px 45px 60px;
}

.radio-image {
  margin-right: 18px;

  @media(max-width: 991px) {
    display: block;
    margin-bottom: 10px;
  }
}

form {
  max-width: 780px;

  .form-label {
    display: block;
  }
}

.form-label {
  margin-bottom: 8px;
}

.form-three {

  margin-top: 35px;
  display: flex;

  .form-group {
    flex: 1;
    padding-right: 20px;
  }

  @media(max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;

    .form-group {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.form-two {
  display: flex;
  margin-top: 20px;

  .form-group {
    width: 260px;
    padding-right: 20px;

    &:nth-last-of-type(1) {
      width: 520px;
    }
  }

  @media(max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;

    .form-group {
      width: 100% !important;
      margin-bottom: 15px;
    }
  }
}

.btn {
  width: 160px;
  margin-top: 45px;

  @media(max-width: 991px) {
    margin-top: 25px;
  }
}

.register-success {
  h1 {
    text-align: center;
    margin: 0 0 15px;
  }

  p {
    font-size: 16px;
    margin: 25px 0;
    font-weight: 500;
    color: #9c9c9c;
  }

  .btn {
    margin-top: 15px;
  }
}