.profile-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  h1 {
    text-align: left;
    margin-bottom: 15px;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.2px;
    color: #9c9c9c;
    margin-bottom: 45px;
  }

  @media(max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;

    > * {
      width: 100%;
    }

    .form-group {
      width: 100% !important;
    }
  }
}

.registrar-id {
  width: 250px;
  margin-top: -25px;

  .form-label {
    margin-bottom: 10px;
    display: block;
  }
}

.profile-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 640px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      .form-label {
        margin-bottom: 10px;
      }
    }
  }

  .form-control-wrap {
    margin-bottom: 8px;
  }

  @media(max-width: 1024px) {
    flex-direction: column;
  }
}

.profile-left {
  width: 380px;
  min-width: 380px;
  max-width: 380px;

  .form-label {
    width: 98px;
  }

  chosen,
  .form-control {
    width: 250px;
  }

  @media (max-width: 1024px) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    chosen,
    .form-control {
      width: 100%;
    }

    .form-label {
      width: 290px;
    }
  }
}

validation-message {
  display: block;
  padding-left: 130px;
}

.profile-right {
  width: 520px;
  min-width: 520px;
  max-width: 520px;

  p {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: 0.2px;
    color: #222222;
    height: 23px;
    display: block;
    margin: 10px 0 19px;
  }

  .form-label {
    width: 205px;
  }

  .form-control {
    width: 250px;
  }

  @media (max-width: 1024px) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    .form-control {
      width: 100%;
    }

    .form-label {
      width: 290px;
    }
  }
}

.btn-default {
  margin-right: 10px;
}

.btn-success {
  width: 160px;

  @media(max-width: 480px) {
    width: 138px;
  }
}

.error {
  margin-bottom: 25px;
  text-align: left;
}