<div class="profile-head">
    <div>
        <h1>Profile Information</h1>
        <p>Please ensure your Profile information remains current at all times</p>
    </div>
    <div>
        <div class="form-group registrar-id">
            <label class="form-label">Geomain Registrar ID:</label>
            <input type="text" class="form-control form-control-custom">
        </div>
    </div>
</div>

<form class="profile-form" onsubmit="return false" [formGroup]="form">
    <div class="profile-left">
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">First Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="firstName">
            </div>
            <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Last Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="lastName">
            </div>
            <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Designation:</label>
                <chosen chosenClass="chosen-custom" formControlName="designation">
                    <option value="null"> </option>
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                    <option value="Mrs">Mrs</option>
                </chosen>
            </div>
            <validation-message [errors]="form?.controls?.designation.errors"></validation-message>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Geomain</label>
                <input type="text" class="form-control form-control-custom" formControlName="geomain">
            </div>
            <validation-message [errors]="form?.controls?.geomain.errors"></validation-message>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Website</label>
                <input type="text" class="form-control form-control-custom" formControlName="website">
            </div>
            <validation-message [errors]="form?.controls?.website.errors"></validation-message>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control form-control-custom" formControlName="businessPhone">
            </div>
            <validation-message [errors]="form?.controls?.businessPhone.errors"></validation-message>
        </div>
    </div>
    <div class="profile-right">
        <p>Contact Geomain Support to edit any of this information:</p>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="businessName">
            </div>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Registration No.</label>
                <input type="text" class="form-control form-control-custom" formControlName="businessRegNumber">
            </div>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" class="form-control form-control-custom" formControlName="email">
            </div>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Mobile Phone</label>
                <input type="text" class="form-control form-control-custom" formControlName="mobilePhone">
            </div>
        </div>
        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Country</label>
                <input type="text" class="form-control form-control-custom" formControlName="country">
            </div>
        </div>
    </div>
</form>
<div class="error">Contact Geomain Support to edit any of this information</div>
<button class="btn btn-default btn-big">Cancel</button>
<button class="btn btn-success btn-big" (click)="submit()">Save</button>

<loader #loader></loader>