.wrapper {
  min-height: 100%;
  padding-top: 130px;
  position: relative;
  padding-bottom: 170px;
}

main {
  min-height: 100%;
  width: 100%;
}

.select-method {
  margin-top: 50px;

  .btn {
    width: 190px;
    margin: 10px 10px 0;
  }
}

.form-control-wrap {
  margin-bottom: 10px;
}

&.m-b {
  margin-bottom: 56px !important;
}

&.m-b-0 {
  margin-bottom: 0 !important;
}

.geomain-container {
  display: flex;
  justify-content: space-between;

  @media(max-width: 540px) {
    flex-direction: column;
  }
}

.geomain-form {
  width: 320px;
  min-height: 730px;
  margin-right: 15px;

  @media(max-width: 540px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    min-height: 1px;
  }
}

.geomain-map {
  max-width: 660px;
  width: 100%;
  position: relative;

  @media(max-width: 540px) {
    height: 700px;
  }
}

.sebm-google-map-container {
  height: 100%;
}

h1 {
  margin-bottom: 0;
}

p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
  margin-top: 0;
  margin-bottom: 33px;
}

.geomain-footer {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 50px;

  .btn {
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    font-weight: 600;
    text-align: center;

    & + .btn {
      margin-left: 21px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
  }

  .btn-default {
    min-width: 150px;

    @media(max-width: 480px) {
      min-width: 115px;
    }
  }

  .btn-success {
    min-width: 220px;

    @media(max-width: 480px) {
      min-width: 160px;
    }
  }
}

chosen {
  display: block;
}

.select-provide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f8f8f8;
  padding-bottom: 10px;
}

.select-provide-content {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px 0 10px;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9c9c9c;
  }

  .error {
    margin-bottom: 10px;
  }
}

.select-provide-btn {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.select-provide-btns {
  display: flex;
  justify-content: center;
  margin: 15px 0 10px;

  > div {
    margin: 0 20px;
  }
}

.register-success {
  padding-bottom: 30px;

  h1 {
    text-transform: none;
  }

  p {
    margin: 35px 0 55px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9c9c9c;
  }
}

.gps-icon-container {
  position: relative;
}

.gps-icon {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.3px;
  color: #3d3d3d;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;

  img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 9px;
  }
}