<div class="container">

    <h1>Get your free geomain number</h1>

    <p>Enter your address or mark it on the map below</p>

    <div class="geomain-container">

        <div class="geomain-form">
            <form [formGroup]="form">
                <div class="form-control-wrap" *ngIf="showAuthUserForm">
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" title="First Name">
                    <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
                </div>
                <div class="form-control-wrap" *ngIf="showAuthUserForm">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" title="Last Name">
                    <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
                </div>
                <div class="form-control-wrap" [ngClass]="{'m-b' : !showAuthUserForm}">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" title="Email">
                    <validation-message [errors]="form?.controls?.email.errors"></validation-message>
                </div>
                <div class="form-control-wrap m-b" *ngIf="showAuthUserForm">
                    <input type="password" class="form-control" formControlName="password" placeholder="Create Password (6 characters)" title="Create Password (6 characters)">
                    <validation-message [errors]="form?.controls?.password.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <chosen placeholder="Geomain is for:" formControlName="category" title="Geomain is for:">
                        <option [value]="GEONUMBER_CATEGORY.PERSONAL">Personal</option>
                        <option [value]="GEONUMBER_CATEGORY.BUSINESS">Business</option>
                        <option [value]="GEONUMBER_CATEGORY.GOVERNMENT">Government</option>
                    </chosen>
                    <validation-message [errors]="form?.controls?.category.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <input type="text" class="form-control" formControlName="apartment" placeholder="House/Apartment Number" title="House/Appartment Number" (input)="changeAddr()">
                    <validation-message [errors]="form?.controls?.apartment.errors"></validation-message>
                </div>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" formControlName="street" placeholder="Street Number & Name" title="Street Number & Name" (input)="changeAddr()">
                    <validation-message [errors]="form?.controls?.street.errors"></validation-message>
                </div>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" formControlName="city" placeholder="Town / City" title="Town / City" (input)="changeAddr()">
                    <validation-message [errors]="form?.controls?.city.errors"></validation-message>
                </div>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" formControlName="zip" placeholder="Zip / Postal Code" title="Zip / Postal Code" (input)="changeAddr()">
                    <validation-message [errors]="form?.controls?.zip.errors"></validation-message>
                </div>
                <div class="form-control-wrap m-b">
                    <input type="text" class="form-control" formControlName="country" placeholder="Country" title="Country" (input)="changeAddr()">
                    <validation-message [errors]="form?.controls?.country.errors"></validation-message>
                </div>
                <div class="gps-icon-container">
                    <div class="gps-icon"><img src="~Img/ic-gps.svg" alt="">GPS</div>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" formControlName="lat" placeholder="Latitude" title="Latitude" (input)="changeAddr(true)">
                        <validation-message [errors]="form?.controls?.lat.errors"></validation-message>
                    </div>
                    <div class="form-control-wrap m-b-0">
                        <input type="text" class="form-control" formControlName="lng" placeholder="Longitude" title="Longitude" (input)="changeAddr(true)">
                        <validation-message [errors]="form?.controls?.lng.errors"></validation-message>
                    </div>
                </div>
                <div class="form-control-wrap m-b">
                    <input type="text" class="form-control" formControlName="comment" placeholder="Comment" title="Comment">
                    <validation-message [errors]="form?.controls?.comment.errors"></validation-message>
                </div>
            </form>
        </div>

        <div class="geomain-map">

            <agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="15" (mapClick)="mapClick($event)" [scrollwheel]="false">
                <agm-marker *ngIf="marker.lat" [latitude]="marker.lat" [longitude]="marker.lng" iconUrl="{{ Helpers.loadImage('ic-geo-pin.png') }}"></agm-marker>
            </agm-map>

            <div class="select-provide">
                <div class="select-provide-content shadowed">
                    <div class="select-provide-btn">
                        <a (click)="enableGps()" class="btn btn-success">Click your location on the map</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="geomain-footer">
        <a (click)="clearForm()" class="btn btn-default">Reset</a>
        <a class="btn btn-success" (click)="submit()" *ngIf="!addrChanged && !coordChanged">
            <img src="~Img/ic-geomain.svg" alt="">
            Looks Good!
        </a>
        <a class="btn btn-success" (click)="checkAddrIf()" *ngIf="addrChanged || coordChanged">
            Validate
        </a>
    </div>

    <loader #loader></loader>

</div>

<modal #modalStart [options]="modalOptions">
    <div class="register-success">
        <h1>Please define the location for which you are registering a Geomain Number</h1>
        <div class="select-method">
            <a class="btn btn-success" (click)="clickOnMap()">Select on the Map</a>
            <a class="btn btn-success" (click)="enterAddress()">Enter Full Address</a>
            <a class="btn btn-success" (click)="enterCoordinates()">Enter GPS Coordinates</a>
        </div>
    </div>
</modal>

<modal #modal [options]="modalOptions">
    <div class="register-success">
        <h1>Verification</h1>
        <p>
            You will shortly receive your free Geomain Number for this address via email.<br/>
            However, first please click on the link we have sent you to verify your email
        </p>
        <a class="btn btn-big btn-success" (click)="closeModal()">Got it!</a>
    </div>
</modal>

<error #error [title]="''" error="Sorry, but we were unable to locate your address. Can you please mark your location on the map instead."></error>
<error #limitError [title]="''" error="Limit is exceeded"></error>