<div class="timeline shadowed">
    <h2 class="status-title">
        Status <div class="message-count">{{ AreaLength }}/300</div>
    </h2>
    <div class="form">
        <textarea #area class="form-control" autosize placeholder="Share your thoughts..." maxlength="300"></textarea>
        <button (click)="submit()">
            <svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Main-Screens-with-map-2" transform="translate(-597.000000, -320.000000)" [attr.fill]="AreaLength < 1 ? '#9c9c9c' : '#FF0200'">
                        <g id="timeline" transform="translate(105.000000, 232.000000)">
                            <path d="M498,88 L530,88 C533.313708,88 536,90.6862915 536,94.0000001 L536,126 C536,129.313708 533.313708,132 530,132 L498,132 C494.686292,132 492,129.313708 492,126 L492,94.0000001 L492,94.0000001 C492,90.6862915 494.686292,88 498,88 L498,88 Z M505,98 L514.5,110 L505,122 L514.5,122 L524,110 L514.5,98 L505,98 Z" id="geo_big"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </div>
</div>

<loader #loader></loader>