.timeline {
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 22px 25px;
}

.message-count {
  float: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  text-align: right;
  color: #9c9c9c;
}

.status-title {
  margin-bottom: 7px;
}

textarea.form-control {
  border-radius: 6px;
  box-shadow: inset 0 1px 6px 0 rgba(116, 114, 114, 0.17);
  border: solid 1px #ebeced;
  height: 44px;
  line-height: 1.4;
  padding: 12px 25px;
  font-weight: 500;

  @media(max-width: 480px) {
    padding: 12px 15px;
  }
}

.form {
  display: flex;
  align-items: flex-end;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  width: 44px;
  height: 44px;
  margin-left: 8px;
  cursor: pointer;

  img {
    width: 44px;
    height: 44px;
  }
}