<div class="container">

    <ul class="breadcrumbs">
        <li><a [routerLink]="['']">Home</a></li>
        <li><span>-></span></li>
        <li><span>FAQs</span></li>
    </ul>

    <div class="content shadowed">

        <h1>FAQ<span>s</span></h1>
        <h2>Geomain Number</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>What is a Geomain?</accordion-heading>
                <p>
                    A Geomain is basically a short form of a physical address. We assign every address on
                    Earth a unique 19 digit number that is GPS linked. Therefore, to get to any address at
                    all, you simply enter its Geomain and you will be able to navigate to it with GPS level
                    accuracy. The Geomain Number is also available for free in a QR Code format, allowing
                    you to share and promote it to your family, friends and/or customers. With the Geomain
                    App, you can scan the Code to navigate.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Is a Geomain Number really free for life?</accordion-heading>
                <p>
                    Yes, your Geomain Number is free for life.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Who can register for a free Geomain?</accordion-heading>
                <p>
                    Anyone anywhere with a valid email ID can register for a free Geomain Number.
                    If you are using the Geomain Mobile App, you will also need to have a mobile
                    phone number to complete your registration.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>What is a Geomain category?</accordion-heading>
                <p>
                    A Geomain category simply indicates your planned use of the Geomain.
                    There are three categories:  (i) Personal, (ii) Business and (iii) Government.
                    The category of a Geomain is defined upon Registration and may not be modified.
                    The exception to this is the Category for Geomain Names, which may be modified
                    upon renewal or re-registration of the Geomain Name.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How can I register a Geomain Number?</accordion-heading>
                <p>
                    If you are using the Web to register:
                    Click the Get my Geomain button on the <a href="http://www.mygeomain.com">www.MyGeomain.com</a> site.<br/>
                    <strong>a.</strong>	Enter your details: Name, Email and Category (if the Geomain is for personal,
                    business or Government use).<br/>
                    <strong>b.</strong>	Enter the first line of your address: this can be an apartment, Unit and/or floor Number,
                    or any other instruction that is required to reach to you e.g. ‘Ring Buzzer 32A’<br/>
                    <strong>c.</strong>	Input your address in any one of three available methods: (i) in text form (ii) mark it on
                    a map, or (iii) enter the GPS coordinates.<br/>
                    <strong>d.</strong>	Confirm your address on a map. Once you submit, we show you the location on a map so you
                    can confirm it to be accurate.<br/>
                    <strong>e.</strong>	Verify your Email. We send you a Verification email, and as soon as you click the link in
                    the email, we will generate your unique Geomain Number and email this to you (along with its corresponding QR Code).<br/>
                </p>
                <p>
                    If you are using our Mobile App to register, you will be taken through the above process
                    at sign up (upon App installation). In this case, your Mobile number will also need
                    to be verified (where we send you a Code via SMS to enter during the App installation).
                    App users have the additional option where they need not input their Address manually –
                    as we are able to determine location via the phone GPS.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How accurate is a Geomain?</accordion-heading>
                <p>
                    Every Geomain Number generated is linked to a set of GPS Coordinates.
                    Therefore, Geomains essentially have GPS level accuracy.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>I am relocating or moving my home/office to another city or country. How can I update my Geomain Number?</accordion-heading>
                <p>
                    Geomain Numbers are unique and the address (GPS Coordinates) that it links to cannot be updated.
                    You will need to register a new Geomain Number if you move or relocate.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>What is a Geomain Page?</accordion-heading>
                <p>
                    Every Geomain Member has their own free Geomain Page. Somewhat similar to member pages
                    on popular Social sites, the Geomain Page offers you a platform where you can update
                    information about yourself, upload your picture, or share your Geomain and much more.
                    Business and Government category Geomain Name pages are also able to run both Banner
                    as well as Video ads on their page.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Does a Geomain Number expire?</accordion-heading>
                <p>
                    A Geomain Number does not expire. However, if you have not logged in to your account
                    for six months or more, then we may delete your Geomain Number and account.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Is a Geomain Number available in languages other than English?</accordion-heading>
                <p>
                    At this time only Geomains are only available in the English and Arabic numerals.
                </p>
            </accordion-group>
        </accordion>

        <h2>Geomain Name</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>What is a Geomain Name?</accordion-heading>
                <p>
                    A Geomain Name helps you to personalise your Geomain Number. Because your free 19-digit
                    Geomain Number may not always be easy to remember, you have the option to register a
                    unique Alphanumeric word that you can then link to your Geomain Number.
                    A Geomain Name may not include any symbols except (-) dash.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>What is the difference between a Geomain Number and a Geomain Name?</accordion-heading>
                <p>
                    The major differences are:<br/>
                    <strong>a.</strong>	A Geomain Number is free for life. A Geomain Name must be registered and renewed annually.<br/>
                    <strong>b.</strong>	A Geomain Number is exclusively available for registration on <a href="http://www.mygeomain.com">own site</a>.
                    A Geomain Name may be registered online with any
                    of our Accredited Geomain Registrars globally.<br/>
                    <strong>c.</strong>	A Geomain Number maps to your GPS coordinates. A Geomain Name only
                    maps to your Geomain Number.<br/>
                    <strong>d.</strong>	Your QR Code for Geomain Number will always navigate to the address
                    that you input when you first registered your Geomain Number. Your QR Code
                    for Geomain Name will always point to your current updated address, because
                    you are able to dynamically link it to any Geomain Number. This is how a Geomain
                    Name can become your one word address for life – no matter where you go.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>What are the types of Geomain Names and what is the difference between them?</accordion-heading>
                <p>
                    In the interest of fair pricing, there are two kinds of Geomain Names offered:<br/>
                    <strong>a.</strong>	A standard Geomain Name - minimum 5 and maximum 29 characters.<br/>
                    <strong>b.</strong>	A Premium Geomain Name - minimum 2 and maximum 4 characters.<br/>
                    Premium Geomain Names have an annual surcharge applied to it, in addition to an annual
                    registration fees. The annual surcharge for a 2 character Geomain Name is higher than
                    that of a 3 character Geomain Name, which in turn is higher than the surcharge applied
                    to a 4 character Geomain Name. In this way, we can ensure that those Registrants who own
                    the most prestigious Geomain Names are paying a premium for the privilege, rather than
                    burdening all Geomain registrants with additional marginal costs.

                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How do I register for a Geomain Name?</accordion-heading>
                <p>
                    You can register a Geomain Name online with any good Domain Registrar.
                    An increasing number of Domain Registrars are now signing up to become an
                    Accredited Geomain Registrar. Here is an updated list of Accredited
                    Geomain Registrars. (link to <a href="http://www.geomain.org/registrars">http://www.geomain.org/registrars</a>)
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How do I link my Geomain Name with my Geomain Number?</accordion-heading>
                <p>
                    To link your Geomain Name to your Geomain Number, you need to:
                    <strong>a.</strong>	Sign in to your Geomain Name Account.<br/>
                    <strong>b.</strong>	Select the Geomain Name you wish to link from the Drop Down Menu
                    field located on the top left hand corner of your Geomain Page.<br/>
                    <strong>c.</strong>	Click the edit (pen) icon in the Drop Down Menu field.<br/>
                    <strong>d.</strong>	All Geomain Names and Numbers that are registered under your email ID are
                    shown in the two Drop Down Menu fields. You may also enter another Geomain Number
                    (which may or may not be registered under your email ID) in the third field on
                    this page.  Make your selection and click the Next button.

                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How many Geomain Numbers can I register under a single Email ID?</accordion-heading>
                <p>
                    There is a limit of 10 Geomain Numbers you can register under a single email ID.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How many Geomain Names can I register under a single Email ID?</accordion-heading>
                <p>
                    You can register up to 10,000 Geomain Names under a single email ID.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Is a Geomain Name available for registration in languages other than English?</accordion-heading>
                <p>
                    Currently, Geomain Names are available in Arabic, English, Hindi, Japanese, Korean,
                    Mandarin and Russian. We will be adding more languages in the future.
                </p>
            </accordion-group>
        </accordion>

        <h2>Advertising</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Why are there Ads on my free Geomain Number page?</accordion-heading>
                <p>
                    All services on the internet that are free need to cover their costs and leverage
                    advertising as a way of doing this. This is why all free Geomain Number pages carry Ads.
                    To enhance the experience of your page visitors, we do limit the free Geomain
                    Number pages to just a single Advert.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Are there any ads on the Geomain Name pages?</accordion-heading>
                <p>
                    Because Geomain Names are paid for, we do not serve any Ads on the (Personal Category)
                    Geomain Name pages. We do however have provisions made for a single Banner Ad and a
                    single Video Ad on the Business and Government Category pages where the Registrant’s
                    own promotional Ads can run. No third party or external Ads are served by us on this page.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Where can I buy Ads to show on my page?</accordion-heading>
                <p>
                    If you have a Business or Government category Geomain Name, you will need to contact your
                    Accredited Geomain Registrar who can assist you in purchasing Ads for your page.
                    Once you complete the purchase, then Ads will automatically be enabled on your Page.
                    You do however need to ensure that you have uploaded your Banner Ad and/or your Video
                    Ad link or File to your Ad Repository. You can do this by signing in to your Geomain Page.
                </p>
            </accordion-group>
        </accordion>

        <h2>Navigation</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Can I really just scan a QR Code to navigate?</accordion-heading>
                <p>
                    Yes, Geomain is a pioneer of Scan and Navigate, and we expect this
                    to become the norm in the future – along with Voice activated Navigation.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How can I scan a QR Code?</accordion-heading>
                <p>
                    You can use the Geomain App to scan any Geomain QR Code.
                </p>
            </accordion-group>
        </accordion>

        <h2>Organization</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Who runs Geomain?</accordion-heading>
                <p>
                    The Singapore-based Geomain Organization is the Master Registrar of all Geomain
                    Names and Numbers globally, and is the sole owner and operator of the Geomain Registry.
                    An international independently appointed Board of Directors representing all regions of
                    the world meets once a year to assess, plan, discuss and approve strategies for the
                    Geomain Organisation. Throughout the year, the management team as appointed by the
                    Geomain Board of Directors works with an Advisory Panel to ensure best practices are
                    developed and any and all compliance and regulatory matters are satisfied.
                </p>
            </accordion-group>
        </accordion>

        <h2>Privacy</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Do you offer Privacy Protect?</accordion-heading>
                <p>
                    Geomain offers Dynamic Privacy Protect (DPP) to all Geomain Registrants.
                    DPP allows the Registrant to sign in and dynamically enable or disable Privacy,
                    thereby being in full control at all times of what information the WHOIS record
                    will show at any time. Geomain does not charge for this service, so it is currently
                    available for free to all Geomain Registrants.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>What do you do with my data?</accordion-heading>
                <p>
                    Geomain uses your data to enable us to provide you with:
                    <strong>a.</strong>	navigation capability.<br/>
                    <strong>b.</strong>	pseudo addressing functionality (share your Geomain but not your actual address).<br/>
                    <strong>c.</strong>	secure addressing functionality (share your Geomain but decide who can access it).<br/>

                    We may also use our Members’ meta data to help improve the range and depth of services
                    that we or our partners may offer from time to time. As is standard practice with most
                    websites that we use today, your data is shared with law enforcement only under an official
                    legal request or subpoena to do so. Just like Apple Inc., Geomain also does not support -
                    nor has any - “back door” or Trojan links to law enforcement agencies anywhere in the world.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>Is it really a good idea to trust Geomain with my data?</accordion-heading>
                <p>
                    We aim to make Geomain your Single Secure Identity. Currently, we all need to share tonnes
                    of information, our address, phone and email with several different parties whom we deal
                    with every day – be these Banks, Phone companies, Government organisations and so on.
                    With Geomain, we envision a world where you no longer need to risk sharing such sensitive
                    data with so many different companies or organisations that you interact with. Instead
                    you simply share your Geomain, and this will serve as your ID in most cases. The companies
                    and organisations will save tonnes of money by not having to store, secure and manage
                    all this data, making this a Win-Win for all.
                </p>
            </accordion-group>
        </accordion>

        <h2>Registrars</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>What is a Geomain Accredited Registrar?</accordion-heading>
                <p>
                    A Geomain Accredited Registrar is a legally entity that has been approved by the
                    Geomain Organization to register Geomain Names. Much in the same way as Domain
                    Registrars are approved by the ICANN Organisation, Geomain Registrars also need
                    to go through an accreditation process before they can qualify to offer Geomain
                    Names registration services.
                </p>
            </accordion-group>
            <accordion-group>
                <accordion-heading>How do I sign up to be a Registrar?</accordion-heading>
                <p>
                    Please visit the Registrar link in the menu at <a href="http://www.geomain.org">www.geomain.org</a>.
                </p>
            </accordion-group>
        </accordion>

        <h2>Security</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>How is my Geomain secure?</accordion-heading>
                <p>
                    As soon as you have registered your Geomain, you may use this instead of your address.
                    Anybody wishing to visit you will enter the Geomain Name or Number on our site or in-App,
                    and if you have enabled Security, then they will be required to enter any one of the
                    following before we will allow the page to open:<br/>
                    <strong>a.</strong>	your Email ID<br/>
                    <strong>b.</strong>	last 4 digits of your phone number<br/>
                    <strong>c.</strong>	4 digit PIN number that you define, and share with whom you wish.<br/>
                    With Security enabled, no one will be able to access your page – nor navigate to you –
                    unless they input any one of the three parameters that you set.

                </p>
            </accordion-group>
        </accordion>

        <h2>Trademark Policy</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Can I register a Trademarked name?</accordion-heading>
                <p>
                    It is virtually impossible to monitor all registrations to ensure that Trademarks are only
                    registered by Trademark owners. Also, Geomain is not in the business of Trademark enforcement,
                    so a Trademarked name can technically be registered by anybody in so far as the Trademark owner does not
                    contest it. When and if a contest is made, then Geomain will always respect the rights of the
                    Trademark owner and award the Geomain to the owner. This means that if you register a name
                    that is a registered Trademark in any jurisdiction, then you are doing so at your own risk
                    as it may be forfeited without compensation should the Trademark owner claim it at any time.
                    In cases where there may be multiple Trademark owners across different jurisdictions, then
                    the Geomain will be awarded to the Trademark owner with the earliest proven registration
                    date in any jurisdiction.
                </p>
            </accordion-group>
        </accordion>

        <h2>Validation</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Why do you need to verify my Email ID and phone?</accordion-heading>
                <p>
                    Your Geomain number and QR Code is sent to you exclusively via Email.
                    Your email is hence verified to ensure that you will indeed receive your Geomain once
                    this is registered. Your phone is verified to validate that you are indeed the owner
                    of that phone number. Both these features enhance user experience making it more
                    secure and efficient.
                </p>
            </accordion-group>
        </accordion>

        <h2>Whois Records</h2>

        <accordion [showArrows]="true" [closeOthers]="false">
            <accordion-group>
                <accordion-heading>Can anyone view the WHOIS Record of a Geomain?</accordion-heading>
                <p>
                    The WHOIS record for a Geomain can be viewed by anyone by clicking on the WHOIS link
                    in the main menu, and then entering the Geomain Name or Number you wish to query.
                    If DPP (Dynamic Privacy Protect) is enabled by Registrant at that time,
                    then no Private information will display.
                </p>
            </accordion-group>
        </accordion>
    </div>
</div>