.content {
  margin: 25px auto 0;
  background: #fff;
  border-radius: 10px;
  padding: 125px 0 200px;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  font-size: 23px;
  font-weight: 500;
  line-height: 0.87;
  letter-spacing: 0.3px;
  text-align: center;
  color: #9c9c9c;
}