<div class="dashboard-links">
    <ul>
        <li routerLinkActive="active"><a routerLink="/registrar/account/dashboard">Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/add-funds">Add Funds</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/customer">CSR</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/password">Change Password</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/profile">Profile</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/discount">Discount Tiers</a></li>
    </ul>
</div>
<div class="dashboard-content">
    <router-outlet></router-outlet>
</div>