.content {
  background: #fff;
  border-radius: 10px;
  padding: 35px 35px 50px;
}

.label-search {
  width: 640px;
  margin: 0 auto;

  .error {
    font-size: 12px;
    margin-top: 10px;
    display: none;
  }
}

.bulk-link {
  a {
    font-size: 17px;
    color: #4385f5;
    font-weight: 500;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    width: 266px;
  }

  chosen,
  .form-control {
    width: 336px;
  }
}


.search-form-container {
  h1 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9c9c9c;
  }

  .bulk-link {
    margin-top: 70px;
  }
}

.custom-number-container {
  text-align: center;

  div {
    display: inline-block;
    border-radius: 10px;
    border: dashed 1px #c2c2c2;
    padding: 12px 20px;
  }

  span {
    display: block;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.4px;
    color: #9c9c9c;
  }

  .custom-number {
    font-size: 21px;
    font-weight: 500;
    line-height: 0.76;
    color: #4385f5;
    margin-top: 8px;
  }

}

h1 {
  margin: 30px 0;
}

.congratulation {
  margin-top: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.1px;
  color: #9c9c9c;

  span {
    display: block;
    font-size: 23px;
    line-height: 1.04;
    color: #4385f5;
    margin-bottom: 5px;
  }
}

.inputs {
  width: 320px;

  .form-wrapper-success {
    margin-bottom: 8px;
    position: relative;

    img {
      position: absolute;
      top: 12px;
      right: 13px;
      display: block;
    }
  }
}

table {
  margin-top: 30px;
  width: 100%;

  td {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #3d3d3d;
    padding-bottom: 30px;

    &:first-of-type {
      width: 53%;
    }
  }

  .table-descr {
    display: block;
    font-size: 15px;
    letter-spacing: -0.1px;
    color: #9c9c9c;
    font-weight: 400;
    margin-top: 5px;
  }
}

.select-cat {

  label {
    padding: 10px 20px 10px 0;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #9c9c9c;
    padding-left: 45px;
    display: inline-block;
  }
}

.select-term {
  white-space: nowrap;

  chosen {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
  }

  span {
    color: #9c9c9c;
  }
}

.text-align-right {
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-wrap {
  margin-bottom: 8px;
}

.record-form {
  width: 560px;
  margin: 50px auto;

  h1 {
    margin-bottom: 40px;
  }
}

validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  chosen {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
  }
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn-success {
    width: 150px;
    margin-left: 10px;
  }
}

.register-success {

  h1 {
    text-transform: none;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9c9c9c;
  }
}