<div class="relative">

    <div *ngIf="!nameAvailable">

        <h1>Renew a Geomain Name</h1>

        <div class="form-label label-search" [ngClass]="{ 'label-error' : nameAvailableErr }">
            <input class="form-control" placeholder="Enter a Geomain name to check if it is available" type="text" [(ngModel)]="search" (keyup)="nameAvailableErr = false">
            <button class="btn" (click)="find()"><img src="~Img/btn-geo.svg"></button>
            <div class="error-text error">Sorry, the Geomain you entered in not available. Please choose another Geomain name.</div>
        </div>

    </div>

    <div *ngIf="nameAvailable">

        <div class="custom-number-container">
            <div>
                <span>Customer Number:</span>
                <span class="custom-number">{{ geomain?.customerNumber }}</span>
            </div>
        </div>

        <h1>Renew a Geoname {{ geomain?.geoName }}</h1>

        <div class="content shadowed">

            <p class="congratulation">
                <span>Congratulations!</span>
                Your chosen Geomain name is available
            </p>

            <div class="inputs">
                <div class="form-wrapper-success">
                    <input type="text" class="form-control form-control-custom" [(ngModel)]="geomain.geoName" disabled>
                    <img src="~Img/ic-check-round.svg" alt="">
                </div>
                <input type="text" class="form-control form-control-custom" disabled [(ngModel)]="geomain.geoNumber" placeholder="Link to Geomain Number (Optional)">
            </div>

            <table>
                <tbody>
                <tr>
                    <td>
                        Annual Premium Geomain surcharge:
                        <span class="table-descr">Applies to Geomains of 2, 3, 4 or 5 characters</span>
                    </td>
                    <td>US$ {{ geomainPrice }} /annum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Select Category:
                        <div class="select-cat">
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.PERSONAL" [(ngModel)]="geomain.category" disabled>
                                <span>Personal</span>
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.BUSINESS" [(ngModel)]="geomain.category" disabled>
                                <span>Business/<br/>Brand</span>
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.GOVERNMENT" [(ngModel)]="geomain.category" disabled>
                                <span>Government</span>
                            </label>
                        </div>
                    </td>
                    <td>US$ {{ categoryPrice }} /year</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="select-term">
                        <label>Select Term: </label>
                        <chosen chosenClass="chosen-custom" [(ngModel)]="geomain.term">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </chosen>
                        <span>year(s)</span>
                    </td>
                    <td></td>
                    <td class="text-align-right">Total: US$ {{ price }}</td>
                </tr>
                </tbody>
            </table>

            <div class="flex">
                <div>
                    <p class="error">This amount will be debited from your account now</p>
                </div>
                <div>
                    <button class="btn btn-big" (click)="clear()">Cancel</button>
                    <button class="btn btn-success btn-big" (click)="submit()">Renew this Geomain</button>
                </div>
            </div>

        </div>

    </div>

    <loader #loader></loader>

</div>

<loader #preloader background="#fff"></loader>

<error #userError [title]="''" error="User not found"></error>

<modal #modal (onClose)="clear()">
    <div class="register-success">
        <h1>Ok</h1>
        <p>Geoname successfully registered</p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>