<router-outlet></router-outlet>

<modal #modal [options]="modalOptions">
    <div class="confirm-success">
        <h1>Thank you for verifying your email address</h1>
        <a class="btn btn-big btn-success" (click)="closeModal()">Ok!</a>
    </div>
</modal>

<modal #modalPass>
    <div class="update-password">
        <h1>Set up new password for your account</h1>
        <div class="pass-container">
            <div class="yey-container">
                <input #password type="password" formControlName="password" placeholder="Password" class="form-control form-control-custom">
                <a class="yey" href="javascript:void(0)" (click)="Helpers.togglePass(password)"><img src="~Img/yey.svg" alt=""></a>
            </div>
            <div class="error" *ngIf="passError">{{ passError }}</div>
        </div>
        <a class="btn btn-big btn-success" (click)="submit(password.value)">Submit</a>
    </div>
</modal>