<div class="geopage">

    <div class="container" *ngIf="GeomainService?.geomain">

        <div>

            <geopage-head [geonumber]="GeomainService.geomain"></geopage-head>

            <div class="geopage-content" *ngIf="GeomainService?.geomain?.id">
                <router-outlet></router-outlet>
            </div>

            <div class="secure-page" *ngIf="!GeomainService?.geomain?.id">

                <h1>This is a secure page</h1>

                <p>Please enter the following to continue:</p>

                <div *ngIf="GeomainService?.geomain?.security == 'PIN'">
                    <form class="security-form" (submit)="submitPin(pin.value)" onsubmit="return false">
                        <p>Enter the PIN number provided to you by Sol</p>

                        <div class="security-block">
                            <input #pin type="password" maxlength="4" class="form-control">
                            <button class="btn btn-danger btn-big">Lets go!</button>
                        </div>

                    </form>
                </div>

                <div *ngIf="GeomainService?.geomain?.security == 'EMAIL'">
                    <form class="security-form" (submit)="submitPin(email.value)" onsubmit="return false">
                        <p>Enter the email provided to you by owner</p>

                        <div class="security-block">
                            <input #email type="text" class="form-control">
                            <button class="btn btn-danger btn-big">Lets go!</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<loader #loader background="rgba(255,255,255,1)"></loader>