.geopage {
  margin-top: 60px;
  padding-bottom: 60px;

  @media(max-width: 1024px) {
    padding-bottom: 40px;
    margin-top: 25px;
  }
}

.geopage-content {
  margin-top: 32px;

  @media(max-width: 1024px) {
    margin-top: 15px;
  }
}

h1 {
  margin: 44px 0 10px;
}

.secure-page {
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9c9c9c;
  }
}

.security-form {
  margin: 130px auto 50px;

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
  }
}

.security-block {
  position: relative;
  width: 320px;
  margin: 0 auto;

  .form-control {
    height: 50px;
  }

  .btn {
    width: 110px !important;
    min-width: 110px !important;
    border-radius: 4px !important;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    letter-spacing: 0.2px;
  }
}