.header-top {
  display: flex;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.header-info {
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 0 15px;

  @media(max-width: 768px) {
    &:first-of-type ~ .header-info {
      border-radius: 0;
    }
  }

  .header-name {
    display: flex;
    align-items: center;
  }

  .header-ltd {
    font-size: 16px;
  }

  .user-avatar {
    margin-right: 10px;
  }

  .user-csr {
    font-size: 11px;
    display: block;
  }
  
  &.header-blue {
    background: #4385f5;
    flex : 12;
    display: flex;
    justify-content: space-between;
    color: #fff;

    @media(max-width: 540px) {
      height: auto;
      padding-top: 10px;
      padding-bottom: 1px;
      flex-direction: column;
      align-items: center;

      > * {
        margin-bottom: 10px;
      }
    }
  }

  &.header-green {
    background: #86c93c;
    flex : 3;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  &.header-orange {
    align-items: center;
    justify-content: center;
    background: #f19744;
    flex: 1;
    color: #fff;
  }

  .balance {
    font-size: 15px;
  }
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 2px #ffffff;
  background-color: #f3f3f3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}