<div class="header">
    <div class="header-top">
        <div class="header-info header-blue">
            <div class="header-name">
                <div class="user-avatar" [ngStyle]="{ 'background-image' : 'url('+AS?.user?.photoLink+')'}"></div>
                <div>
                    <span class="user-name">{{ AS.user?.fullName }}</span>
                    <span class="user-csr">CSR ID: {{ AS.user?.csrId }}</span>
                </div>
            </div>
            <div class="header-ltd">
                Top Geomains Ltd. HK
            </div>
            <div>
                Accredited Registrar ID :
                <br/>
                {{ AS.user?.arid }}
            </div>
        </div>
        <div class="header-info header-green">
            <div>Avalaible Balance:</div>
            <div class="balance">US ${{ AS.user?.balance }}</div>
        </div>
        <div class="header-info header-orange">{{ AS.user?.discountPlan }}</div>
    </div>
    <registrar-header-links></registrar-header-links>
</div>