.container {
  padding-top: 75px;
  padding-bottom: 145px;
}

.content {
  position: relative;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);

  padding: 45px 32px 55px;
}