h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 60px;
}

.profile-head {
  > form {
    display: flex;
  }
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;

  .form-label {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
  }

  > .form-control {
    width: 360px;
  }
}

.yey-container {
  width: 360px;
}

.btn {
  width: 160px;
  margin-top: 60px;
}

.phone {
  display: flex;

  .phone-code {
    width: 160px;
    margin-right: 15px;

    & + div {
      width: 185px;
    }
  }

  input {
    width: 100%;
  }
}

.form-control-wrap {
  margin-bottom: 8px;

  .form-group {
    margin-bottom: 0 !important;
  }
}


validation-message {
  display: block;
  padding-left: 131px;
}