<div class="relative">

    <h1>Create account</h1>

    <div class="profile-head avatar-container">

        <form [formGroup]="form" #csrForm>
            <div class="profile-avatar">

                <div class="avatar" *ngIf="imagePrev">
                    <div [ngStyle]="{ 'background-image' : 'url('+imagePrev+')' }"></div>
                    <button class="remove-avatar" (click)="removePreview(image)">
                        <img src="~Img/ic-del.svg" alt="">
                    </button>
                </div>

                <div class="upload" [ngClass]="{hidden : imagePrev}">
                    <img src="~Img/ic-photo.svg" alt="">
                    <span>Upload photo</span>
                    <input #image
                           type="file"
                           name="photo"
                           (change)="imagePreview(image)"
                           accept="image/jpeg,image/png">
                </div>

            </div>


            <div class="edit-form">

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">First Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="firstName">
                    </div>
                    <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Last Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="lastName">
                    </div>
                    <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="email">
                    </div>
                    <validation-message [errors]="form?.controls?.email.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Phone:</label>
                        <div class="phone">
                            <div class="phone-code">
                                <chosen chosenClass="chosen-custom" formControlName="phoneCode">
                                    <option value="null"> </option>
                                    <option *ngFor="let CODE of CODES" [value]="CODE.code">
                                        <p class="flag flag-{{ CODE.iso2.toLowerCase() }}"></p>
                                        +{{ CODE.code }}
                                    </option>
                                </chosen>
                            </div>
                            <div>
                                <input type="text" class="form-control form-control-custom" formControlName="phoneNum" maxlength="9">
                                <input type="hidden" formControlName="mobilePhone">
                            </div>
                        </div>
                    </div>
                    <validation-message [errors]="form?.controls?.mobilePhone.errors"></validation-message>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-label">Employe ID:</label>-->
                    <!--<input type="text" class="form-control form-control-custom" formControlName="employee">-->
                <!--</div>-->
                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Password:</label>
                        <div class="yey-container">
                            <input #password type="password" formControlName="password" class="form-control form-control-custom">
                            <a class="yey" href="javascript:void(0)" (click)="Helpers.togglePass(password)"><img src="~Img/yey.svg" alt=""></a>
                        </div>
                    </div>
                    <validation-message [errors]="form?.controls?.password.errors"></validation-message>
                </div>
        </div>
        </form>

    </div>

    <button class="btn btn-success btn-big" (click)="submit(csrForm)">Create</button>

    <loader #loader></loader>
</div>