.geopage-number {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 56px;
  position: relative;
}

.geopage-number-ava {
  border-radius: 10px;
  overflow: hidden;
  width: 40px;
  min-width: 40px;
  height: 40px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: block;
  }
}

.geopage-number-name {
  margin-left: 15px;
  width: 190px;

  @media(max-width: 1024px) {
    width: 100%;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.2px;
    color: #222222;
    display: block;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    color: #ff0200;
    font-family: Arial;
  }
}

.secured-ic {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 16px;

  img {
    width: 36px;
    height: 36px;
  }
}