<div class="geopage-number shadowed">
    <div class="geopage-number-ava">
        <img src="~Img/geo-big.svg" alt="">
    </div>
    <div class="geopage-number-name">
        <span>{{ number }}</span>
    </div>
    
    <div class="secured-ic">
        <img src="~Img/ic-block.svg" alt="">
    </div>
</div>