.sign-up-form {
  max-width: 560px;
  margin: 50px auto;
}

.form-control-wrap {
  margin-bottom: 8px;
}

validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  chosen {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
  }

  @media(max-width: 640px) {

    flex-direction: column;
    align-items: flex-start;

    .form-label {
      margin-bottom: 10px;
      width: 100%;
      display: block;
    }
  }
}

.upload-file {
  display: flex;
  align-items: center;
}

.double {
  display: flex;
  align-items: center;

  div {
    width: 55%;
  }

  .phone-code {
    width: 45%;
    min-width: 45%;
    margin-right: 5px;
  }
}


.flag {
  margin: 0 5px 0 0;
}

.upload-file-input {
  width: 60% !important;
  margin-left: 5px;
}

div.form-control {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn {
    margin: 0 5px;
  }

  .btn-success {
    width: 160px;
  }
}

.register-success {
  padding-bottom: 30px;

  h1 {
    text-transform: none;
  }

  p {
    margin: 35px 0 55px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9c9c9c;
  }
}