<div class="container">
    <form #nativeForm [formGroup]="form" class="sign-up-form" onsubmit="return false">

        <h1>Registrar sign up</h1>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="businessName">
            </div>
            <validation-message [errors]="form?.controls?.businessName.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registered Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="businessRegNumber">
            </div>
            <validation-message [errors]="form?.controls?.businessRegNumber.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Designation:</label>
                <chosen chosenClass="chosen-custom" formControlName="designation">
                    <option value="null"> </option>
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                    <option value="Mrs">Mrs</option>
                </chosen>
            </div>
            <validation-message [errors]="form?.controls?.designation.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Your First Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="firstName">
            </div>
            <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Your Last Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="lastName">
            </div>
            <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Geomain:</label>
                <input type="text" class="form-control form-control-custom" maxlength="29" formControlName="geomain">
            </div>
            <validation-message [errors]="form?.controls?.geomain.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control form-control-custom" formControlName="email">
            </div>
            <validation-message [errors]="form?.controls?.email.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Phone:</label>
                <div class="double">
                    <div class="phone-code">
                        <chosen chosenClass="chosen-custom" formControlName="businessPhoneCode">
                            <option value="null"> </option>
                            <option *ngFor="let CODE of CODES" [value]="CODE.code">
                                <p class="flag flag-{{ CODE.iso2.toLowerCase() }}"></p>
                                +{{ CODE.code }}
                            </option>
                        </chosen>
                    </div>
                    <div>
                        <input type="text" class="form-control form-control-custom" formControlName="businessPhoneAll" maxlength="9">
                        <input type="hidden" formControlName="businessPhone">
                    </div>
                </div>
            </div>
            <validation-message [errors]="form?.controls?.businessPhone.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Mobile Phone:</label>
                <div class="double">
                    <div class="phone-code">
                        <chosen chosenClass="chosen-custom" formControlName="mobilePhoneCode">
                            <option value="null"> </option>
                            <option *ngFor="let CODE of CODES" [value]="CODE.code">
                                <p class="flag flag-{{ CODE.iso2.toLowerCase() }}"></p>
                                +{{ CODE.code }}
                            </option>
                        </chosen>
                    </div>
                    <div>
                        <input type="text" class="form-control form-control-custom" formControlName="mobilePhoneAll" maxlength="9">
                        <input type="hidden" formControlName="mobilePhone">
                    </div>
                </div>
            </div>
            <validation-message [errors]="form?.controls?.mobilePhone.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Password:</label>
                <input type="password" class="form-control form-control-custom" formControlName="password">
            </div>
            <validation-message [errors]="form?.controls?.password.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Website:</label>
                <input type="text" class="form-control form-control-custom" formControlName="website">
            </div>
            <validation-message [errors]="form?.controls?.website.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Upload Business Registration Certificate:</label>
                <div class="upload-file">
                    <div class="form-control form-control-custom">{{ fileName }}</div>
                    <div class="upload-file-input upload-file-input-custom">
                        <span>Upload</span>
                        <input type="file" #file class="form-control form-control-custom" name="license" formControlName="license" (change)="uploadFile(file)" accept=".jpg,.jpeg,.bmp,.png">
                    </div>
                </div>
            </div>
            <validation-message [errors]="form?.controls?.license.errors"></validation-message>
        </div>

        <div class="form-footer">
            <button class="btn btn-big" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success btn-big" (click)="submit(nativeForm)">Submit</button>
        </div>

        <loader #loader></loader>

    </form>

    <modal #modal [options]="modalOptions">
        <div class="register-success">
            <h1>Verification</h1>
            <p>
                <strong>Thank you for applying  to become a Geomain Accredited Registrar.</strong><br/>
                You will hear back from us within three working days
            </p>
            <a class="btn btn-big btn-success" (click)="closeModal()">Got it!</a>
        </div>
    </modal>
</div>