.shadowed {
  padding: 40px 50px 70px;
  background: #fff;
  border-radius: 10px;

  h1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 25px;
  }

  @media(max-width: 540px) {
    padding: 30px 25px 50px;
  }
}

.support-form {
  max-width: 560px;

  .form-group {
    display: flex;
    align-items: center;

    @media(max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      span {
        margin-bottom: 15px;
      }
    }
  }

  .form-label {
    width: 190px;
    min-width: 190px;
  }

  input.form-control,
  chosen {
    width: 100%;
    margin-left: 20px;

    @media(max-width: 768px) {
      margin-left: 0;
    }
  }

  .btn {
    width: 160px;
    margin-top: 45px;
  }
}

.topic {
  margin-bottom: 27px;

  validation-message {
    padding-left: 210px;
    display: block;
  }
}