<div class="shadowed">
    <h1>
        <ng-content></ng-content>
    </h1>
    <form class="support-form" [formGroup]="form" (submit)="submit()">


        <div class="form-control-wrap topic">
            <label class="form-group">
                <span class="form-label">How we may assist you:</span>
                <chosen class="chosen-custom" formControlName="topic" placeholder="Select an Option">
                    <option value="Registering a Geomain Number">Registering a Geomain Number</option>
                    <option value="Registering a Geomain Name">Registering a Geomain Name</option>
                    <option value="Update my Email or Geomain">Update my Email or Geomain</option>
                    <option value="Ads">Ads</option>
                    <option value="GeoMarket">GeoMarket</option>
                    <option value="Page Security">Page Security</option>
                    <option value="Qr Code">Qr Code</option>
                </chosen>
            </label>
            <validation-message [errors]="form?.controls?.topic.errors"></validation-message>
        </div>

        <div class="form-control-wrap topic">
            <label class="form-group">
                <span class="form-label">Email:</span>
                <input type="text" class="form-control form-control-custom"
                       formControlName="email"
                       [disabled]="AuthorizationService.isAuthenticated"
                       [value]="AuthorizationService.user?.email">
            </label>
            <validation-message [errors]="form?.controls?.email.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <textarea class="form-control form-control-custom" placeholder="Enter details here" formControlName="message"></textarea>
            <validation-message [errors]="form?.controls?.message.errors"></validation-message>
        </div>

        <input type="hidden" formControlName="status">
        <input type="hidden" formControlName="priority">

        <button class="btn btn-success btn-big">Submit</button>

    </form>
</div>

<loader #loader></loader>

<error #error [error]="serverError"></error>