<div class="container">

    <support (onSuccess)="modal.open()">Registrar support</support>

</div>

<modal #modal [options]="modalOptions">
    <div class="register-success">
        <h1>Success</h1>
        <p>Your Support Request has been submitted.</p>
        <a class="btn btn-big btn-success" (click)="closeModal()">Got it!</a>
    </div>
</modal>