.shadowed {
  padding: 40px 50px 70px;
  background: #fff;
  border-radius: 10px;

  h1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 25px;
  }
}

.container {
  margin-bottom: 100px;
}

.support-form {
  width: 560px;

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
  }

  .form-label {
    width: 52%;
  }

  chosen {
    width: 100%;
    margin-left: 20px;
  }

  .btn {
    width: 160px;
    margin-top: 45px;
  }
}