<div class="relative">

    <h1>Update account</h1>

    <div class="profile-head avatar-container" *ngIf="csr">

        <div class="profile-avatar">

            <div class="avatar" *ngIf="csr?.photoLink">
                <div [ngStyle]="{
                        'background-image' : 'url('+csr?.photoLink+')'
                    }"></div>
                <button class="remove-avatar" (click)="removeAvatar()">
                    <img src="~Img/ic-del.svg" alt="">
                </button>
            </div>

            <form #fileForm class="upload" *ngIf="!csr?.photoLink">
                <img src="~Img/ic-photo.svg" alt="">
                <span>Upload photo</span>
                <input type="file" name="file" (change)="uploadAvatar(fileForm)">
                <input type="hidden" name="id" [(ngModel)]="csr.id">
            </form>

        </div>

        <div class="edit-form">

            <form [formGroup]="form" #csrForm>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control form-control-custom" [value]="csr?.email" disabled>
                    </div>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">First Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="firstName">
                    </div>
                    <validation-message [errors]="form?.controls?.firstName.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Last Name:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="lastName">
                    </div>
                    <validation-message [errors]="form?.controls?.lastName.errors"></validation-message>
                </div>

                <div class="form-control-wrap">
                    <div class="form-group">
                        <label class="form-label">Phone:</label>
                        <input type="text" class="form-control form-control-custom" formControlName="mobilePhone">
                    </div>
                    <validation-message [errors]="form?.controls?.mobilePhone.errors"></validation-message>
                </div>

                <button class="btn btn-success btn-big" (click)="submit(csrForm)">Update</button>

            </form>
        </div>

    </div>


    <loader #loader></loader>
</div>