.text-center {
  text-align: center;
}

.profile-content {
  margin-top: 40px;
}

.profile-table {
  display: flex;
  justify-content: space-between;

  > div {
    width: 49%;
    max-width: 49%;
    min-width: 49%;
  }

  h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #222222;
    text-transform: uppercase;
    margin: 0 0 5px;

    span {
      text-transform: none;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: #4385f5;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.82;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    border-left: 1px solid #e4e9ed;

    &:first-of-type {
      border-left: none;
      border-top-left-radius: 10px;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
    }
  }

  td {
    border: 1px solid #e4e9ed;
    padding: 9px 16px 7px;
    text-align: center;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #9c9c9c;

    span {
      display: block;

      a {
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        color: #4b4b4d;
        text-decoration: none;
      }
    }
  }

  @media(max-width: 1024px) {
    flex-direction: column;

    > div {
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
}

.table-edit,
.table-remove {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  img {
    display: block;
  }
}

.table-edit {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  img {
    width: 16px;
    height: 16px;
    display: block;
  }
}

.linked-success {
  h1 {
    margin-bottom: 35px;
    margin-top: 0;
  }

  p {
    font-size: 17px;
    margin-bottom: 25px;
  }
}

.input-geomain {
  padding: 0 !important;
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 20px;
    height: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
  }

  input {
    padding-right: 0;
    box-shadow: none;
  }

  validation-message {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
  }
}

.link-button {
  display: flex;
  margin-top: 30px;

  p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .err {
    color: red;
    margin-bottom: 0;
    font-size: 13px;
  }

  .btn {
    margin-left: 40px;

    @media(max-width: 480px) {
      margin-left: 10px;
    }
  }
}