<div class="profile-content">

    <div class="profile-table">

        <div>
            <h2>Geomain name<span>(s)</span></h2>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Linked to</th>
                        <!--<th>Expiration date</th>-->
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let geoname of geonames">
                        <td class="check">
                            <checkbox (change)="changeCheck(geoname)"></checkbox>
                        </td>
                        <td>
                        <span>
                            <a [routerLink]="['/', geoname.name, 'map']">
                                {{ geoname.name }}
                            </a>
                        </span>
                        </td>
                        <td>
                            <div *ngIf="geoname.category == GEONUMBER_CATEGORY.BUSINESS">
                                <img src="~Img/ic-business.svg" alt="">
                            </div>
                            <div *ngIf="geoname.category == GEONUMBER_CATEGORY.PERSONAL">
                                <img src="~Img/ic-personal.svg" alt="">
                            </div>
                            <div *ngIf="geoname.category == GEONUMBER_CATEGORY.GOVERNMENT">
                                <img src="~Img/ic-government.svg" alt="">
                            </div>
                        </td>
                        <td>{{ geoname.numberMasked }}</td>
                        <!--<td>{{ geoname.expiryDate | date : 'dd/M/yyyy' }}</td>-->
                        <td>
                            <!--<a class="table-edit"><img src="~Img/ic-edit.svg" alt=""></a>-->
                            <a class="table-remove" (click)="toRemove(geoname)"><img src="~Img/ic-del.svg" alt=""></a>
                        </td>
                    </tr>
                    <tr *ngIf="!geonames?.length">
                        <td colspan="5">Geomain names is empty</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2>Geomain number<span>(s)</span></h2>
            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Number</th>
                        <th>Date Created</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let geonumber of geonumbers">
                        <td class="check">
                            <radio name="geonumbers" (change)="changeCheck(geonumber, true)"></radio>
                        </td>
                        <td>
                        <span>
                            <a [routerLink]="['/', geonumber.number, 'map']">
                                {{ geonumber.numberMasked }}
                            </a>
                        </span>
                        </td>
                        <td>{{ geonumber.expiryDate | date : 'dd/MM/yyyy' }}</td>
                        <td>
                            <!--<a class="table-edit"><img src="~Img/ic-edit.svg" alt=""></a>-->
                            <a class="table-remove" (click)="toRemove(geonumber)"><img src="~Img/ic-del.svg" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <radio name="geonumbers" #geomainInputRadio (click)="geomainInput.focus(); checkInput()"></radio>
                        </td>
                        <td colspan="3" class="input-geomain">
                            <form [formGroup]="form">
                                <input type="text" formControlName="geonumber" class="form-control"
                                       #geomainInput
                                       (click)="checkInput()"
                                       placeholder="Add a Geomain Number, then click Link">
                                <validation-message [errors]="form?.controls?.geonumber.errors"></validation-message>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="link-button">
        <div>
            <p>You can link your Geomain Name to any one Geomain Number at a time</p>
            <p class="err">Any deliveries/shipments sent prior this update will be routed to the old address.</p>
        </div>
        <div>
            <a class="btn btn-success link-names" (click)="linkGeomains()">
                Link
            </a>
        </div>
    </div>

</div>

<loader #loader></loader>

<modal #modal>
    <div class="linked-success">
        <h1>Message</h1>
        <p>
            Successfully linked
        </p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>

<confirm #confirm (onSuccess)="removeGeomain()">
    Do you really want to delete this Geomain
    <span *ngIf="geomain?.name">{{ geomain?.name }}</span>
    <span *ngIf="!geomain?.name">{{ geomain?.number }}</span>?
</confirm>

<error #errorModal [error]="serverError"></error>
<error #selectError [title]="''" error="Please select one Geomain name and one Geomain number"></error>