<h1>Add Funds to your Account</h1>

<p>
    Geomain prefers that you fund your Registrar Account by Bank to Bank wire transfer.
    Our Banking information was included in the «Welcome Email» that we sent you when
    your Registrar Account was first approved.
</p>

<button class="btn btn-big btn-warning" routerLink="methods">Email me Banking Information</button>

<p>
    You can also add funds to your account immediately by using a
    Credit Card or PayPal. Minimum payment is US$500 and the maximum is US$2,000
</p>

<div class="form-group">
    <label class="form-label">Enter US$ Amount</label>
    <input type="text" class="form-control form-control-custom" [(ngModel)]="summ">
    <a class="form-control-btn">
        <img src="~Img/ic-edit.svg" alt="">
    </a>
</div>

<button class="btn btn-success btn-big" (click)="pay()">Next</button>

<loader #loader></loader>

<error #error [error]="serverError"></error>