h1 {
  text-align: left;
}

.form-group {
  display: flex;
  align-items: center;
  max-width: 540px;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;

  .form-control {
    max-width: 360px;
  }

  @media(max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;

    .form-label {
      margin-bottom: 10px;
    }
  }
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: left;
  color: #9c9c9c;
  max-width: 700px;
  margin: 30px 0;
}