<!--pagination.component.html-->

<ul *ngIf="current" class="pagination">

    <li>
        <a *ngIf="!isFirstPage()" href="javascript:void(0)" (click)="changePage(current-1)">Prev</a>
        <span *ngIf="isFirstPage()">Prev</span>
    </li>

    <li *ngFor="let page of showedPages" [ngClass]="{active : page == current}">
        <a href="javascript:void(0)" (click)="changePage(page)">{{page}}</a>
    </li>

    <li>
        <a *ngIf="!hasOnePage() && !isLastPage()" href="javascript:void(0)" (click)="changePage(current+1)">Next</a>
        <span  *ngIf="hasOnePage() || isLastPage()">Next</span>
    </li>
</ul>
