.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);

  li {
    border-right: 1px solid #e4e4e4;

    &:last-of-type {
      border: none;
    }
  }

  a, span {
    color: #4385f5;
    display: block;
    padding: 13px 15px 10px;
    text-decoration: none;
    min-width: 40px;
    font-size: 16px;
  }

  span {
    color: #3d3d3d;
  }

  .active {
    a {
      color: #3d3d3d;
    }
  }
}