h1 {
  text-align: left;
  margin-top: 0;
}

.csr-head {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-success {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media(max-width: 640px) {
    flex-direction: column;

    .btn-success {
      margin-top: 15px;
    }
  }
}

.custom-table {
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);

  .table-body {
    text-align: center;
    font-size: 15px;

    a {
      color: #4385f5;
      font-weight: 600;
    }
  }

  .table-cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.table-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  > * {
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.table-remove {
  border-right: 2px solid #d6d6d6;
}

.pagination {
  text-align: center;
  margin-top: 25px;
}

pagination {
  display: inline-block;
}