<div class="relative">

    <h1>Manage Customer Service Representatives (CSR)</h1>

    <div class="csr-head">
        <div class="form-label label-search">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
            <button class="btn" (click)="onChangePage(1)"><img src="~Img/btn-geo.svg" alt=""></button>
        </div>
        <div>
            <a routerLink="create" class="btn btn-big btn-success">Add new CSR</a>
        </div>
    </div>

    <div class="table-responsive">
        <div class="custom-table">
            <div class="table-row table-head">
                <div class="table-cell">CSR ID</div>
                <div class="table-cell">CSR Name</div>
                <div class="table-cell">Last Login From</div>
                <div class="table-cell">Last Login at</div>
                <div class="table-cell">Action</div>
            </div>
            <div class="table-row table-body" *ngFor="let csr of data">
                <div class="table-cell"><a>{{ csr.csrId }}</a></div>
                <div class="table-cell">{{ csr.firstName }} {{ csr.lastName }}</div>
                <div class="table-cell">{{ csr.lastLoginFrom }}</div>
                <div class="table-cell">{{ csr.lastLoginTime | date : 'dd MMM yyyy, hh:mm' }}</div>
                <div class="table-cell relative">
                    <div class="table-actions">
                        <a class="table-remove" (click)="toDelete(csr)"><img src="~Img/ic-del.svg" alt=""></a>
                        <a class="table-edit" [routerLink]="['update', csr.id]"><img src="~Img/ic-edit.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination" *ngIf="data?.length">
        <pagination [current]="page" [total]="total" (onChangePage)="onChangePage($event)"></pagination>
    </div>

    <loader #loader></loader>
</div>

<confirm #confirm (onSuccess)="removeCsr()">Do you really want to delete csr {{ currentCsr?.firstName }} {{ currentCsr?.fullName }}?</confirm>