<div class="search-geomain-container">
    <form (submit)="Search()">
        <div class="search-geomain">
            <div>
                <input type="text" placeholder="Enter a valid Geomain" #search (input)="serverError = false">
                <div class="search-error" [ngClass]="{'showed-error' : serverError}">
                    <img src="" alt=""> <span>This Geomain not found</span>
                </div>
            </div>
            <button>Lets Go!</button>
        </div>
    </form>
    <!--<span>Get My Free Geomain Number</span>-->
</div>
<loader #loader></loader>