.search-geomain-container {
  text-align: right;

  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.36);
  }
}

.search-error {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 50px;
  opacity: 0.93;
  border-radius: 4px;
  background-color: #3d3d3d;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: .3s;

  &.showed-error {
    height: 56px;
    top: 100%;
    box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2), 0 -4px 0 0 #3d3d3d;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }
}