<div class="drop-container dropdown" dropdown>
    <div dropdown-open class="geopage-number shadowed">
        <div class="geopage-number-ava">
            <img *ngIf="!geonumber?.owner?.photoLink" src="~Img/geo-big.svg" alt="">
            <div class="img" *ngIf="geonumber?.owner?.photoLink" [ngStyle]="{'background-image' : 'url('+geonumber?.owner?.photoLink+')' }">
            </div>
        </div>
        <div class="geopage-number-name">
            <span *ngIf="geonumber?.name">{{ geonumber?.name }}</span>
            <div *ngIf="geonumber?.number">{{ geonumber?.numberMasked }}</div>
        </div>
        <div class="geopage-number-arr" *ngIf="AuthorizationService?.user?.id == geonumber?.owner?.id">
            <a><img src="~Img/ic-arrow-grey.svg" alt=""></a>
        </div>
        <div class="geopage-number-edit">
            <!--<a><img src="~Img/ic-edit.svg" alt=""></a>-->
        </div>
    </div>

    <div class="dropdown-menu shadowed" *ngIf="AuthorizationService?.user?.id == geonumber?.owner?.id && geomains?.length">
        <ul>
            <li *ngFor="let geomain of geomains" [routerLink]="['/', geomain.name || geomain.number, Path]">
                {{ geomain.name || geomain.numberMasked}}
            </li>
        </ul>
    </div>
</div>