.geopage-number {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 56px;
}

.geopage-number-ava {
  border-radius: 10px;
  overflow: hidden;
  width: 40px;
  min-width: 40px;
  height: 40px;

  img, .img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: block;
  }

  .img {
    background-position: center center;
    background-size : cover;
  }
}

.geopage-number-name {
  margin-left: 15px;
  width: 190px;

  @media(max-width: 1024px) {
    width: 100%;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.2px;
    color: #222222;
    display: block;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    color: #ff0200;
    font-family: Arial;
  }
}

.geopage-number-edit,
.geopage-number-arr {
  a {
    display: block;
    padding: 10px 7px 10px 12px;
    cursor: pointer;
  }

  img {
    display: block;
  }
}

.geopage-number-edit {
  a {
    padding: 5px 8px 5px 5px;
  }
}

.dropdown-menu {
  background: #fff;
  border-radius: 10px;
  min-width: 100%;
  margin-top: 5px;

  ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }

  li {
    padding: 10px 25px;
  }
}