h1 {
  margin: 45px 0 10px;
  text-align: center;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
}

.bunners-container {
  width: 560px;
  margin: 0 auto;
  margin-top: 40px;

  h2 {
    height: 24px;
    line-height: 24px;
    border-radius: 10px 10px 0 0;
    background-color: #4385f5;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
}

.bunners-content {
  background: #fff;
  border-radius: 0 0 10px 10px;
  border: solid 1px rgba(151, 151, 151, 0.17);
  border-top: none;
  overflow: hidden;

  ul {
    margin: 0 0 -1px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      width: 50%;
      justify-content: center;
      padding: 15px;
      border-bottom: solid 1px rgba(151, 151, 151, 0.17);
      border-right: solid 1px rgba(151, 151, 151, 0.17);

      &:nth-of-type(even) {
        border-right: none;
      }
    }
  }
}

.upload-item {
  width: 208px;

  span {
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.2px;
    color: #9c9c9c;
    font-weight: 400;
    padding-left: 34px;
  }
}

.upload-bg {
  position: relative;

  padding-left: 10px;

  img {
    &:not(.play) {
      width: 200px;
      height: 95px;
    }
  }

  .play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
  }
}

.remove {
  margin-left: 8px;
  cursor: pointer;
}

.upload {
  align-items: center;
  display: inline;
  position: relative;
  cursor: pointer;
  height: 153px;

  a {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.2px;
    color: #ff0200;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
  }
}

.text-center {
  text-align: center;
  margin-top: 15px;
}