<h1>Upload your Banner files to show on your Geomain Page</h1>
<p>
    Upload up to five Banner Ads and select which of
    these 5 Banners you wish to show at any time. <br/>If more then
    one Banner is selected, then these Banner
    will show randomly to your Page Visitors.
</p>

<div class="bunners-container">
    <h2>Your Banners</h2>
    <div class="bunners-content">
        <ul>
            <li *ngFor="let bunner of bunners">
                <div class="upload-item">
                    <!--<checkbox [center]="true">-->
                        <div class="upload-bg">
                            <img [src]="bunner.url" alt="">
                        </div>
                    <!--</checkbox>-->
                    <!--<span>Main side banner.jpg</span>-->
                </div>
                <a class="remove" (click)="selectBunner(bunner)">
                    <img src="~Img/ic-del.svg" alt="">
                </a>
            </li>
            <li class="upload">
                <form #fileForm>
                    <a href="">Upload bunner</a>
                    <input type="file" name="file" (change)="uploadBunner(fileForm)">
                    <input type="hidden" name="geoname" [value]="GeomainService?.geomain?.name">
                </form>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <a class="btn btn-success" [routerLink]="['home']">Provision</a>
    </div>
</div>
<loader #loader></loader>
<error #error [error]="serverError"></error>
<confirm #confirm (onSuccess)="removeBunner()">
    Do you really want to delete this bunner?
</confirm>