<div class="relative">

    <form [formGroup]="form" class="record-form " onsubmit="return false">

        <h1>Registrant Record</h1>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Customer number:</label>
                <input type="text" class="form-control form-control-custom" formControlName="customerNumber">
            </div>
            <validation-message [errors]="form?.controls?.customerNumber.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registrant:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registrant">
            </div>
            <validation-message [errors]="form?.controls?.registrant.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registered by:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registrationDate">
            </div>
            <validation-message [errors]="form?.controls?.registrationDate.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control form-control-custom" formControlName="email">
            </div>
            <validation-message [errors]="form?.controls?.email.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Business Phone:</label>
                <input type="text" class="form-control form-control-custom" formControlName="mobilePhone">
            </div>
            <validation-message [errors]="form?.controls?.mobilePhone.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">URL:</label>
                <input type="text" class="form-control form-control-custom" formControlName="companyUrl" placeholder="http://">
            </div>
            <validation-message [errors]="form?.controls?.companyUrl.errors"></validation-message>
        </div>

        <div class="error">
            Important:  When you update an Email ID of a Customer, ALL Geomains registered by this Customer will
            show the updated Email ID. The Customer Number however remains the same.
        </div>

        <div class="form-footer">
            <button class="btn btn-big" (click)="goBack()">Back</button>
            <button class="btn btn-success btn-big" (click)="update()">Update</button>
        </div>

        <loader #loader></loader>

    </form>

    <div class="custom-table" *ngIf="geomains">
        <div class="table-row table-head">
            <div class="table-cell">Category</div>
            <div class="table-cell">Expiry Date</div>
            <div class="table-cell">Geomain Name</div>
            <!--<div class="table-cell">Geomain Number</div>-->
            <div class="table-cell">Premium</div>
            <div class="table-cell">Status</div>
        </div>
        <div class="table-row table-body" *ngFor="let geomain of geomains">
            <div class="table-cell">{{ geomain.category }}</div>
            <div class="table-cell">{{ geomain.expiryDate }}</div>
            <div class="table-cell">{{ geomain.name }}</div>
            <!--<div class="table-cell"><a [routerLink]="geomain.geoNumber">{{ geomain.gnumber }}</a></div>-->
            <div class="table-cell">
                <span *ngIf="geomain.premium">Yes</span>
                <span *ngIf="!geomain.premium">No</span>
            </div>
            <div class="table-cell">{{ geomain.status }}</div>
        </div>
    </div>

</div>

<loader #preloader background="#fff"></loader>

<modal #modal>
    <div class="register-success">
        <h1>Verification</h1>
        <p>
            We have sent the Registrant an Email to verify this change by clicking<br/> on the link provided.

        </p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>