.record-form {
  width: 560px;
  margin: 0 auto;

  .error {
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    line-height: 1.4;
  }
}

.register-success {
  h1 {
    text-transform: none !important;
    margin: 20px auto;
  }

  p {
    margin: 0 0 25px;
  }
}

h1 {
  margin: 50px auto 40px;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
  margin-top: -25px;
}

.label-search {
  margin: 70px auto 0;
}

.flag {
  margin: 0;
}

.form-control-wrap {
  margin-bottom: 8px;
}


validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  chosen {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
  }
  .phone-code {
    width: 30%;
    min-width: 30%;
    margin-right: 5px;
  }
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn {
    margin: 0 5px;
  }

  .btn-success {
    width: 160px;
  }
}

.custom-table {
  margin-top: 40px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
  background: #fff;

  .table-head {
    background: #f8f8f8;
  }

  .table-cell {
    width: 72px;
    padding: 0 5px;
    word-break: break-all;
  }

  .table-body {
    text-align: center;

    .table-cell {
      padding: 40px 5px;
      font-size: 17px;
      line-height: 1.2;
    }

    a {
      font-weight: 600;
      text-align: center;
      color: #4385f5;

      &.email {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}