<form [formGroup]="form" class="login-form" (submit)="login()" onsubmit="return false">

    <h1>Sign in to your account</h1>

    <input type="text" formControlName="username" placeholder="Email" class="form-control">

    <div class="yey-container">
        <input #password type="password" formControlName="password" placeholder="Password" class="form-control">
        <a class="yey" href="javascript:void(0)" (click)="Helpers.togglePass(password)"><img src="~Img/yey.svg" alt=""></a>
    </div>

    <a [routerLink]="['/auth', 'forgot-pass']">Forgot password?</a>

    <div class="error" *ngIf="error">Invalid credentials</div>

    <div class="login-form-footer">
        <div>
            <checkbox formControlName="rememberMe">Remember Me</checkbox>
        </div>
        <div>
            <button class="btn btn-primary">Sign In</button>
        </div>
    </div>

    <loader #loader></loader>

</form>