.login-form {
  max-width: 350px;
  margin: 200px auto 50px;
  position: relative;
  padding: 0 10px;

  h1 {
    margin-bottom: 45px;
  }

  @media(max-width: 768px) {
    margin-top: 30px;
  }
}

.form-control {
  margin-bottom: 10px;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #4385f5;
}

.btn {
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  font-weight: 600;
  width: 160px;
  margin-right: 15px;

  @media(max-width: 480px) {
    width: 130px;
  }
}