<div class="relative">

    <div *ngIf="!nameAvailable">


        <div class="search-form-container" *ngIf="!user?.id && !userEmail">

            <h1>Register a New Geomain</h1>

            <p>Please select Registrant for whom you wish to register the new Geomain</p>

            <div class="search-form">

                <chosen placeholder="Select type:" [(ngModel)]="type">
                    <option [value]="SEARCH_TYPES.RE">Registrant Email</option>
                    <option [value]="SEARCH_TYPES.CN">Customer Number</option>
                </chosen>

                <span>is</span>

                <input type="text" class="form-control" [(ngModel)]="search">

                <button class="btn btn-success" (click)="find()">Search</button>

            </div>

            <div class="bulk-link">
                <a [routerLink]="['/registrar', 'register', 'bulk']">Bulk Registrations?</a>
            </div>

        </div>

        <div *ngIf="user?.id || userEmail">

            <div class="custom-number-container" *ngIf="user">
                <div>
                    <span>Customer Number:</span>
                    <span class="custom-number">{{ user?.customerNumber }}</span>
                </div>
            </div>

            <h1>
                Register a new Geomain for
                <span *ngIf="user">{{ user?.firstName }} {{ user?.lastName }}</span>
                <span *ngIf="userEmail">{{ userEmail }}</span>
            </h1>

            <div class="form-label label-search" [ngClass]="{ 'label-error' : nameAvailableErr }">
                <input class="form-control" placeholder="Enter a Geomain name to check if it is available" type="text" #name (keyup)="nameAvailableErr = false">
                <button class="btn" (click)="checkGeoname(name.value)"><img src="~Img/btn-geo.svg"></button>
                <div class="error-text error">Sorry, the Geomain you entered in not available. Please choose another Geomain name.</div>
            </div>

        </div>

    </div>

    <div *ngIf="nameAvailable">

        <div class="custom-number-container" *ngIf="user">
            <div>
                <span>Customer Number:</span>
                <span class="custom-number">{{ user?.customerNumber }}</span>
            </div>
        </div>

        <h1>
            Register a new Geomain for
            <span *ngIf="user">{{ user?.firstName }} {{ user?.lastName }}</span>
            <span *ngIf="userEmail">{{ userEmail }}</span>
        </h1>

        <div class="content shadowed">

            <p class="congratulation">
                <span>Congratulations!</span>
                Your chosen Geomain name is available
            </p>

            <div class="inputs">
                <div class="form-wrapper-success">
                    <input type="text" class="form-control form-control-custom" [(ngModel)]="GeomainData.geomainName" disabled>
                    <img src="~Img/ic-check-round.svg" alt="">
                </div>
                <input type="text" class="form-control form-control-custom" [(ngModel)]="GeomainData.geomainNumber" placeholder="Link to Geomain Number (Optional)">
            </div>

            <table>
                <tbody>
                <tr>
                    <td>
                        Annual Premium Geomain surcharge:
                        <span class="table-descr">Applies to Geomains of 2, 3, 4 or 5 characters</span>
                    </td>
                    <td>US$ {{ geomainPrice }} /annum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Select Category:
                        <div class="select-cat">
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.PERSONAL" [(ngModel)]="GeomainData.category">
                                <span>Personal</span>
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.BUSINESS" [(ngModel)]="GeomainData.category">
                                <span>Business/<br/>Brand</span>
                            </label>
                            <label class="custom-radio">
                                <input type="radio" name="category" [value]="GEONUMBER_CATEGORY.GOVERNMENT" [(ngModel)]="GeomainData.category">
                                <span>Government</span>
                            </label>
                        </div>
                    </td>
                    <td>US$ {{ categoryPrice }} /year</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="select-term">
                        <label>Select Term: </label>
                        <chosen chosenClass="chosen-custom" [(ngModel)]="GeomainData.term">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </chosen>
                        <span>year(s)</span>
                    </td>
                    <td></td>
                    <td class="text-align-right">Total: US$ {{ price }}</td>
                </tr>
                </tbody>
            </table>

            <div class="flex">
                <div>
                    <p class="error">This amount will be debited from your account now</p>
                </div>
                <div>
                    <button class="btn btn-big" (click)="cancel()">Cancel</button>
                    <button class="btn btn-success btn-big" (click)="submit()">Register this Geomain</button>
                </div>
            </div>

        </div>

    </div>

    <loader #loader></loader>

</div>

<loader #preloader background="#fff"></loader>

<error #userError [title]="''" error="User not found"></error>
<error #errorModal [title]="''" [error]="error"></error>

<modal #modal (onClose)="cancel()">
    <div class="register-success">
        <h1>Ok</h1>
        <p>Geoname successfully registered</p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>