h1 {
  line-height: 1.57;
}

.content {
  margin: 25px auto 0;
  background: #fff;
  border-radius: 10px;
  padding: 50px 25px 45px;
}

h2 {
  span {
    position: relative;
  }

  .form-control-btn {
    top: 50%;
    margin-top: -20px;
    right: -55px;
    bottom: auto !important;
  }
}

.search-geomain {
  margin: 20px auto 0;
  max-width: 400px;
  box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
}