<h1>Url</h1>
<div class="content shadowed text-center">
   <h2>
      <span *ngIf="GeomainService.geomain">
         Website Url : {{ GeomainService.geomain?.website }}
         <a class="form-control-btn" *ngIf="AS.user?.id == GeomainService.geomain?.owner?.id" (click)="toggleInput()">
            <img src="~Img/ic-edit.svg" alt="">
         </a>
      </span>
   </h2>
   <div *ngIf="inputShow" class="search-geomain">
      <div>
         <input placeholder="Enter a valid Geomain" type="text" [value]="GeomainService.geomain?.website" #input>
      </div>
      <button (click)="updateGeomain(input.value)">Update</button>
   </div>
</div>