<h1>Browse Geomains <span>(32,392)</span></h1>

<div class="search-container">

    <div class="form-label label-search">
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn"><img src="~Img/btn-geo.svg" alt=""></button>
    </div>

    <ul class="symbols">
        <li><label><input type="radio" name="symbols"><span>A</span></label></li>
        <li><label><input type="radio" name="symbols"><span>B</span></label></li>
        <li><label><input type="radio" name="symbols"><span>C</span></label></li>
        <li><label><input type="radio" name="symbols"><span>D</span></label></li>
        <li><label><input type="radio" name="symbols"><span>E</span></label></li>
        <li><label><input type="radio" name="symbols"><span>F</span></label></li>
        <li><label><input type="radio" name="symbols"><span>G</span></label></li>
        <li><label><input type="radio" name="symbols"><span>H</span></label></li>
        <li><label><input type="radio" name="symbols"><span>I</span></label></li>
        <li><label><input type="radio" name="symbols"><span>J</span></label></li>
        <li><label><input type="radio" name="symbols"><span>K</span></label></li>
        <li><label><input type="radio" name="symbols"><span>L</span></label></li>
        <li><label><input type="radio" name="symbols"><span>M</span></label></li>
        <li><label><input type="radio" name="symbols"><span>N</span></label></li>
        <li><label><input type="radio" name="symbols"><span>O</span></label></li>
        <li><label><input type="radio" name="symbols"><span>P</span></label></li>
        <li><label><input type="radio" name="symbols"><span>Q</span></label></li>
        <li><label><input type="radio" name="symbols"><span>R</span></label></li>
        <li><label><input type="radio" name="symbols"><span>S</span></label></li>
        <li><label><input type="radio" name="symbols"><span>T</span></label></li>
        <li><label><input type="radio" name="symbols"><span>U</span></label></li>
        <li><label><input type="radio" name="symbols"><span>W</span></label></li>
        <li><label><input type="radio" name="symbols"><span>X</span></label></li>
        <li><label><input type="radio" name="symbols"><span>Y</span></label></li>
    </ul>

</div>

<div class="custom-table">

    <div class="table-row table-head">
        <div class="table-cell">Geomain</div>
        <div class="table-cell">Starting Bid</div>
        <div class="table-cell">Sale/Reserve Price</div>
        <div class="table-cell">Highest Bid</div>
        <div class="table-cell">Auction Ends</div>
    </div>

    <div class="table-row">
        <div class="table-cell"><a routerLink="aoll">Aoll</a></div>
        <div class="table-cell">US$21,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">23 June 2017, 22:23</div>
    </div>

    <div class="table-row">
        <div class="table-cell"><a routerLink="aoll">July 2019</a></div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">23 June 2017, 24:19</div>
    </div>

    <div class="table-row">
        <div class="table-cell"><a routerLink="aoll">Bolobol33</a></div>
        <div class="table-cell">US$2,938</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">22 June 2017, 22:23</div>
    </div>

    <div class="table-row">
        <div class="table-cell"><a routerLink="aoll">mypass2019</a></div>
        <div class="table-cell">N/A</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">21 June 2017, 22:23</div>
    </div>

    <div class="table-row">
        <div class="table-cell"><a routerLink="aoll">dolHappy</a></div>
        <div class="table-cell">US$1,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">US$3,000</div>
        <div class="table-cell">20 June 2017, 12:21</div>
    </div>

</div>