h1 {
  margin: 0;
  text-align: left;

  span {
    font-size: 17px;
    letter-spacing: 0.2px;
    color: #ff0200;
  }
}

.label-search {
  width: 300px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 31px;
}

.symbols {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style: none;

  flex : 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    flex: 1;

    span {
      width: 100%;
      font-size: 19px;
      letter-spacing: 0.4px;
      color: #9c9c9c;
      text-align: center;
      display: block;
      height: 36px;
      line-height: 41px;
      border-radius: 4px;
      cursor: pointer;
    }

    input {
      display: none;

      &:checked + span {
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(184, 184, 184, 0.5);
      }
    }

  }
}

.table-row {
  &:not(.table-head) {
    .table-cell {
      text-align: center;

      a {
        font-size: 15px;
        font-weight: bold;
        color: #4385f5;
      }
    }
  }
}

.custom-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
  background: #fff;
}