<h1>Share your geomain page with family, friends and associates.</h1>
<div class="content shadowed">
    <div #toCopy>
        <p>
            Hi,
        </p>
        <p>
            I have upgraded to Geomain as my new address.
        </p>
        <p>
            The Geomain <span *ngIf="GeomainService?.geomain?.name">number</span> <span *ngIf="!GeomainService?.geomain?.name">name</span> assigned to me is:
            <a routerLink="/{{ GeomainService?.geomain?.name || GeomainService?.geomain?.number }}/map">
                {{ GeomainService?.geomain?.name  || GeomainService?.geomain?.numberMasked }}
            </a>.
        </p>
        <p>
            You can visit my personal Geomain page at: <a routerLink="/{{ GeomainService?.geomain?.name || GeomainService?.geomain?.number }}/map">
            {{ Host }}/{{ GeomainService?.geomain?.name || GeomainService?.geomain?.number }}
        </a>
        </p>
        <p>
            You may navigate to me by simply scanning this QR Code with the Geomain App: <img [src]="GeomainService?.geomain?.qrCodeLink" width="60" alt="">
        </p>
        <p>
            Please share your Geomain with me too. If you do not have a Geomain yet, you can sign up for your free Geomain
            <a [routerLink]="['/']">{{ Host }}</a>
        </p>
        <p>
            Thank you.
        </p>
    </div>

    <div class="share-footer">
        <div class="share-icons">
            <a shareButton="facebook" [sbUrl]="Url" [sbImage]="GeomainService?.geomain?.qrCodeLink" [sbDescription]="description">
                <img src="~Img/ic-soc-facebook.png" alt="">
            </a>
            <a shareButton="twitter" [sbUrl]="Url" [sbImage]="GeomainService?.geomain?.qrCodeLink" [sbDescription]="description">
                <img src="~Img/ic-soc-twitter.png" alt="">
            </a>
        </div>
        <div>
            <a clipboard [element]="toCopy" class="copy-text" (onCopy)="showModal()">Copy text</a>
        </div>
    </div>
</div>

<modal #copyMessage>
    <h1>Copied!</h1>
</modal>