h1 {
  line-height: 1.57;
}

.content {
  margin: 25px auto 0;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 45px;
}

p, p a {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  text-align: left;
  color: #3d3d3d;
}

p {
  margin: 10px 0;

  a {
    color: #ff0200;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
}

.share-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.share-icons {
  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    img {
      display: block;
    }
  }
}