h1 {
  margin-top: 45px;
}

.content {
  margin: 65px auto 0;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px 30px 25px;
}

.my-coord {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.2px;
  color: #9c9c9c;
  margin-bottom: 5px;
}

.coord {
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #3d3d3d;
}

.unit {
  color: #ff0200;
}

.title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
}

.text {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.4;
}