<h1>my gps coordinates</h1>
<div class="content shadowed">
    <div class="coords">
        <div class="my-coord">My GPS Coordinates are:</div>
        <div class="coord">{{ GeomainService?.geomain?.lat }}</div>
        <div class="coord">{{ GeomainService?.geomain?.lon }}</div>
    </div>
    <!--<div class="unit">-->
        <!--<div class="title">Sol Fruits Stall</div>-->
        <!--<div class="text">Unit: 35A, 3rd Floor</div>-->
    <!--</div>-->
</div>