.record-form {
  width: 560px;
  margin: 0 auto;
}

.relative {
  h1 {
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

.flag {
  margin: 0;
}

.form-control-wrap {
  margin-bottom: 8px;
}


validation-message {
  display: block;
  padding-left: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-label {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  chosen {
    display: block;
    width: 100%;
  }

  div {
    width: 100%;
  }
  .phone-code {
    width: 30%;
    min-width: 30%;
    margin-right: 5px;
  }
}

.form-footer {
  text-align: center;
  margin-top: 40px;

  .btn {
    margin: 0 5px;
  }

  .btn-success {
    width: 160px;
  }
}


p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #9c9c9c;
}

.custom-table {
  max-width: 900px;
  margin: 0 auto 50px;
  border-radius: 8px;
  box-shadow: 0 4px 7px 0 rgba(184, 184, 184, 0.2);
  background: #fff;

  .table-cell {
    width: 25%;
  }

  .table-body {
    text-align: center;
    font-size: 15px;

    a {
      color: #4385f5;
      font-weight: 600;
    }
  }
}

.table-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  > * {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 2px solid #d6d6d6;
  }
}

.table-add {
  border-right: none !important;
}