<div class="relative">

    <h1>Geomain Record</h1>

    <div class="custom-table" *ngIf="geomain?.category != GEONUMBER_CATEGORY.PERSONAL">
        <div class="table-row table-head">
            <div class="table-cell">Name</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">Expiration date</div>
            <div class="table-cell">Action</div>
        </div>
        <div class="table-row table-body" *ngFor="let subscription of subscriptions">
            <div class="table-cell"><a>{{ subscription.gname.name }}</a></div>
            <div class="table-cell">
                <div *ngIf="subscription.type == 'BANR'">Baner</div>
                <div *ngIf="subscription.type == 'VLNK'">Video Link</div>
                <div *ngIf="subscription.type == 'VEMB'">Vemb</div>
            </div>
            <div class="table-cell">{{ subscription.expiryDate | date : "dd.MM.yyyy" }}</div>
            <div class="table-cell relative">
                <div class="table-actions">
                    <a class="table-add" (click)="adSubscribtion(subscription.type)"><img src="~Img/ic-plus.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="form" class="record-form" onsubmit="return false">

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Customer number:</label>
                <input type="text" class="form-control form-control-custom" formControlName="number">
            </div>
            <validation-message [errors]="form?.controls?.number.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registrant:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registrant">
            </div>
            <validation-message [errors]="form?.controls?.registrant.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Category:</label>
                <chosen chosenClass="chosen-custom" placeholder="Geomain is for:" formControlName="category" title="Geomain is for:" [disabled]="true">
                    <option [value]="GEONUMBER_CATEGORY.PERSONAL">Personal</option>
                    <option [value]="GEONUMBER_CATEGORY.BUSINESS">Business</option>
                    <option [value]="GEONUMBER_CATEGORY.GOVERNMENT">Government</option>
                </chosen>
            </div>
            <validation-message [errors]="form?.controls?.category.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Registered by:</label>
                <input type="text" class="form-control form-control-custom" formControlName="registered">
            </div>
            <validation-message [errors]="form?.controls?.registered.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control form-control-custom" formControlName="email">
            </div>
            <validation-message [errors]="form?.controls?.email.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Phone:</label>
                <input type="text" class="form-control form-control-custom" formControlName="phone">
            </div>
            <validation-message [errors]="form?.controls?.phone.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Geomain Name:</label>
                <input type="text" class="form-control form-control-custom" formControlName="geoname">
            </div>
            <validation-message [errors]="form?.controls?.geoname.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Language:</label>
                <!--<chosen chosenClass="chosen-custom" formControlName="lang">-->
                    <!--<option value="null"> </option>-->
                <!--</chosen>-->
                <input type="text" class="form-control form-control-custom" formControlName="lang">
            </div>
            <validation-message [errors]="form?.controls?.lang.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Geomain Number:</label>
                <input type="text" class="form-control form-control-custom" formControlName="geonumber">
            </div>
            <validation-message [errors]="form?.controls?.geonumber.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Created:</label>
                <input type="text" class="form-control form-control-custom" formControlName="created">
            </div>
            <validation-message [errors]="form?.controls?.created.errors"></validation-message>
        </div>

        <div class="form-control-wrap">
            <div class="form-group">
                <label class="form-label">Expires:</label>
                <input type="text" class="form-control form-control-custom" formControlName="expires">
            </div>
            <validation-message [errors]="form?.controls?.expires.errors"></validation-message>
        </div>

        <div class="form-footer">
            <button class="btn btn-big" (click)="back()">Back</button>
            <button class="btn btn-success btn-big" (click)="update()">Update</button>
        </div>

        <loader #loader></loader>

    </form>

</div>

<modal #modal>
    <div class="register-success">
        <h1>Verification</h1>
        <p>
            The Geomain Number associated with the selected<br/>
            Geomain name is now updated.
            <br/>
            <br/>
            Registrant has also been notified of this update via Email

        </p>
        <a class="btn btn-big btn-success" (click)="modal.close()">Got it!</a>
    </div>
</modal>