<div class="container">

    <ul class="breadcrumbs">
        <li><a [routerLink]="['']">Home</a></li>
        <li><span>-></span></li>
        <li><span>Geomain name</span></li>
    </ul>

    <div class="content shadowed">

        <h1>GEOMAIN NAME</h1>

        <p>
            A Geomain Name is any name that you choose (subject to availability) that you can
            register and link to your free Geomain Number. For example, if your Geomain Number
            is: 100-1748- 8303-4032- 1943, and you decide to register the Geomain Name “Amanda”,
            you can then LINK your Geomain Number to your Geomain Name, and your Geomain is
            now as simple as “Amanda”.
        </p>

        <p>
            Just like Domain Names, Geomain Names are unique and available for registration
            exclusively via our global network of Accredited Geomain Registrars. If you do not see
            your Domain Registrar in the list below, please feel free to suggest to them that you
            would also like to register a Geomain – and help them to offer Geomains as well.
        </p>

        <h2>Accredited Registrars List:</h2>

        <ul class="acredited">
            <li><a href="http://getgeomains.com/">getgeomains.com</a></li>
        </ul>


    </div>
</div>