h1 {
  margin: 60px 0 30px;
}

.who-is-content {
  h1 {
    text-align: left;
    margin-top: 0;
  }
}

.who-is-content {
  background: #fff;
  border-radius: 10px;
  padding: 50px 50px 100px;
  margin-bottom: 50px;

  @media(max-width: 768px) {
    padding: 30px 20px 60px;
  }
}

search {
  display: block;
  max-width: 660px;
  margin: 30px auto;
}

table {

  @media(max-width: 768px) {
    width: 100%;
  }

  tr {
    &:nth-of-type(odd) {
      background-color: #edf0f2;
    }
  }

  td {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.1px;
    text-align: left;
    color: #3d3d3d;
    padding: 9px 35px;
    word-break: break-word;

    @media(max-width: 768px) {
      padding: 9px 10px;
      font-size: 14px;
    }
  }
}