<div class="container">
    <h1>Geomain WHOIS</h1>
    <search searchMethod="whoIs" (OnSuccess)="onFind($event)"></search>
    <div class="who-is-content shadowed" *ngIf="whoIs">

        <h1>WHOIS SEARCH REPORT</h1>

        <table>
            <tbody>
                <tr *ngIf="whoIs.geomainName">
                    <td>Geomain Name:</td>
                    <td>{{ whoIs.geomainName }}</td>
                </tr>
                <tr *ngIf="!whoIs.geomainName">
                    <td>Geomain Number:</td>
                    <td>{{ whoIs.geomainNumber }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Geomain Type:</td>
                    <td>{{ whoIs.geomainType }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Registrant Name:</td>
                    <td>{{ whoIs.registrantName }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Registrant Email:</td>
                    <td>{{ whoIs.registrantEmail }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Registrant Phone:</td>
                    <td>{{ whoIs.registrantPhone }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Registrant URL:</td>
                    <td>{{ whoIs.registrantUrl }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{ whoIs.created | date : 'HH:mm, dd MMMM yyyy' }}</td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Expires:</td>
                    <td>{{ whoIs.expires | date : 'HH:mm, dd MMMM yyyy' }}</td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Latest Update:</td>
                    <td>{{ whoIs.latestUpdate | date : 'HH:mm, dd MMMM yyyy' }}</td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Latest Renewal Date:</td>
                    <td>{{ whoIs.latestRenewalDate | date : 'HH:mm, dd MMMM yyyy' }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr>
                    <td>Geomain Status:</td>
                    <td>{{ whoIs.geomainStatus }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Registrar Name:</td>
                    <td>{{ whoIs.registrarName }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Registrar Email:</td>
                    <td>{{ whoIs.registrarEmail }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
                <tr *ngIf="whoIs.geomainName">
                    <td>Registrar URL:</td>
                    <td>{{ whoIs.registrarUrl }} <span *ngIf="whoIs.privacyProtect">Protected With DPP</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>