<div class="geopage-content">
    <div class="geopage-content-left">
        <geomain-timeline class="m-b-25" *ngIf="GeomainService.geomain?.ownerId == AS.user?.id"></geomain-timeline>
        <geomain-social-feed></geomain-social-feed>
    </div>

    <div class="geopage-content-right" *ngIf="GeomainService.geomain?.ownerId == AS.user?.id">
        <div class="geopage-bunners shadowed bunner" [routerLink]="['/', geomain, 'upload-bunner']">
            <div class="upload">Upload your banner</div>
        </div>
        <div class="geopage-bunners shadowed video" [routerLink]="['/', geomain, 'upload-video']">
            <div class="upload">Upload your video</div>
        </div>
    </div>

    <div class="geopage-content-right" *ngIf="GeomainService.geomain?.ownerId != AS.user?.id && (!GeomainService.geomain?.name || GeomainService.geomain?.category != GEONUMBER_CATEGORY.PERSONAL)">
        <div class="geopage-bunners shadowed ad-bunner" *ngIf="ad?.bannerURL">
            <img [src]="ad?.bannerURL" alt="">
        </div>
        <div class="geopage-bunners shadowed ad-video" *ngIf="ad?.video">
            <video [src]="ad?.video?.videoURL" autoplay></video>
        </div>
    </div>

    <div class="geopage-map" *ngIf="GeomainService.geomain?.name && GeomainService.geomain?.category == GEONUMBER_CATEGORY.PERSONAL">
        <agm-map [latitude]="GeomainService?.geomain?.lat" [longitude]="GeomainService?.geomain?.lon" [zoom]="15">
            <agm-marker
                    *ngIf="GeomainService?.geomain?.lat && GeomainService?.geomain?.lon"
                    [latitude]="GeomainService?.geomain?.lat"
                    [longitude]="GeomainService?.geomain?.lon"
                    iconUrl="{{ Helpers.loadImage('ic-geo-pin.png') }}">
            </agm-marker>
        </agm-map>
    </div>
</div>