.geopage-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;

  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.geopage-content-left {
  width: 560px;
  margin-right: 20px;

  @media(max-width: 991px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.geopage-content-right {
  @media(max-width: 991px) {
    width: 100%;
    margin-right: 0;
  }
}

.geopage-bunners {
  width: 420px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width: 991px) {
    width: 100%;
  }

  video {
    width: 100%;
  }
}

.sebm-google-map-container {
  height: 100%;
}

.m-b-25 {
  margin-bottom: 25px;
  display: block;
}

.bunner {
  margin-bottom: 25px;
  padding: 15px 47px;
  min-height: 1px;

  .upload {
    padding: 32px 10px;
    min-width: 100%;
  }
}

.ad-bunner,
.ad-video {
  padding: 5px;
  min-height: 1px;

  img {
    display: block;
    width: 100%;
    border-radius: 5px;
  }

  video {
    border-radius: 5px;
  }
}

.ad-bunner {
  margin-bottom: 15px;
}

.video {
  padding: 46px;

  .upload {
    padding: 105px 10px;
    min-width: 100%;
  }
}

.upload {
  border-radius: 7px;
  background-color: #f8f8f8;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ff0200;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.geopage-map {
  width: 420px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

  @media(max-width: 991px) {
    width: 100%;
    margin-right: 0;
  }
}

.sebm-google-map-container {
  height: 100%;
}