main-page {
  min-height: 510px;
  display: block;

  @media(max-width: 540px) {
    min-height: 600px;
  }
}

.slick-main {
  width: 100%;
  min-width: 320px;
  position: absolute;
  top: 84px;
  bottom: 128px;

  .slick-track,
  .slick-list {
    height: 100%;
  }
}

.slick-main-slide {
  background-size: cover;
  min-height: 100%;
  display: flex !important;
  align-items: center;
  padding-bottom: 88px;
  position: relative;

  p {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    min-height: 117px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.36);
    text-transform: uppercase;
  }
}

search {
  display: block;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 50px;
}

.slide-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 88px;
  background: #fff;
  padding-top: 24px;

  @media(max-width: 991px) {
    display: none;
  }

  &.slide-footer-gray {
    background: #f8f8f8;
  }

  &.slide-footer-big {
    padding-top: 8px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.slide-geomain-addr {
  img {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    &.qr-image {
      width: 48px;
      margin-right: 0;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 600;
    line-height: 0.61;
    color: #3d3d3d;

    small {
      font-size: 14px;
      line-height: 1.5;
      display: inline-block;
      margin-left: 15px;
      margin-right: 11px;
    }
  }

  div {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #9c9c9c;
    margin-top: 6px;
  }
}

.slide-geomain-personalize {
  .btn {
    padding-left: 32px;
    padding-right: 32px;
  }

  img {
    width: 48px;
  }
}

.slick-dots {
  position: relative;
  bottom: 150px;
  left: 0;
  width: 100%;
  text-align: center;

  @media(max-width: 991px) {
    bottom: 50px;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  button {
    padding: 0;
    border: none;
    background: #fff;
    opacity: .5;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;
  }

  .slick-active {
    button {
      opacity: 1;
      box-shadow: 0 0 0 2px #fff;
    }
  }
}