<div class="wrapper">

    <header></header>

    <main>

        <div class="slick-main" slick [options]="slickOptions">

            <div class="slick-main-slide"
                 [ngStyle]="{'background-image': 'url(' + Helpers.loadImage('slides/bitmap.jpg') + ')'}">

                <div class="container">
                    <p>
                        "MY ADDRESS IS NOW A 19-DIGIT NUMBER CALLED GEOMAIN.
                        EVERY ADDRESS ON EARTH HAS A GEOMAIN AND ITS GPS-LINKED FOR ACCURACY."
                    </p>

                    <search (OnSuccess)="onFind($event)"></search>
                </div>

                <div class="slide-footer">
                    <div class="container">
                        <div class="slide-geomain-addr">
                            <img src="~Img/maps-geo.png" alt="">
                            <span>100 1748 8303 4032 1943</span>
                            <div>Maps to GPS Coordinates: 40.748440 -73.984559</div>
                        </div>
                        <div class="slide-geomain-personalize">
                            <a [routerLink]="['/geomain-name']" class="btn btn-success">Personalize</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="slick-main-slide"
                 [ngStyle]="{'background-image': 'url(' + Helpers.loadImage('slides/bitmap-2.jpg') + ')'}">

                <div class="container">
                    <p>
                        "I HAVE PERSONALISED MY GEOMAIN NUMBER.
                        IT’S NOW MY ONE-WORD ADDRESS FOR LIFE - NO MATTER WHERE IN THE WORLD I CHOOSE TO LIVE."
                    </p>

                    <search (OnSuccess)="onFind($event)"></search>
                </div>

                <div class="slide-footer">
                    <div class="container">
                        <div class="slide-geomain-addr">
                            <img src="~Img/maps-geo.png" alt="">
                            <span>Zara1</span>
                            <div>Maps to GPS Coordinates: 40.748440 -73.984559</div>
                        </div>
                        <div class="slide-geomain-personalize">
                            <a [routerLink]="['/geomain-name']" class="btn btn-success">Personalize</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="slick-main-slide"
                 [ngStyle]="{'background-image': 'url(' + Helpers.loadImage('slides/bitmap-3.jpg') + ')'}">

                <div class="container">
                    <p>
                        "MY GEOMAIN NAME IS MY SECURE IDENTITY FOR LIFE.
                        I FEEL SO MUCH SAFER NEVER AGAIN HAVING
                        TO SHARE MY ADDRESS."
                    </p>

                    <search (OnSuccess)="onFind($event)"></search>
                </div>

                <div class="slide-footer">
                    <div class="container">
                        <div class="slide-geomain-addr">
                            <img src="~Img/maps-geo.png" alt="">
                            <span>100 1748 8303 4032 1943</span>
                            <div>Maps to GPS Coordinates: 40.748440 -73.984559</div>
                        </div>
                        <div class="slide-geomain-personalize">
                            <a [routerLink]="['/geomain-name']" class="btn btn-success">Personalize</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="slick-main-slide"
                 [ngStyle]="{'background-image': 'url(' + Helpers.loadImage('slides/bitmap-4.jpg') + ')'}">

                <div class="container">
                    <p>
                        "OUR CUSTOMERS LOVE THE CONVENIENCE AND IT ADDS TO OUR BRAND VALUE."
                    </p>

                    <search (OnSuccess)="onFind($event)"></search>
                </div>

                <div class="slide-footer slide-footer-gray">
                    <div class="container">
                        <div class="slide-geomain-addr">
                            <img src="~Img/maps-geo.png" alt="">
                            <span>AdamsCoffee</span>
                            <div>Leverage the power of branding your Business address with your personalized Geomain Name and QR Code for navigation.</div>
                        </div>
                        <div class="slide-geomain-personalize">
                            <a [routerLink]="['/geomain-name']" class="btn btn-success">Personalize</a>
                        </div>
                        <!--<div class="slide-geomain-personalize">-->
                        <!--<img src="~Img/qr-small.jpg" alt="">-->
                        <!--</div>-->
                    </div>
                </div>

            </div>

            <div class="slick-main-slide"
                 [ngStyle]="{'background-image': 'url(' + Helpers.loadImage('slides/bitmap-5.jpg') + ')'}">

                <div class="container">
                    <p>
                        "ARE YOU STILL WASTING TIME ENTERING LONG
                        ADDRESSES in your SatNav?
                        I can SIMPLY SCAN OR ENTER A GEOMAIN TO NAVIGATE."
                    </p>

                    <search (OnSuccess)="onFind($event)"></search>
                </div>

                <div class="slide-footer slide-footer-big">
                    <div class="container">
                        <div class="slide-geomain-addr">
                            <img src="~Img/qr-small.jpg" alt="" class="qr-image">
                            <span><small>or</small></span>
                            <img src="~Img/maps-geo.png" alt="">
                            <span>Amanda</span>
                            <span><small>or</small></span>
                            <img src="~Img/maps-geo.png" alt="">
                            <span>100 1748 8303 4032 1943</span>
                            <div>Leverage the power of branding your Business address with your personalized Geomain Name and QR Code for navigation.</div>
                        </div>
                        <div class="slide-geomain-personalize" style="padding-top: 10px;">
                            <a [routerLink]="['/geomain-name']" class="btn btn-success">Personalize</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>

    <footer></footer>

</div>