.head-links {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    flex: 1;

    a {
      cursor: pointer;
      display: block;
      height: 36px;
      line-height: 36px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-align: center;
      color: #838a8f;
      border-radius: 10px 10px 0 0;
      background-color: #fcfcfc;
      box-shadow: 0 3px 6px 0 rgba(184, 184, 184, 0.2);
      border: solid 1px rgba(151, 151, 151, 0.06);
      text-decoration: none;
    }
  }

  .active {
    a {
      background: #ff0200;
      color: #fff;
    }
  }

  @media(max-width: 768px) {
    ul {
      flex-direction: column;
    }

    li {
      width: 100%;

      &:first-of-type ~ li {
        a {
          border-radius: 0;
        }
      }
    }
  }
}