<div class="head-links">
    <ul>
        <li routerLinkActive="active"><a routerLink="/geomarket/browse">Buy / Bid</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/add-funds">Transfer</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/customer">List</a></li>
        <li routerLinkActive="active"><a routerLink="/registrar/account/password">Manage</a></li>
    </ul>
</div>